<template>
  <v-container>
    <v-row justify="center">
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="items"
        ></bread-crumb>
      </v-col>
      <v-col
        cols="12"
      >
        <v-row
          class="no-gutters justify-center"
        >
          <v-col
            cols="12"
            sm="8"
            md="6"
          >
            <v-toolbar
              color="primary"
              dark
              flat
            >
              <v-toolbar-title>Reset password</v-toolbar-title>
            </v-toolbar>
            <v-card
              class="pa-4"
            >
              <v-form
                ref="resetPasswordform"
                v-model="valid"
                lazy-validation
                @submit.prevent="handleResetPassword()"
                onSubmit="return false;"
              >
                <v-card-text>
                  <v-text-field
                    v-model="email"
                    :rules="rules.email"
                    placeholder="example@email.com"
                    label="Email"
                    required
                    :prepend-icon="mdiEmail"
                    type="text"
                  ></v-text-field>
                  <v-text-field
                    v-model="password"
                    :rules="rules.password"
                    label="Password"
                    required
                    :prepend-icon="mdiLock"
                    :append-icon="show1 ? mdiEye : mdiEyeOff"
                    :type="show1 ? 'text' : 'password'"
                    @click:append="show1 = !show1"
                  ></v-text-field>
                  <v-text-field
                    v-model="password_confirmation"
                    :rules="[(password === password_confirmation) || 'Password must match']"
                    label="Confirm Password"
                    required
                    :prepend-icon="mdiLock"
                    :append-icon="show2 ? mdiEye : mdiEyeOff"
                    :type="show2 ? 'text' : 'password'"
                    @click:append="show2 = !show2"
                  ></v-text-field>
                </v-card-text>

                <v-card-actions
                  class="justify-center"
                >
                  <v-btn
                    :disabled="!valid"
                    color="primary"
                    type="submit"
                    block
                    :loading="loading"
                  >
                    Reset password
                  </v-btn>
                </v-card-actions>
                <v-card-actions
                  class="justify-center pt-8"
                >
                  Already have an account?
                  <v-btn
                    text
                    to="/login"
                    color="primary"
                  >
                    Sign in
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import { mdiEmail, mdiLock, mdiEye, mdiEyeOff } from '@mdi/js'

  import BreadCrumb from '@/components/global/BreadCrumb';
import { mapActions } from 'vuex';

  export default {
    validate({ query }) {
      return query?.token
    },
    data: () => ({
      mdiEmail,
      mdiLock,
      mdiEye,
      mdiEyeOff,
      items: [
        {
          text: 'Reset password',
          disabled: true,
          to: '/reset-password/',
        }
      ],
      valid: true,
      show1: false,
			show2: false,
      email: '',
      password: '',
      password_confirmation: '',
      rules: {
        email: [
          v => !!v || 'E-mail is required',
          v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
        password: [
          v => !!v || 'Password is required',
          v => v.length >= 6 || 'Password must be less than 6 characters',
        ],
      },
      loading: false
    }),
    components: {
      BreadCrumb,
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "resetPassword"
        ]
      ),
      async handleResetPassword() {
        if(this.$refs.resetPasswordform.validate()){
          try {
            this.loading = true
            await this.resetPassword({
              token: this.$route.query.token,
              email: this.email,
              password: this.password,
              password_confirmation: this.password_confirmation
            })
            .then(response => {
              this.$toast.success(response.data.message, {
                duration: 5000
              })
              this.$router.push({
                path: '/login',
              });
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            })
            .finally(() => {
              this.loading = false
            });
          } catch (error) {
            this.$toast.error(error)
            this.loading = false
          }
				}
      },
    },
  }
</script>
