<template>
  <div>
    <span
      class="text-pre-wrap"
      v-text="getContent"
    ></span>
  </div>
</template>

<script>
  export default {
    props: {
      fillintheblank_content: {
        required: true,
        type: Object
      },
      index: {
        required: true,
        type: Number
      }
    },
    computed: {
      getContent(){
        return this.fillintheblank_content.fillintheblank_contentable?.content ?? '';
      }
    }
  }
</script>
