<template>
  <v-row
    no-gutters
  >
    <v-col
      cols="12"
    >
      <v-text-field
        v-model="fillintheblank_content.fillintheblank_contentable.question.content"
        readonly
        :prefix="`[-${index}-] `"
        placeholder="(Buy) Past simple"
        label="(Write the correct answer)"
      ></v-text-field>
    </v-col>
    <v-col
      v-for="(option, index) in fillintheblank_content.fillintheblank_contentable.question.options"
      :key="index"
      cols="12"
    >
      <v-text-field
        v-model="fillintheblank_content.fillintheblank_contentable.question.options[index].content"
        readonly
        placeholder="My awesone option"
      ></v-text-field>
    </v-col>
  </v-row>
</template>

<script>
  import { mdiDelete, mdiClose, mdiCheckboxBlankOutline, mdiPlus } from '@mdi/js';

  export default {
    props: {
      fillintheblank_content: {
        required: true,
        type: Object
      },
      index: {
        required: true,
        type: Number
      }
    },
    data(){
      return {
        'mdiDelete': mdiDelete,
        'mdiClose': mdiClose,
        'mdiCheckboxBlankOutline': mdiCheckboxBlankOutline,
        'mdiPlus': mdiPlus,
        rules: {
          required: [
            v => !!v || 'This field is required'
          ]
        }
      }
    }
  }
</script>
