<template>
  <v-menu
    bottom
    left
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="primary"
        text
        v-bind="attrs"
        v-on="on"
      >
        Add content
      </v-btn>
    </template>

    <v-list>
      <create-form-unit
        :course="course"
        :contents="contents"
      ></create-form-unit>
      <!-- <v-list-item

        to="messages/create/"
      >
        <v-list-item-title>
          Messages
        </v-list-item-title>
      </v-list-item> -->
    </v-list>
  </v-menu>
</template>

<script>
  import CreateFormUnit from '@/components/units/create/CreateFormUnit';

  export default {
    props: {
      'course': Object,
      'contents': Array,
    },
    data: () => ({
      error: '',
    }),
    components: {
      CreateFormUnit,
    }
  }
</script>
