<template>
  <v-card
    class="mx-auto transition"
  >
    <v-img
      :src="course.logo != null ? `${$config.assetsURL}${course.logo.src}` : 'https://picsum.photos/id/7/2400/800'"
      height="194"
      class="white--text align-start"
      gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
    >
      <v-card-title
        v-text="course.name"
        class="headline"
      >
      </v-card-title>
      <v-card-subtitle
        v-if="group && group['pivot'] != undefined"
        class="white--text"
        v-text="`${group.pivot.role_user}`"
      >
      </v-card-subtitle>
      <v-card-subtitle
        v-if="course && course['pivot'] != undefined"
        class="white--text"
        v-text="`${course.pivot.role_user}`"
      >
      </v-card-subtitle>
      <template
        v-slot:placeholder
      >
        <v-row
          class="fill-height ma-0"
          align="center"
          justify="center"
        >
          <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
        </v-row>
      </template>
    </v-img>
    <v-card-text
      v-text="course.description"
      height="100%"
      class="text-pre-wrap"
    >
    </v-card-text>
    <v-card-actions>
      <add-course-content
        v-if="course != null && course['pivot'] != undefined"
        :course="course"
        :contents="course.contents"
      ></add-course-content>
      <v-spacer></v-spacer>
      <v-btn
        disabled
        icon
      >
        <v-icon>{{mdiHeart}}</v-icon>
      </v-btn>
      <social-sharing
        :url="group ?
          `${$config.webURL}/groups/${group.id}/courses/${course.id}` :
          `${$config.webURL}/courses/${course.id}`
        "
        :title="course.name"
        :description="course.description"
        :media="course.logo != null ? `${$config.assetsURL}${course.logo.src}` : 'https://picsum.photos/id/7/2400/800'"
      ></social-sharing>

      <dots-options-course
        v-if="course != null && course['pivot'] != undefined"
        :course="course"
      >
      </dots-options-course>
    </v-card-actions>
  </v-card>
</template>

<script>
  import { mdiHeart } from '@mdi/js'

  import AddCourseContent from '@/components/courses/show/AddCourseContent';
  import DotsOptionsCourse from '@/components/courses/show/DotsOptionsCourse';
  import SocialSharing from '~/components/global/SocialSharing.vue';

  export default {
    props: {
      'group': {
        type: Object,
        required: false
      }, 'course': {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        'mdiHeart': mdiHeart
      }
    },
    components: {
      AddCourseContent,
      DotsOptionsCourse,
      SocialSharing
    }
  }
</script>
