<template>
  <v-menu
    bottom
    left
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        icon
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>{{mdiDotsVertical}}</v-icon>
      </v-btn>
    </template>

    <v-list>
      <manage-course
        :course="course"
      >
      </manage-course>
      <edit-form-course
        :course="course"
      >
      </edit-form-course>
      <destroy-course
        v-if="course.pivot.role_user == 'Owner'"
        :course="course"
      >
      </destroy-course>
    </v-list>
  </v-menu>
</template>

<script>
  import { mdiDotsVertical } from '@mdi/js'

  import DestroyCourse from '@/components/courses/destroy/DestroyCourse';
  import EditFormCourse from '@/components/courses/edit/EditFormCourse';
  import ManageCourse from '@/components/courses/manage/ManageCourse';

  export default {
    props: {
      'course': Object,
    },
    data: () => ({
      'mdiDotsVertical': mdiDotsVertical,
      error: '',
    }),
    methods: {

    },
    components: {
      DestroyCourse,
      EditFormCourse,
      ManageCourse
    }
  }
</script>
