<template>
  <v-container>
    <v-row
      v-if="!loading"
    >
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="breadcrumbsFormated"
        ></bread-crumb>
      </v-col>
      <v-col
        cols="12"
      >
        <v-card>
          <v-tabs
            v-model="tab"
            grow
          >
            <v-tab>
              Your submits
            </v-tab>
            <v-tab
              v-if="role == 'Owner' || role == 'Admin'"
            >
              Group submits
            </v-tab>
          </v-tabs>

          <v-tabs-items v-model="tab">
            <v-tab-item>
              <user-form-submits-list>
              </user-form-submits-list>
            </v-tab-item>
            <v-tab-item>
              <group-form-submits-list>
              </group-form-submits-list>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import { mdiChevronLeft } from '@mdi/js'
  import { mapState, mapActions } from 'vuex';

  import BreadCrumb from '@/components/global/BreadCrumb';
  import UserFormSubmitsList from '@/components/form-submits/user/UserFormSubmitsList';
  import GroupFormSubmitsList from '@/components/form-submits/group/GroupFormSubmitsList';

  export default {
    middleware: 'auth',
    data: () => ({
      loading: true,
      'mdiChevronLeft': mdiChevronLeft,
      tab: 0
    }),
    computed: {
      ...mapState(
        'breadcrumbs', [
          'breadcrumbs',
          'role'
        ]
      ),
      breadcrumbsFormated(){
        return [
          {
            text: `Groups`,
            disabled: false,
            exact: true,
            to: `/groups/`,
          }, {
            text: `${this.breadcrumbs.group_name}`,
            disabled: false,
            exact: true,
            to: `/groups/${this.breadcrumbs.group_id}/`,
          }, {
            text: `${this.breadcrumbs.course_name}`,
            disabled: false,
            exact: true,
            to: `/groups/${this.breadcrumbs.group_id}/courses/${this.breadcrumbs.course_id}/`,
          }, {
            text: `${this.breadcrumbs.unit_name}`,
            disabled: false,
            exact: true,
            to: `/groups/${this.breadcrumbs.group_id}/courses/${this.breadcrumbs.course_id}/units/${this.breadcrumbs.unit_id}/`,
          }, {
            text: `${this.breadcrumbs.form_name}`,
            disabled: false,
            exact: true,
            to: `/groups/${this.breadcrumbs.group_id}/courses/${this.breadcrumbs.course_id}/units/${this.breadcrumbs.unit_id}/forms/${this.breadcrumbs.form_id}/`,
          }, {
            text: `Submits`,
            disabled: true,
            exact: true,
            to: `/groups/${this.breadcrumbs.group_id}/courses/${this.breadcrumbs.course_id}/units/${this.breadcrumbs.unit_id}/forms/${this.breadcrumbs.form_id}/submits/`,
          }
        ]
      }
    },
    mounted(){
      this.get_breadcrumb_group_form();
    },
    methods: {
      ...mapActions(
        'breadcrumbs', [
          'getBreadcrumbGroupForm'
        ]
      ),
      async get_breadcrumb_group_form(){
        await this.getBreadcrumbGroupForm({
          group_id: this.$route.params.group,
          course_id: this.$route.params.course,
          unit_id: this.$route.params.unit,
          form_id: this.$route.params.form,
        })
        .then(response => {})
        .catch(e => {
          this.$toast.error(e)
        })
        this.loading = false;
      }
    },
    components: {
      BreadCrumb,
      UserFormSubmitsList,
      GroupFormSubmitsList
    },
  }
</script>
