<template>
  <div>
    <v-btn
      v-if="item.is_checked != null && item.is_checked == '1'"
      icon
    >
      <v-icon
        color="success"
      >
        {{mdiCheckBold}}
      </v-icon>
    </v-btn>
    <v-btn
      :color="item.score <= 50 ? 'error' : 'success'"
      plain
    >
      <!-- score: no available -->
      score: {{item.score}}%
    </v-btn>
    <v-btn
      icon
      :to="item.link"
    >
      <v-icon>
        {{mdiMagnify}}
      </v-icon>
    </v-btn>
  </div>
</template>

<script>
  import { mdiCheckBold, mdiMagnify } from "@mdi/js"

  export default {
    props: {
      item: {
        type: Object,
        required: true
      }
    },
    data(){
      return {
        "mdiCheckBold": mdiCheckBold,
        "mdiMagnify": mdiMagnify
      }
    }
  }
</script>
