<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-title
      v-text="form_content.form_contentable.question.content"
      class="text-h6 pb-0 text-pre-wrap"
    >
    </v-card-title>
    <v-card-text
      class="py-0"
    >
      <template
        v-for="(option, index) in form_content.form_contentable.question.options"
      >
        <v-text-field
          :key="index"
          disabled
          :prepend-icon="form_content.form_contentable.question.options[index].correct.is_correct == '1' ? mdiRadioboxMarked : mdiRadioboxBlank"
          :label="form_content.form_contentable.question.options[index].content"
        ></v-text-field>
      </template>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <edit-form-content-select
        :form_content="form_content"
      >
      </edit-form-content-select>
      <destroy-form-content
        :form_content_id="form_content.id"
      >
      </destroy-form-content>
    </v-card-actions>
  </v-card>
</template>

<script>
  import { mdiRadioboxMarked, mdiRadioboxBlank } from '@mdi/js';

  import DestroyFormContent from '@/components/form-contents/destroy/DestroyFormContent';
  import EditFormContentSelect from '@/components/form-contents/select/edit/EditFormContentSelect';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    data(){
      return {
        'mdiRadioboxMarked': mdiRadioboxMarked,
        'mdiRadioboxBlank': mdiRadioboxBlank,
      }
    },
    components: {
      DestroyFormContent,
      EditFormContentSelect
    },
    computed: {
    },
  }
</script>
