<template>
  <v-card
    class="mx-auto transition"
  >
    <nuxt-link
      :to="url"
      class="text-decoration-none"
    >
      <v-img
        :src="course.logo != null ? `${$config.assetsURL}${course.logo.src}` : 'https://picsum.photos/id/7/2400/800'"
        height="194"
        class="white--text align-end"
        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
      >
        <v-card-title
          v-text="str_limit(course.name, 40)"
        >
        </v-card-title>
        <v-card-subtitle
          v-if="course.pivot"
          class="white--text"
          v-text="course.pivot.role_user"
        >
        </v-card-subtitle>
      </v-img>
    </nuxt-link>
    <v-card-text
      v-text="str_limit(course.description, 90)"
      height="100%"
    >
    </v-card-text>
    <v-card-actions>
      <v-btn
        text
        color="primary"
        :to="url"
      >
        <span
          v-text="course.cta_text ? course.cta_text: 'Learn More'"
        ></span>
        <v-icon>
          {{mdiChevronRight}}
        </v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn
        disabled
        icon
      >
        <v-icon>{{mdiHeart}}</v-icon>
      </v-btn>
      <social-sharing
        :url="course['pivot'] ?
          `${$config.webURL}/groups/${course.pivot.group_id}/courses/${course.id}` :
          `${$config.webURL}/courses/${course.id}`
        "
        :title="course.name"
        :media="course.logo != null ? `${$config.assetsURL}${course.logo.src}` : 'https://picsum.photos/id/7/2400/800'"
      ></social-sharing>
    </v-card-actions>
  </v-card>
</template>

<script>
  import { mdiHeart, mdiChevronRight } from '@mdi/js'
  import SocialSharing from '~/components/global/SocialSharing.vue';

  export default {
    components: {
      SocialSharing
    },
    data(){
      return {
        'mdiHeart': mdiHeart,
        'mdiChevronRight': mdiChevronRight
      }
    },
    props: [
      'course',
      'url'
    ],
    methods: {
      str_limit(string, limit){
        return string.length < limit ? string : string.substring(0, limit) + '...'
      }
    }
  }
</script>
