<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
        v-bind="attrs"
        v-on="on"
      >
        <v-list-item-title>
          <v-icon>{{mdiPencil}}</v-icon> Edit
        </v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Edit Form</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row>
              <v-col
                cols="12"
              >
                <v-text-field
                  v-model="name"
                  :rules="rules.name"
                  required
                  :placeholder="form.name"
                  :prepend-icon="mdiTeach"
                  label="Choose a form name"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
              >
                <v-textarea
                  v-model="description"
                  :rules="rules.description"
                  outlined
                  required
                  :placeholder="form.description"
                  label="Description"
                  :prepend-icon="mdiCardText"
                ></v-textarea>
              </v-col>
              <v-col
                cols="12"
                class="pt-0"
              >
                <v-text-field
                  v-model="cta_text"
                  placeholder="Learn more"
                  :prepend-icon="mdiChevronRight"
                  label="CTA text"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="update()"
        >
          Update
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiPencil, mdiTeach, mdiCardText, mdiChevronRight } from '@mdi/js';
  import { mapActions, mapState } from 'vuex';

  export default {
    data: () => ({
      'mdiPencil': mdiPencil,
      'mdiTeach': mdiTeach,
      'mdiCardText': mdiCardText,
      'mdiChevronRight': mdiChevronRight,
      dialog: false,
      valid: false,
      name: '',
      description: '',
      cta_text: '',
      rules: {
        name: [
          v => !!v || 'Name is required'
        ],
        description: [
          v => !!v || 'Description is required'
        ],
      },
    }),
    computed: {
      ...mapState(
        "forms", [
          "form",
        ]
      ),
    },
    mounted(){
      this.name = this.form.name;
      this.description = this.form.description;
      this.cta_text = this.form.cta_text;
    },
    methods:{
      reset () {
        this.name = this.form.name;
        this.description = this.form.description;
        this.cta_text = this.form.cta_text;
        this.dialog = false;
      },
      ...mapActions({
        updateForm: 'forms/updateForm'
      }),
      async update(){
        if(this.$refs.form.validate()){
          let formData = new FormData();
          formData.append('form_id', this.form.id);
          formData.append('name', this.name);
          formData.append('description', this.description);
          formData.append('cta_text', this.cta_text);
          formData.append('_method', 'PUT');

          await this.updateForm(formData)
          .then(response => {
            this.$toast.success(response.data.message)
            this.dialog = false;
          })
          .catch(e => {
            this.$toast.error(e)
          })
        }
      }
    },
  }
</script>
