<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        icon
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>{{mdiPencil}}</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Edit question</span>
      </v-card-title>
      <v-card-text
        class="pb-0"
      >
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row>
              <v-col
                cols="12"
              >
                <v-textarea
                  v-model="aux_form_contentable.question.content"
                  :rules="rules.required"
                  required
                  outlined
                  :placeholder="form_content.form_contentable.question.content"
                  :prepend-icon="mdiText"
                  @focusout="update()"
                  label="Write your question"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiText, mdiPencil, mdiClose, mdiArrowUpThinCircleOutline } from '@mdi/js';

  import { mapActions } from 'vuex';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    data(){
      return {
        'mdiArrowUpThinCircleOutline': mdiArrowUpThinCircleOutline,
        'mdiText': mdiText,
        'mdiPencil': mdiPencil,
        'mdiClose': mdiClose,
        dialog: false,
        valid: false,
        aux_form_contentable: {
          question: {
            content: ''
          },
        },
        rules: {
          required: [
            v => !!v || 'This field is required'
          ],
        },
      }
    },
    mounted(){
      this.aux_form_contentable.question.content = this.form_content.form_contentable.question.content
    },
    methods: {
      ...mapActions({
        updateQuestion: 'forms/updateQuestion'
      }),
      reset () {
        this.aux_form_contentable.question.content = this.form_content.form_contentable.question.content
        this.dialog = false;
      },
      async update(){
        if (this.form_content.form_contentable.question.content != this.aux_form_contentable.question.content) {
          if(this.$refs.form.validate()){
            await this.updateQuestion({
              form_content_id: this.form_content.id,
              question_id: this.form_content.form_contentable.question.id,
              question_content: this.aux_form_contentable.question.content,
              _method: 'PUT'
            })
            .then(response => {
              this.$toast.success(response.data.message)
            })
            .catch(e => {
              this.$toast.error(e)
            })
          }
        }
      }
    },
    computed: {
    },
  }
</script>
