<template>
  <div>
    <v-row
      v-if="aux_content"
      no-gutters
    >
      <v-col
        cols="12"
      >
        <v-text-field
          v-model="aux_content.fillintheblank_contentable.question.content"
          :rules="rules.required"
          required
          :prefix="`[-${index}-] `"
          :placeholder="content.fillintheblank_contentable.question.content"
          :append-icon="contents.length > 2 ? mdiDelete : undefined"
          @focusout="update_fillintheblank_question()"
          @click:append="delete_fillintheblank_content()"
          label="Write your question (select the correct option)"
        ></v-text-field>
      </v-col>
      <v-col
        v-for="(option, index) in aux_content.fillintheblank_contentable.question.options"
        :key="index"
        cols="12"
      >
        <v-text-field
          v-model="aux_content.fillintheblank_contentable.question.options[index].content"
          :rules="rules.required"
          required
          :placeholder="content.fillintheblank_contentable.question.options[index].content"
          :prepend-icon="option.correct.is_correct == 1 ? mdiCheckboxMarked : mdiCheckboxBlankOutline"
          :append-icon="content.fillintheblank_contentable.question.options.length > 1 ? mdiClose : undefined"
          @click:append="delete_fillintheblank_option(option)"
          @focusout="update_fillintheblank_option(option, content.fillintheblank_contentable.question.options[index])"
          @click:prepend="update_correct_fillintheblank_select(option)"
          label="Write your option"
        ></v-text-field>
      </v-col>
      <v-col
        cols="12"
      >
        <v-card
          @click="add_fillintheblank_option()"
          elevation="0"
        >
          <v-text-field
            disabled
            :prepend-icon="mdiPlus"
            label="Add new option"
          ></v-text-field>
        </v-card>
      </v-col>
    </v-row>
    <v-overlay
      :value="loading"
      absolute
    >
      <v-progress-circular
        indeterminate
        size="64"
      ></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
  import { mdiDelete, mdiClose, mdiCheckboxMarked, mdiCheckboxBlankOutline, mdiPlus } from '@mdi/js';
  import { mapActions } from "vuex";

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      },
      contents: {
        required: true,
        type: Array
      },
      content: {
        required: true,
        type: Object
      },
      index: {
        required: true,
        type: Number
      }
    },
    data(){
      return {
        'mdiDelete': mdiDelete,
        'mdiClose': mdiClose,
        'mdiCheckboxMarked': mdiCheckboxMarked,
        'mdiCheckboxBlankOutline': mdiCheckboxBlankOutline,
        'mdiPlus': mdiPlus,
        aux_content: null,
        loading: false,
        rules: {
          required: [
            v => !!v || 'This field is required'
          ]
        }
      }
    },
    mounted(){
      this.clone_content();
    },
    methods: {
      ...mapActions(
        "forms/update/fillintheblanks", [
          'updateFillintheblankQuestion',
          'deleteFillintheblankContent',
          'addFillintheblankOption',
          'updateFillintheblankOption',
          'updateCorrectFillintheblankSelect',
          'deleteFillintheblankOption',
        ]
      ),
      clone_content(){
        this.aux_content = JSON.parse(JSON.stringify(this.content));
      },
      async update_fillintheblank_question(){
        if (this.aux_content.fillintheblank_contentable.question.content && this.content.fillintheblank_contentable.question.content != this.aux_content.fillintheblank_contentable.question.content) {
          this.loading = true;
          await this.updateFillintheblankQuestion({
            "form_id": this.form_content.form_id,
            "form_content_id": this.form_content.id,
            "form_content_fillintheblank_id": this.content.id,
            "fillintheblank_content_id": this.content.form_content_fillintheblank_id,
            "content": this.aux_content.fillintheblank_contentable.question.content,
            _method: 'PUT'
          })
          .then(response => {
            this.clone_content();
            this.$toast.success(response.data.message)
          })
          .catch(e => {
            this.$toast.error(e)
          })
          this.loading = false;
        }
      },
      async add_fillintheblank_option(){
        this.loading = true;
        await this.addFillintheblankOption({
          "form_id": this.form_content.form_id,
          "form_content_id": this.form_content.id,
          "form_content_fillintheblank_id": this.content.id,
          "fillintheblank_content_id": this.content.form_content_fillintheblank_id,
        })
        .then(response => {
          this.$toast.success(response.data.message)
        })
        .catch(e => {
          this.$toast.error(e)
        })
        this.loading = false;
      },
      async update_fillintheblank_option(newOption, oldOption){
        if (newOption.content != "" && newOption.content != oldOption.content) {
          this.loading = true;
          await this.updateFillintheblankOption({
            "form_id": this.form_content.form_id,
            "form_content_id": this.form_content.id,
            "form_content_fillintheblank_id": this.content.id,
            "fillintheblank_content_id": this.content.form_content_fillintheblank_id,
            "option_id": newOption.id,
            "content": newOption.content,
            _method: 'PUT'
          })
          .then(response => {
            this.$toast.success(response.data.message)
          })
          .catch(e => {
            this.$toast.error(e)
          })
          this.loading = false;
        }
      },
      async delete_fillintheblank_content() {
        this.loading = true;
        await this.deleteFillintheblankContent({
          "form_id": this.form_content.form_id,
          "form_content_id": this.form_content.id,
          "form_content_fillintheblank_id": this.content.id,
          "fillintheblank_content_id": this.content.form_content_fillintheblank_id,
        })
        .then(response => {
          this.$toast.success(response.data.message)
        })
        .catch(e => {
          this.$toast.error(e)
        })
        this.loading = false;
      },
      async delete_fillintheblank_option(option){
        this.loading = true;
        await this.deleteFillintheblankOption({
          "form_id": this.form_content.form_id,
          "form_content_id": this.form_content.id,
          "form_content_fillintheblank_id": this.content.id,
          "fillintheblank_content_id": this.content.form_content_fillintheblank_id,
          "option_id": option.id,
        })
        .then(response => {
          this.$toast.success(response.data.message)
        })
        .catch(e => {
          this.$toast.error(e)
        })
        this.loading = false;
      },
      async update_correct_fillintheblank_select(option){
        this.loading = true;
        await this.updateCorrectFillintheblankSelect({
          "form_id": this.form_content.form_id,
          "form_content_id": this.form_content.id,
          "form_content_fillintheblank_id": this.content.id,
          "fillintheblank_content_id": this.content.form_content_fillintheblank_id,
          "option_id": option.id,
          _method: 'PUT'
        })
        .then(response => {
        })
        .catch(e => {
          this.$toast.error(e)
        })
        this.loading = false;
      },
    }
  }
</script>
