<template>
  <div
    v-if="aux_content"
    class="pb-6"
  >
    <v-textarea
      v-model="aux_content.fillintheblank_contentable.content"
      :rules="rules.required"
      required
      outlined
      :placeholder="content.fillintheblank_contentable.content"
      :prepend-icon="mdiFormTextbox"
      @focusout="update_content_fillintheblank_text_content()"
      label="Write your paragraph"
    ></v-textarea>
    <p
      class="text-caption ma-0"
    >
      You should use the following characters <span class="font-weight-black">[-n-]</span> to mark your question field in the paragraph.
    </p>
    <p
      class="text-caption ma-0"
    >
      Ex. "Cum sociis natoque penatibus et <span class="font-weight-black">[-1-]</span> vestibulum facilisis <span class="font-weight-black">[-2-]</span> nec pulvinar."
    </p>
  </div>
</template>

<script>
  import { mapActions } from "vuex";
  import { mdiFormTextbox } from '@mdi/js';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      },
      contents: {
        required: true,
        type: Array
      },
      content: {
        required: true,
        type: Object
      },
      index: {
        required: true,
        type: Number
      }
    },
    data(){
      return {
        'mdiFormTextbox': mdiFormTextbox,
        aux_content: null,
        rules: {
          required: [
            v => !!v || 'This field is required'
          ]
        }
      }
    },
    mounted(){
      this.clone_content();
    },
    methods: {
      ...mapActions(
        "forms/update/fillintheblanks", [
          "updateContentFillintheblankTextContent"
        ]
      ),
      clone_content(){
        this.aux_content = JSON.parse(JSON.stringify(this.content));
      },
      async update_content_fillintheblank_text_content(){
        if (this.aux_content.fillintheblank_contentable.content != "" && this.aux_content.fillintheblank_contentable.content != this.content.fillintheblank_contentable.content) {
          await this.updateContentFillintheblankTextContent({
            "form_id": this.form_content.form_id,
            "form_content_id": this.form_content.id,
            "form_content_fillintheblank_id": this.content.id,
            "fillintheblank_content_id": this.content.form_content_fillintheblank_id,
            "content": this.aux_content.fillintheblank_contentable.content
          })
          .then((response) => {
            this.clone_content();
            this.$toast.success(response.data.message)
          })
          .catch((e) => {
            this.$toast.success(e)
          })
        }
      }
    }
  }
</script>
