<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-text
      class="primary white--text py-2"
    >
      <p
        v-html="getQuestion()"
        class="text-h6 text-pre-wrap pa-0 ma-0"
      ></p>
      <span
        class="text-caption"
      >
        {{answers.length > 1 ? `${answers.length} answers` : `${answers.length} answer`}}
      </span>
    </v-card-text>
    <v-card-text
      v-if="answers.length == 0"
      class="pt-0"
    >
      <p
        class="text-h6"
      >
        Upps you don't have sufficient answers yet.
      </p>
    </v-card-text>
    <v-card-text
      v-else
    >
      <v-card
        v-for="(question_id, index) in getUniqueQuestionIds()"
        :key="index"
        outlined
        class="elevation-0 mb-4"
      >
        <v-card-text
          class="accent py-2"
        >
          <p
            v-if="getQuestionContentById(question_id)"
            v-text="`${getQuestionContentById(question_id)} [-${index + 1}-]`"
            class="mb-0"
          ></p>
          <p
            v-else
            v-text="`Not found [-${index + 1}-]`"
            class="mb-0"
          ></p>
        </v-card-text>
        <horizontal-bar-chart
          :chartData="getChartDataByQuestionId(question_id)" :options="chartOptions" :height="200"
        />
      </v-card>
    </v-card-text>
  </v-card>
</template>

<script>
  import { mapState } from 'vuex';

  import HorizontalBarChart from '@/components/charts/HorizontalBarChart';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    data(){
      return {
        chartOptions: {
          responsive: true,
          legend: {
            display: false,
          },
          title: {
            display: false,
          },
          tooltips: {
            backgroundColor: '#17BF62'
          },
          scales: {
            xAxes: [
              {
                ticks: {
                  beginAtZero: true,
                  precision:0
                },
                gridLines: {
                  display: false
                }
              }
            ],
            yAxes: [
              {
                gridLines: {
                  display: false
                }
              }
            ]
          }
        }
      }
    },
    computed: {
      ...mapState(
        "forms", [
          "group",
        ]
      ),
      answers(){
        let auxReturn = [];
        for (let x = 0; x < this.form_content.form_contentable.contents.length; x++) {
          const content = this.form_content.form_contentable.contents[x];
          for (let i = 0; i < content.fillintheblank_contentable.question?.answers.length; i++) {
            const element = content.fillintheblank_contentable.question?.answers[i];
            element.question_content = content.fillintheblank_contentable.question?.content;
            if (this.group != null) {
              if (element.group_id == this.group.id) {
                auxReturn.push(element);
              }
            }else {
              auxReturn.push(element);
            }
          }
        }
        return auxReturn;
      }
    },
    methods: {
      getQuestionContentById(question_id){
        const auxReturn = this.answers.find(item => item.question_id == question_id)
        return auxReturn.question_content
      },
      getUniqueQuestionIds(){
        return [...new Set(this.answers.map(item => item.question_id))];
      },
      getChartDataByQuestionId(question_id){
        let auxReturn = {};

        let data = {
          labels: [],
          values: [],
          backgroundColor: [],
        };
        const answerByQuestionId = this.answers.filter((answer) => answer.question_id == question_id)

        const unique = [...new Set(answerByQuestionId.map(item => item.content))];

        for (let i = 0; i < unique.length; i++) {
          let count = 0;
          for (let y = 0; y < answerByQuestionId.length; y++) {
            const element = answerByQuestionId[y];
            if (unique[i] == element.content) {
              count++
            }
          }
          if (unique[i] == '') {
            data.labels.push('Empty answers 😩');
          }else {
            data.labels.push(`${unique[i]}`);
          }
          data.values.push(count);
          data.backgroundColor.push(this.randomColor());
        }

        auxReturn = {
          labels: data.labels,
          datasets: [
            {
              label: 'Answers',
              data: data.values,
              backgroundColor: data.backgroundColor
            },
          ]
        };

        return auxReturn;
      },
      randomColor() {
        const r = () => Math.floor(256 * Math.random());

        return `rgb(${r()}, ${r()}, ${r()})`;
      },
      getQuestion(){
        let auxReturn = '';
        for (let i = 0; i < this.form_content.form_contentable.contents.length; i++) {
          const content = this.form_content.form_contentable.contents[i];
          if (content.fillintheblank_contentable_type == 'App\\Models\\FillintheblankText') {
            auxReturn = content.fillintheblank_contentable?.content;
            break;
          }
        }
        return auxReturn;
      },
    },
    components: {
      HorizontalBarChart
    }
  }
</script>
