<template>
  <v-container>
    <v-row>
      <p v-if="$fetchState.pending"></p>
      <v-col
        v-else-if="$fetchState.error"
        class="d-flex justify-center align-center"
      >
        <h2>An error occurred 😭</h2>
      </v-col>
      <template
        v-else
      >
        <v-col
          cols="12"
        >
          <bread-crumb
            :items="items"
          ></bread-crumb>
        </v-col>
        <v-col
          cols="12"
        >

          <v-row
            class="no-gutters"
            justify="center"
          >
            <v-col
              cols="12"
              sm="8"
              class="text-center mb-4"
            >
              <h2
                v-if="groups.length <= 0"
              >
                Upps you don't have any groups yet. You can press the below button to create your first group!
              </h2>
              <h2
                v-else
              >
                Press the below button to create a group!
              </h2>
            </v-col>
          </v-row>
          <v-row
            class="no-gutters"
            justify="center"
          >
            <v-col
              cols="12"
              sm="8"
              md="6"
              class="text-center"
            >
              <create-form-group></create-form-group>
            </v-col>
          </v-row>
          <v-row
            v-if="groups.length > 0"
            class="mt-8"
          >
            <v-col
              cols="12"
            >
              <h2
                v-html="'Your groups'"
              ></h2>
            </v-col>
          </v-row>
          <v-row
            v-if="groups.length > 0"
          >
            <v-col
              v-for="(group, index) in groups"
              cols="12"
              sm="6"
              md="6"
              :key="index"
            >
              <group-card
                :group="group"
              >
              </group-card>
            </v-col>
          </v-row>
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script>
  import { mapActions, mapState } from "vuex"
  import BreadCrumb from '@/components/global/BreadCrumb';
  import CreateFormGroup from '@/components/groups/create/CreateFormGroup';
  import GroupCard from '@/components/groups/index/GroupCard';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Groups',
          disabled: true,
          to: '/groups/',
        }
      ]
    }),
    components: {
      BreadCrumb,
      CreateFormGroup,
      GroupCard
    },
    computed: {
      ...mapState(
        "groups", [
          "groups"
        ]
      )
    },
    async fetch() {
      await this.getGroups()
    },
    methods:{
      ...mapActions(
        "groups", [
          'getGroups',
        ]
      )
    },
  }
</script>
