<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="800px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
        v-bind="attrs"
        v-on="on"
      >
        <v-list-item-title>
          Video
        </v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Add Video</span>
      </v-card-title>
      <v-card-text
        class="pb-0"
      >
        <v-container>
          <v-text-field
            v-model="content"
            label="Enter video"
            persistent-hint
            required
            outlined
            placeholder="Embed url video"
            :prepend-icon="mdiVideo"
          ></v-text-field>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="create()"
          :disabled="content == ''"
        >
          Create
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiVideo } from '@mdi/js'
  import { mapActions, mapState } from 'vuex';

  export default {
    data: () => ({
      'mdiVideo': mdiVideo,
      dialog: false,
      valid: false,
      content: '',
    }),
    methods:{
      ...mapActions(
        'forms', [
          "addFormContentVideo"
        ]
      ),
      reset () {
        this.dialog = false;
      },
      async create(){
        await this.addFormContentVideo({
          content: this.content,
        })
        .then(response => {
          this.content = '';
          this.$toast.success(response.data.message)
          this.reset();
        })
        .catch(e => {
          this.$toast.error(e)
        })
      }
    }
  }
</script>
