<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="800px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        v-on="on"
        icon
      >
        <v-icon>{{mdiPencil}}</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Edit link</span>
      </v-card-title>
      <v-card-text
        class="pb-0"
      >
        <v-container>
          <v-text-field
            v-model="aux_form_contentable.content"
            label="Enter link"
            persistent-hint
            required
            outlined
            placeholder="Embed link"
            :prepend-icon="mdiLink"
          ></v-text-field>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="update()"
          :disabled="aux_form_contentable.content == ''"
        >
          Update
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiPencil, mdiLink } from '@mdi/js'

  import { mapActions } from 'vuex';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    data: () => ({
      'mdiPencil': mdiPencil,
      'mdiLink': mdiLink,
      dialog: false,
      valid: false,
      aux_form_contentable: {
        content: ''
      },
    }),
    mounted(){
      this.aux_form_contentable.content = this.form_content.form_contentable.content
    },
    methods:{
      ...mapActions(
        'forms', [
          "editFormContentLink"
        ]
      ),
      reset () {
        this.aux_form_contentable.content = this.form_content.form_contentable.content
        this.dialog = false;
			},
      async update() {
        if(this.aux_form_contentable.content != ''){
          await this.editFormContentLink({
            form_content_id: this.form_content.id,
            content: this.aux_form_contentable.content,
          })
          .then(response => {
            this.$toast.success(response.data.message)
            this.reset();
          })
          .catch(e => {
            this.$toast.error(e)
          })
				}
      },
    },
  }
</script>
