<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-if="type == 'sidebar'"
        color="primary"
        text
        small
        v-bind="attrs"
        v-on="on"
      >
        <v-icon left v-text="mdiPlus"></v-icon>
        Create course
      </v-btn>
      <v-btn
        v-else
        color="primary"
        rounded
        v-bind="attrs"
        v-on="on"
      >
        Create course
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">New Course</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row>
              <v-col
                v-if="preview"
                cols="12"
              >
                <preview-image
                  :preview="preview"
                >
                </preview-image>
              </v-col>
              <v-col
                cols="12"
                sm="6"
              >
                <v-text-field
                  v-model="name"
                  :rules="rules.name"
                  required
                  placeholder="My awesone course"
                  :prepend-icon="mdiTeach"
                  label="Choose a course name"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="6"
              >
                <v-file-input
                  v-model="image"
                  :rules="rules.image"
                  ref='file'
                  accept="image/png, image/jpeg, image/bmp"
                  placeholder="Pick a logo"
                  :prepend-icon="mdiCamera"
                  @change="update"
                ></v-file-input>
              </v-col>
              <v-col
                cols="12"
              >
                <v-textarea
                  v-model="description"
                  :rules="rules.description"
                  outlined
                  required
                  label="Description"
                  :prepend-icon="mdiCardText"
                ></v-textarea>
              </v-col>
              <v-col
                cols="12"
                class="pt-0"
              >
                <v-text-field
                  v-model="cta_text"
                  placeholder="Learn more"
                  :prepend-icon="mdiChevronRight"
                  label="CTA text"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="create()"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiTeach, mdiCamera, mdiCardText, mdiChevronRight, mdiPlus } from '@mdi/js'

  import PreviewImage from '@/components/global/PreviewImage';
  import { mapActions } from 'vuex';

  export default {
    props: {
      type: {
        required: false,
        default: 'index',
        type: String
      }
    },
    data: () => ({
      mdiPlus,
      mdiTeach,
      mdiCamera,
      mdiCardText,
      mdiChevronRight,
      dialog: false,
      valid: false,
      error: '',
      preview: null,
      name: '',
      image: null,
      description: '',
      cta_text: '',
      rules: {
        name: [
          v => !!v || 'Name is required'
        ],
        image: [
          value => !value || value.size < 20000000 || 'Image size should be less than 20 MB!',
        ],
        description: [
          v => !!v || 'Description is required'
        ],
      },
    }),
    methods:{
      ...mapActions("courses", [
        "createCourse"
      ]),
      reset () {
        this.name = null;
        this.description = null;
        this.cta_text = null;
				this.preview = null;
        this.dialog = false;
			},
      update(e) {
				if((typeof e != 'undefined') && e != null){
					var re = /(?:\.([^.]+))?$/;
					var ext = re.exec(e.name)[1];

					if(ext.search(/jpg|jpeg|png|gif|bmp|svg/i) != -1){
						this.preview = {
							src: URL.createObjectURL(e),
							title: e.name,
						};
					}
				}else{
          this.preview = null;
        }
      },
      async create() {
        if(this.$refs.form.validate()){
          try {
            let formData = new FormData();
            formData.append('files-0', this.image);
            formData.append('name', this.name);
            formData.append('description', this.description);
            formData.append('cta_text', this.cta_text);

            await this.createCourse(formData)
            .then(response => {
              this.reset();
              this.$toast.success(response.data.message)
            })
            .catch(error => {
              console.log(error);
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            console.log(error);
            this.$toast.error(error)
          }
				}
      },
    },
    components: {
      PreviewImage
    }
  }
</script>
