<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-title
      v-text="form_content.form_contentable.question.content"
      class="text-h6 text-pre-wrap"
    >
    </v-card-title>
    <v-card-text
      class="pb-0"
    >
      <v-text-field
        class="pt-0"
        disabled
        label=""
      ></v-text-field>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <edit-form-content-question
        :form_content="form_content"
      >
      </edit-form-content-question>
      <destroy-form-content
        :form_content_id="form_content.id"
      >
      </destroy-form-content>
    </v-card-actions>
  </v-card>
</template>

<script>
  import DestroyFormContent from '@/components/form-contents/destroy/DestroyFormContent';
  import EditFormContentQuestion from '@/components/form-contents/question/edit/EditFormContentQuestion';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    components: {
      DestroyFormContent,
      EditFormContentQuestion
    },
    computed: {

    }
  }
</script>
