<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="items"
        ></bread-crumb>
      </v-col>
      <v-col
        cols="12"
      >
        <template
          v-if="loading == false"
        >
          <v-row
            class="no-gutters"
            justify="center"
          >
            <v-col
              cols="12"
              sm="8"
              class="text-center mb-4"
            >
              <h2
                v-if="forms.length <= 0"
              >
                Upps you don't have any form yet. You can press the below button to create your first form!
              </h2>
              <h2
                v-else
              >
                Press the below button to create a new form!
              </h2>
            </v-col>
          </v-row>
          <v-row
            class="no-gutters"
            justify="center"
          >
            <v-col
              cols="12"
              sm="8"
              md="6"
              class="text-center"
            >
              <create-forms
                :forms="forms"
              ></create-forms>
            </v-col>
          </v-row>
          <v-row
            v-if="forms.length > 0"
            class="mt-8"
          >
            <v-col
              cols="12"
            >
              <h2
                v-html="'Your forms'"
              ></h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              v-for="(form) in forms"
              cols="12"
              sm="6"
              md="4"
              :key="form.id"
            >
              <content-card
                :content="form"
                :url="`/forms/${form.id}/`"
              >
              </content-card>
            </v-col>
          </v-row>
        </template>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  import BreadCrumb from '@/components/global/BreadCrumb';
  import CreateForms from '@/components/forms/create/CreateForms';
  import ContentCard from '@/components/global/ContentCard';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Forms',
          disabled: true,
          to: '/forms/',
        }
      ],
      loading: true,
    }),
    components: {
      BreadCrumb,
      CreateForms,
      ContentCard
    },
    computed: {
      ...mapState(
        "forms", [
          "forms",
        ]
      ),
    },
    async mounted() {
      await this.getForms()
      .then(response => {
        this.loading = false;
      })
      .catch(e => {
        this.$toast.error(e)
      })
    },
    computed: {
      ...mapState({
        forms: state => state.forms.forms
      })
    },
    methods: {
      ...mapActions({
        getForms: 'forms/getForms'
      }),
    }
  }
</script>
