<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="800px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        v-on="on"
        icon
      >
        <v-icon>{{mdiPencil}}</v-icon>
      </v-btn>
    </template>
    <v-card
      class="fill-height"
    >
      <v-form
        ref="form"
        v-model="valid"
        @submit.prevent
        onSubmit="return false;"
      >
        <v-card-title>
          <span class="headline">Add images</span>
        </v-card-title>
        <v-card-text
          class="pb-0"
        >
          <v-container>
            <v-row>
              <v-col>
                <v-file-input
                  ref='file'
                  v-model="files"
                  accept="image/png, image/jpeg, image/bmp"
                  color="deep-purple accent-4"
                  label="Add new images"
                  :prepend-icon="mdiImage"
                  outlined
                  multiple
                  :rules="rules.files"
                  :show-size="1000"
                >
                </v-file-input>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <template
          v-if="form_content.form_contentable.contents.length > 0"
        >
          <v-card-title>
            <span class="headline">Edit images</span>
          </v-card-title>
          <v-card-text
            class="pb-0"
          >
            <v-container>
              <v-row>
                <template
                  v-for="(image, index) in form_content.form_contentable.contents"
                >
                  <v-col
                    :key="index"
                    cols="6"
                    sm="3"
                    md="2"
                    lg="2"
                  >
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on: tooltip }">
                        <v-card
                          class="transition"
                        >
                          <v-img
                            v-on="tooltip"
                            :src="`${$config.assetsURL}${image.src}`"
                            aspect-ratio="1"
                            class="grey lighten-2"
                          >
                            <template v-slot:placeholder>
                              <v-row
                                class="fill-height ma-0"
                                align="center"
                                justify="center"
                              >
                                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                              </v-row>
                            </template>
                          </v-img>
                        </v-card>
                      </template>
                      <span>{{image.title}}</span>
                    </v-tooltip>
                    <div
                      class="text-center mt-2"
                    >
                      <!-- <update-form-content-image
                        :image="image"
                      >
                      </update-form-content-image> -->
                      <destroy-form-content-image
                        :image="image"
                        :form_content="form_content"
                      >
                      </destroy-form-content-image>
                    </div>
                  </v-col>
                </template>
              </v-row>
            </v-container>
          </v-card-text>
        </template>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="reset()"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="append_image()"
            :disabled="!valid"
          >
            Add images
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiPencil, mdiImage } from '@mdi/js'

  import { mapActions } from 'vuex';

  import DestroyFormContentImage from '@/components/form-contents/image/destroy/DestroyFormContentImage';
  import UpdateFormContentImage from '@/components/form-contents/image/update/UpdateFormContentImage';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    data: () => ({
      'mdiPencil': mdiPencil,
      'mdiImage': mdiImage,
      dialog: false,
      valid: false,
      files: [],
      rules: {
        files: []
      },
    }),
    components: {
      DestroyFormContentImage,
      UpdateFormContentImage
    },
    mounted(){
      this.rules.files = [
        v => !!v || 'File is required',
        v => (v && v.length > 0) || 'File is required',
        v => !v.length || v.reduce((size, file) => size + file.size, 0) < 20000000 || 'Files size should be less than 20 MB!',
      ]
    },
    methods:{
      ...mapActions(
        'forms', [
          "appendFormContentImage"
        ]
      ),
      reset () {
        this.dialog = false;
			},
      async append_image() {
        if(this.$refs.form.validate()){
          await this.appendFormContentImage({
            'form_content_id': this.form_content.id,
            'contents': this.files
          })
          .then(response => {
            this.files = [];
            this.$toast.success(response.data.message)
            this.reset();
          })
          .catch(e => {
            this.$toast.error(e)
          })
        }
      },
    },
  }
</script>
