<template>
  <v-col
    cols="12"
    sm="8"
    md="7"
  >
    <v-toolbar
      color="primary"
      dark
      flat
    >
      <v-toolbar-title>Change your password</v-toolbar-title>
    </v-toolbar>
    <v-card
      class="pa-6"
    >
      <v-row>
        <v-col
          cols="12"
        >
          <v-form
            ref="formPassword"
            v-model="valid"
            lazy-validation
            @submit.prevent
            onSubmit="return false;"
          >
            <v-card-text>
              <v-text-field
                v-model="old_password"
                :rules="[
                  v => !!v || 'Password is required',
                  v => (v && v.length >= 6) || 'Password must be less than 6 characters',
                  (old_password != password) || 'The password must be different'
                ]"
                label="Old Password"
                required
                :prepend-icon="mdiLock"
                :append-icon="show1 ? mdiEye : mdiEyeOff"
                :type="show1 ? 'text' : 'password'"
                @click:append="show1 = !show1"
              ></v-text-field>
              <v-text-field
                v-model="password"
                :rules="[
                  v => !!v || 'Password is required',
                  v => (v && v.length >= 6) || 'Password must be less than 6 characters',
                  (old_password != password) || 'The password must be different'
                ]"
                label="New Password"
                required
                :append-icon="show2 ? mdiEye : mdiEyeOff"
                :type="show2 ? 'text' : 'password'"
                @click:append="show2 = !show2"
              ></v-text-field>
              <v-text-field
                v-model="password_confirmation"
                :rules="[(password === password_confirmation) || 'Password must match']"
                label="Confirm Password"
                required
                :append-icon="show3 ? mdiEye : mdiEyeOff"
                :type="show3 ? 'text' : 'password'"
                @click:append="show3 = !show3"
              ></v-text-field>
            </v-card-text>

            <v-card-actions
              class="justify-center"
            >
              <v-btn
                :disabled="!valid"
                color="primary"
                type="submit"
                @click="update_password()"
              >
                Change Password
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-col>
      </v-row>
    </v-card>
  </v-col>
</template>

<script>
  import { mdiLock, mdiEye, mdiEyeOff } from '@mdi/js'

  export default {
    data: () => ({
      'mdiLock': mdiLock,
      'mdiEye': mdiEye,
      'mdiEyeOff': mdiEyeOff,
      valid: true,
      show1: false,
      show2: false,
      show3: false,
      old_password: '',
      password: '',
      password_confirmation: '',
      rules: {
        password: [],
      }
    }),
    computed: {
      different_password(){
        return (this.old_password != this.password) || 'The password must be different';
      }
    },
    methods: {
      async update_password() {
        if(this.$refs.formPassword.validate()){
          try {
            await this.$axios.put('/api/user/password', {
              password: this.password,
              password_confirmation: this.password_confirmation
            })
            .then(response => {
              this.$refs.formPassword.reset();
              this.$toast.success(response.data.message)
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
    },
  }
</script>
