<template>
  <v-col
    cols="12"
    sm="8"
    md="7"
  >
    <v-toolbar
      color="primary"
      dark
      flat
    >
      <v-toolbar-title>Profile</v-toolbar-title>
    </v-toolbar>
    <v-card
      class="pa-6"
    >
      <v-row
        class="no-gutters justify-center"
      >
        <v-col
          cols="12"
          md="6"
        >
          <v-form
            ref="formName"
            v-model="validFormName"
            lazy-validation
            @submit.prevent
            onSubmit="return false;"
          >
            <v-card-text>
              <v-text-field
                v-model="new_name"
                :rules="rules.name"
                :placeholder="$auth.user.name"
                label="First Last"
                required
                :prepend-icon="mdiAccount"
                type="text"
              ></v-text-field>
            </v-card-text>

            <v-card-actions
              class="justify-center"
            >
              <v-btn
                :disabled="!validFormName"
                color="primary"
                type="submit"
                @click="update_name()"
              >
                Update name
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-col>
        <v-col
          cols="12"
          md="6"
        >
          <v-form
            ref="formEmail"
            v-model="validFormEmail"
            lazy-validation
            @submit.prevent
            onSubmit="return false;"
          >
            <v-card-text>
              <v-text-field
                v-model="new_email"
                :rules="rules.email"
                :placeholder="$auth.user.email"
                label="Email"
                required
                :prepend-icon="mdiEmail"
                type="text"
              ></v-text-field>
            </v-card-text>

            <v-card-actions
              class="justify-center"
            >
              <v-btn
                :disabled="!validFormEmail"
                color="primary"
                type="submit"
                @click="update_email()"
              >
                Update email
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-col>
      </v-row>
    </v-card>
  </v-col>
</template>

<script>
  import { mdiAccount, mdiEmail } from '@mdi/js'

  export default {
    data: () => ({
      'mdiAccount': mdiAccount,
      'mdiEmail': mdiEmail,
      validFormName: true,
      validFormEmail: true,
      old_name: '',
      new_name: '',
      old_email: '',
      new_email: '',
      rules: {
        name: [],
        email: [],
      }
    }),
    mounted(){
      this.old_name = this.$auth.user.name;
      this.old_email = this.$auth.user.email;

      this.rules.name = [
        v => !!v || 'Name is required',
        v => (this.old_name != v) || 'The name must be different'
      ];

      this.rules.email = [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        v => (this.old_email != v) || 'The email must be different'
      ];
    },
    methods: {
      async update_name() {
        if(this.$refs.formName.validate()){
          try {
            await this.$axios.put('/api/user/name', {
              name: this.new_name,
            })
            .then(response => {
              const updatedUser = {...this.$auth.user}
              updatedUser.name = this.new_name;
              this.$auth.setUser(updatedUser)

              this.$refs.formName.reset();
              this.old_name = this.$auth.user.name;
              this.$toast.success(response.data.message)
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
      async update_email() {
        if(this.$refs.formEmail.validate()){
          try {
            await this.$axios.put('/api/user/email', {
              email: this.new_email,
            })
            .then(response => {
              const updatedUser = {...this.$auth.user}
              updatedUser.email = this.new_email;
              this.$auth.setUser(updatedUser)

              this.$refs.formEmail.reset();
              this.old_email = this.$auth.user.email;
              this.$toast.success(response.data.message)
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
    },
  }
</script>
