<template>
  <v-row
    v-if="!loading"
  >
    <v-col
      cols="12"
    >
      <v-list
        subheader
      >
        <v-subheader
          v-text="`${breadcrumbs.form_name}`"
        >
        </v-subheader>
        <v-list-group
          v-for="(user, index) in groupFormSubmits"
          :key="index"
          no-action
          color="primary"
        >
          <template v-slot:activator>
            <v-list-item-avatar
              class="justify-center"
            >
              <v-avatar
                color="indigo"
              >
                <span class="white--text headline">
                  {{ user.name.charAt(0) }}
                </span>
              </v-avatar>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title
                v-text="user.name"
              ></v-list-item-title>

              <v-list-item-subtitle
                v-text="user.email"
              ></v-list-item-subtitle>
              <v-list-item-subtitle
                v-text="user.role_user"
              ></v-list-item-subtitle>
            </v-list-item-content>
          </template>
          <template
            v-if="user.form_submits.length > 0"
          >
            <v-list-item
              v-for="(submit, index) in user.form_submits"
              :key="index"
              :to="`/groups/${$route.params.group}/courses/${$route.params.course}/units/${$route.params.unit}/forms/${$route.params.form}/submits/${submit.id}/`"
            >
              <v-list-item-content>
                <v-list-item-title>
                  <div
                    class="d-flex"
                  >
                    <p
                      class="mb-0"
                    >
                      {{submit.date}}
                    </p>
                    <v-spacer></v-spacer>
                    <div>
                      <v-icon
                        v-if="submit.is_checked == '1'"
                        color="success"
                      >
                        {{mdiCheckBold}}
                      </v-icon>
                      <v-btn
                        :color="submit.score <= 50 ? 'error' : 'success'"
                        plain
                      >
                        <!-- score: no available -->
                        score: {{submit.score}}%
                      </v-btn>
                    </div>
                  </div>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <template
            v-else
          >
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title v-text="`No submits found 😩`"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list-group>
      </v-list>
    </v-col>
  </v-row>
  <v-row
    v-else
    no-gutters
  >
    <v-col
      v-for="i in 3"
      :key="i"
      cols="12"
    >
      <v-skeleton-loader
        v-bind="attrs"
        type="list-item-avatar-three-line"
      ></v-skeleton-loader>
    </v-col>
  </v-row>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import { mdiCheckBold } from '@mdi/js';

  export default {
    middleware: 'auth',
    data: () => ({
      loading: true,
      'mdiCheckBold': mdiCheckBold,
      attrs: {
        boilerplate: true,
      }
    }),
    computed: {
      ...mapState(
        "form-submits", [
          "groupFormSubmits"
        ]
      ),
      ...mapState(
        "breadcrumbs", [
          "breadcrumbs"
        ]
      )
    },
    mounted() {
      this.get_group_form_submits();
    },
    methods: {
      ...mapActions(
        "form-submits", [
          "getGroupFormSubmits"
        ]
      ),
      async get_group_form_submits(){
        await this.getGroupFormSubmits({
            group_id: this.$route.params.group,
            form_id: this.$route.params.form
          }
        )
        .then(response => {
          this.loading = false;
        })
        .catch(e => {
          this.$toast.error(e)
          $nuxt.error({ statusCode: 400, message: e })
        })
      }
    }
  }
</script>
