<template>
  <v-card
    class="mx-auto mb-8 transition"
  >
    <v-card-text>
      <v-container>
        <v-row>
          <v-col
            cols="12"
          >
            <add-comment
              :group="group"
              :type="type"
            >
            </add-comment>
          </v-col>
        </v-row>
        <v-row
          v-if="group.comments.length > 0"
        >
          <v-col
            cols="12"
          >
            <list-comments
              :group="group"
            >
            </list-comments>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
  import AddComment from '@/components/comments/create/AddComment';
  import ListComments from '@/components/comments/show/ListComments';

  export default {
    props: {
      'group': Object,
      'type': String
    },
    components: {
      AddComment,
      ListComments
    }
  }
</script>
