<template>
  <v-container>
    <v-row justify="center">
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="items"
        ></bread-crumb>
      </v-col>
      <v-col
        cols="12"
      >
        <v-row
          class="no-gutters justify-center"
        >
          <v-col
            cols="12"
            sm="8"
            md="6"
            lg="5"
          >
            <v-toolbar
              color="primary"
              dark
              flat
            >
              <v-toolbar-title>Login</v-toolbar-title>
            </v-toolbar>
            <v-card
              class="pa-4"
            >
              <v-form
                ref="loginform"
                @submit.prevent="login()"
                v-model="valid"
                lazy-validation
              >
                <v-card-text>
                  <v-text-field
                    v-model="email"
                    :rules="rules.email"
                    name="email"
                    placeholder="example@email.com"
                    label="Email"
                    required
                    dense
                    :prepend-icon="mdiEmail"
                    type="text"
                  ></v-text-field>
                </v-card-text>

                <v-card-text>
                  <v-text-field
                    v-model="password"
                    :rules="rules.password"
                    name="password"
                    label="Password"
                    required
                    dense
                    :prepend-icon="mdiLock"
                    :append-icon="show1 ? mdiEye : mdiEyeOff"
                    :type="show1 ? 'text' : 'password'"
                    @click:append="show1 = !show1"
                  ></v-text-field>
                </v-card-text>

                <v-card-text
                  v-if="error"
                >
                  <v-alert
                    type="error"
                  >
                    {{error}}
                  </v-alert>
                </v-card-text>

                <v-card-actions
                  class="justify-end"
                >
                  <v-btn
                    text
                    to="/forgot-password"
                    color="primary"
                    x-small
                  >Forgot your password?</v-btn>
                </v-card-actions>

                <v-card-actions
                  class="justify-center pt-8"
                >
                  <v-btn
                    :disabled="!valid"
                    color="primary"
                    type="submit"
                  >
                    Login
                  </v-btn>
                  <v-btn
                    to="/register/"
                    text
                  >
                    Register
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import { mdiEmail, mdiLock, mdiEye, mdiEyeOff } from '@mdi/js'

  import BreadCrumb from '@/components/global/BreadCrumb';

  export default {
    data: () => ({
      'mdiEmail': mdiEmail,
      'mdiLock': mdiLock,
      'mdiEye': mdiEye,
      'mdiEyeOff': mdiEyeOff,
      items: [
        {
          text: 'Login',
          disabled: true,
          to: '/login/',
        }
      ],
      valid: true,
      show1: false,
      error: '',
      email: '',
      password: '',
      rules: {
        email: [
          v => !!v || 'E-mail is required',
          v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
        password: [
          v => !!v || 'Password is required',
          v => v.length >= 6 || 'Password must be less than 6 characters',
        ],
      }
    }),
    mounted() {
      // Before loading login page, obtain csrf cookie from the server.
      this.$axios.$get('/sanctum/csrf-cookie');
    },
    components: {
      BreadCrumb
    },
    methods: {
			async login() {

				if(this.$refs.loginform.validate()){
          try {
            this.$toast.show('Logging in...')
            await this.$auth.loginWith('local', {
              data: {
                'email': this.email,
                'password': this.password,
              }
            })
            .then(response => {
              this.$toast.success('Successfully authenticated')
              this.$router.push({
                path: '/dashboard',
              });
            })
            .catch(error => {
                this.$toast.error(error.response.data.message)
            });
          } catch (err) {
            this.$toast.error(err)
          }
				}
			},
    },
  }
</script>