<template>
  <v-container>
    <v-row justify="center">
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="items"
        ></bread-crumb>
      </v-col>
      <v-col
        cols="12"
      >
        <v-row
          class="no-gutters justify-center"
        >
          <v-col
            cols="12"
            sm="8"
            md="6"
          >
            <v-toolbar
              color="primary"
              dark
              flat
            >
              <v-toolbar-title>Register</v-toolbar-title>
            </v-toolbar>
            <v-card
              class="pa-4"
            >
              <v-form
                ref="form"
                v-model="valid"
                lazy-validation
                @submit.prevent
                onSubmit="return false;"
              >
                <v-card-text>
                  <v-text-field
                    v-model="name"
                    :rules="rules.name"
                    placeholder="Will Ferrel"
                    label="First Last"
                    required
                    :prepend-icon="mdiAccount"
                    type="text"
                  ></v-text-field>
                  <v-text-field
                    v-model="email"
                    :rules="rules.email"
                    placeholder="example@email.com"
                    label="Email"
                    required
                    :prepend-icon="mdiEmail"
                    type="text"
                  ></v-text-field>
                </v-card-text>

                <v-card-text>
                  <v-text-field
                    v-model="password"
                    :rules="rules.password"
                    label="Password"
                    required
                    :prepend-icon="mdiLock"
                    :append-icon="show1 ? mdiEye : mdiEyeOff"
                    :type="show1 ? 'text' : 'password'"
                    @click:append="show1 = !show1"
                  ></v-text-field>
                  <v-text-field
                    v-model="password_confirmation"
                    :rules="[(password === password_confirmation) || 'Password must match']"
                    label="Confirm Password"
                    required
                    :prepend-icon="mdiLock"
                    :append-icon="show2 ? mdiEye : mdiEyeOff"
                    :type="show2 ? 'text' : 'password'"
                    @click:append="show2 = !show2"
                  ></v-text-field>
                </v-card-text>

                <v-card-text
                  v-if="error"
                >
                  <v-alert
                    type="error"
                  >
                    {{error}}
                  </v-alert>
                </v-card-text>

                <v-card-actions
                  class="justify-center"
                >
                  <v-btn
                    :disabled="!valid"
                    color="primary"
                    type="submit"
                    @click="register()"
                  >
                    Create
                  </v-btn>
                  <v-btn
                    to="/login/"
                    text
                  >
                    Cancel
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import { mdiAccount, mdiEmail, mdiLock, mdiEye, mdiEyeOff } from '@mdi/js'

  import BreadCrumb from '@/components/global/BreadCrumb';

  export default {
    data: () => ({
      'mdiAccount': mdiAccount,
      'mdiEmail': mdiEmail,
      'mdiLock': mdiLock,
      'mdiEye': mdiEye,
      'mdiEyeOff': mdiEyeOff,
      items: [
        {
          text: 'Register',
          disabled: true,
          to: '/register/',
        }
      ],
      valid: true,
      show1: false,
			show2: false,
      name: '',
      email: '',
      password: '',
      password_confirmation: '',
      error: '',
      rules: {
        name: [
          v => !!v || 'Name is required',
        ],
        email: [
          v => !!v || 'E-mail is required',
          v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
        password: [
          v => !!v || 'Password is required',
          v => v.length >= 6 || 'Password must be less than 6 characters',
        ],
      }
    }),
    components: {
      BreadCrumb,
    },
    methods: {
      async register() {
        if(this.$refs.form.validate()){
          try {
            await this.$axios.post('/api/register', {
              name: this.name,
              email: this.email,
              password: this.password,
              password_confirmation: this.password_confirmation
            })
            .then(response => {
              this.$toast.success(response.data.message)
              this.$router.push({
                path: '/login/',
              });
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
    },
  }
</script>
