<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="800px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        v-on="on"
        icon
      >
        <v-icon>{{mdiPencil}}</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Edit text</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <client-only>
            <quill-editor
              ref="editor"
              v-model="auxContent"
              :options="editorOption"
              class="text--primary"
            ></quill-editor>
          </client-only>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="update()"
          :disabled="auxContent == ''"
        >
          Update
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiPencil } from '@mdi/js'

  export default {
    props: {
      'content': Object,
    },
    data: () => ({
      'mdiPencil': mdiPencil,
      dialog: false,
      valid: false,
      auxContent: '',
      editorOption: {
        // Some Quill options...
        theme: 'snow',
        modules: {
          imageDrop: true,
          imageResize: {
            toolbarButtonStyles: {
              display: 'none',
            },
          },
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote'],
            [{ 'header': 1 }, { 'header': 2 }],
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'script': 'sub' }, { 'script': 'super' }],
            [{ 'indent': '-1' }, { 'indent': '+1' }],
            [{ 'direction': 'rtl' }],
            [{ 'size': ['small', false, 'large', 'huge'] }],
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'align': [] }],
            ['clean'],
            ['link', 'image',]
          ],
        },
        placeholder: 'Lesson content ...'
      }
    }),
    mounted(){
      this.auxContent = this.content.lesson_contentable.content;
    },
    methods:{
      reset () {
        this.auxContent = this.content.lesson_contentable.content;
        this.dialog = false;
			},
      async update() {
        if(this.content != ''){
          try {
            await this.$axios.put('/api/lesson_content/update/text', {
              'lesson_content_id': this.content.id,
              'content': this.auxContent
            })
            .then(response => {
              this.$toast.success(response.data.message)

              let content = response.data.content;
              this.content.lesson_contentable.content = content;
              this.reset();
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
    },
  }
</script>
