<template>
  <v-card
    :outlined="index != 0"
    class="pa-4 elevation-0"
    :class="index != 0 ? 'mb-2' : ''"
    :color="check_is_correct() ? 'amber lighten-5' : 'red lighten-4'"
  >
    <v-row
      no-gutters
    >
      <v-col
        cols="12"
      >
        <v-text-field
          v-model="fillintheblank_content.fillintheblank_contentable.question.content"
          readonly
          :prefix="`[-${index}-] `"
          placeholder="(Buy) Past simple"
          label="(Select the correct option)"
        ></v-text-field>
      </v-col>
      <v-col
        v-for="(option, index) in fillintheblank_content.fillintheblank_contentable.question.options"
        :key="index"
        cols="12"
      >
        <v-text-field
          v-model="fillintheblank_content.fillintheblank_contentable.question.options[index].content"
          readonly
          placeholder="My awesone option"
          :prepend-icon="option.correct.is_correct == '1' ? mdiCheckboxMarked : mdiCheckboxBlankOutline"
          :append-outer-icon="check_answer(option) ? mdiRadioboxMarked : mdiRadioboxBlank"
        ></v-text-field>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
  import { mdiCheckboxMarked, mdiCheckboxBlankOutline, mdiRadioboxMarked, mdiRadioboxBlank } from '@mdi/js';
  import { mapState } from 'vuex';

  export default {
    props: {
      fillintheblank_content: {
        required: true,
        type: Object
      },
      index: {
        required: true,
        type: Number
      },
      form_content: {
        required: true,
        type: Object
      }
    },
    data(){
      return {
        'mdiCheckboxMarked': mdiCheckboxMarked,
        'mdiCheckboxBlankOutline': mdiCheckboxBlankOutline,
        'mdiRadioboxMarked': mdiRadioboxMarked,
        'mdiRadioboxBlank': mdiRadioboxBlank
      }
    },
    computed: {
      ...mapState(
        "forms", [
          "form",
          "formSubmit"
        ]
      ),
      answers(){
        let auxReturn = [];

        for (let i = 0; i < this.formSubmit.answers.length; i++) {
          const answer = this.formSubmit.answers[i];
          if (answer.question_id == this.fillintheblank_content.fillintheblank_contentable.question?.id) {
            auxReturn.push(answer);
          }
        }

        return auxReturn;
      },
      correctOptions(){
        let auxReturn = [];
        let options = this.fillintheblank_content.fillintheblank_contentable.question.options;
        for (let i = 0; i < options.length; i++) {
          const option = options[i];
          if (option.correct.is_correct == "1") {
            auxReturn.push(option)
          }
        }
        return auxReturn;
      },
      correctAnswers(){
        let auxReturn = [];
        for (let i = 0; i < this.answers.length; i++) {
          const answer = this.answers[i];
          for (let x = 0; x < this.correctOptions.length; x++) {
            const correctOption = this.correctOptions[x];
            if (correctOption.content == answer.content) {
              auxReturn.push(answer)
            }
          }
        }
        return auxReturn;
      }
    },
    methods: {
      check_is_correct(){
        let auxReturn = false;

        for (let i = 0; i < this.correctOptions.length; i++) {
          const option = this.correctOptions[i];
          for (let x = 0; x < this.correctAnswers.length; x++) {
            const answer = this.correctAnswers[x];
            if (option.content == answer.content) {
              auxReturn = true;
              break;
            }
          }
        }

        return auxReturn;
      },
      check_answer(option){
        let auxReturn = false;
        for (let i = 0; i < this.answers.length; i++) {
          const answer = this.answers[i];
          if (option.content == answer.content) {
            auxReturn = true;
            break;
          }
        }

        return auxReturn;
      }
    }
  }
</script>
