<template>
  <v-card
    :outlined="index != 0"
    class="pa-4 elevation-0"
    :class="index != 0 ? 'mb-2' : ''"
    :color="is_content_correct ? 'amber lighten-5' : 'red lighten-4'"
  >
    <div>
      <span
        class="text-pre-wrap"
        v-text="getContent"
      ></span>
    </div>
  </v-card>
</template>

<script>
  export default {
    props: {
      fillintheblank_content: {
        required: true,
        type: Object
      },
      index: {
        required: true,
        type: Number
      },
      form_content: {
        required: true,
        type: Object
      },
      is_content_correct: {
        required: true,
        type: Boolean
      }
    },
    computed: {
      getContent(){
        return this.fillintheblank_content.fillintheblank_contentable?.content ?? '';
      }
    }
  }
</script>
