<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-title
      v-text="form_content.form_contentable.question.content"
      class="text-h6 pb-0 text-pre-wrap"
    >
    </v-card-title>
    <v-card-text>
      {{answers.length > 1 ? `${answers.length} answers` : `${answers.length} answer`}}
    </v-card-text>
    <v-card-text
      v-if="answers.length == 0"
      class="pt-0"
    >
      <p
        class="text-h6"
      >
        Upps you don't have sufficient answers yet.
      </p>
    </v-card-text>
    <v-card-text
      v-else
    >
      <v-row>
        <template
          v-for="(answer, index) in answers"
        >
          <v-col
            :key="index"
            cols="12"
            class="pt-0"
          >
            <v-card
              class="grey lighten-3"
              elevation="0"
            >
              <v-card-text>
                {{answer.content != '' ? answer.content : 'This answer is empty 😩'}}
              </v-card-text>
            </v-card>
          </v-col>
        </template>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    computed: {
      ...mapState(
        "forms", [
          "group",
        ]
      ),
      answers(){
        let auxReturn = [];
        if (this.group != null) {
          for (let i = 0; i < this.form_content.form_contentable.question.answers.length; i++) {
            const element = this.form_content.form_contentable.question.answers[i];
            if (element.group_id == this.group.id) {
              auxReturn.push(element);
            }
          }
        }else {
          for (let i = 0; i < this.form_content.form_contentable.question.answers.length; i++) {
            const element = this.form_content.form_contentable.question.answers[i];
            auxReturn.push(element);
          }
        }
        return auxReturn;
      }
    }
  }
</script>
