<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        icon
        color="primary"
        large
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>
          {{mdiAccountPlus}}
        </v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Add new user</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row>
              <v-col
                cols="12"
                sm="6"
              >
                <v-text-field
                  v-model="email"
                  :rules="rules.email"
                  placeholder="example@email.com"
                  label="Email"
                  required
                  :prepend-icon="mdiEmail"
                  type="text"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="6"
              >
                <v-spacer></v-spacer>
                <v-select
                  v-model="role"
                  :items="roles"
                  :rules="rules.role"
                  label="Role"
                  required
                  mandatory
                  :prepend-icon="mdiBadgeAccountHorizontalOutline"
                  type="text"
                ></v-select>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="add()"
        >
          Add
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiAccountPlus, mdiEmail, mdiBadgeAccountHorizontalOutline } from '@mdi/js'

  import PreviewImage from '@/components/global/PreviewImage';

  export default {
    props: {
      'users': Array,
      'group': Object,
    },
    data: () => ({
      'mdiAccountPlus': mdiAccountPlus,
      'mdiEmail': mdiEmail,
      'mdiBadgeAccountHorizontalOutline': mdiBadgeAccountHorizontalOutline,
      dialog: false,
      valid: false,
      email: '',
      role: 'Student',
      roles: [
        'Student',
        'Teacher',
        'Admin',
      ],
      rules: {
        role: [
          v => !!v || 'Role is required'
        ],
        email: [
          v => !!v || 'E-mail is required',
          v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
      },
    }),
    methods:{
      reset () {
        this.$refs.form.reset();
        this.dialog = false;
			},
      async add() {
        if(this.$refs.form.validate()){
          try {
            let formData = new FormData();
            // formData.append('image', this.image);
            // formData.append('name', this.name);

            await this.$axios.post('/api/group/add_user', {
              'group_id': this.group.id,
              'email': this.email,
              'role': this.role,
            })
            .then(response => {
              this.$toast.success(response.data.message)

              let user = response.data.user;
              this.users.push(user);

              this.reset();
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
    },
    components: {
      PreviewImage
    }
  }
</script>
