<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
        v-bind="attrs"
        v-on="on"
      >
        <v-list-item-title>
          <v-icon>{{mdiCog}}</v-icon> Manage
        </v-list-item-title>
      </v-list-item>
    </template>
    <v-card
      v-if="!loading"
    >
      <v-card-title>
        <span class="headline">Manage Group</span>
        <v-spacer></v-spacer>
        <add-group-user
          :users="users"
          :group="group"
        >
        </add-group-user>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row
            class="no-gutters"
          >
            <v-col
              v-if="ownerUsers.length > 0"
              cols="12"
            >
              <v-list three-line>
                <v-subheader>
                  Owners
                </v-subheader>
                <template v-for="(user, index) in ownerUsers">
                  <v-divider
                    :key="index"
                    v-if="index"
                  ></v-divider>

                  <v-list-item
                    :key="user.name"
                    @click=""
                  >
                    <v-list-item-avatar
                      class="justify-center"
                    >
                      <v-avatar
                        color="indigo"
                      >
                        <span class="white--text headline">
                          {{ user.name.charAt(0) }}
                        </span>
                      </v-avatar>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title
                        v-html="user.name"
                      ></v-list-item-title>

                      <v-list-item-subtitle
                        v-html="user.email"
                      ></v-list-item-subtitle>
                      <v-list-item-subtitle
                        v-html="user.pivot.role_user"
                      ></v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action
                      v-if="user.pivot.role_user != 'Owner'"
                      class="d-inline"
                    >
                      <edit-group-role-user
                        :user="user"
                        :users="users"
                        :group="group"
                      >
                      </edit-group-role-user>
                      <remove-group-user
                        :user="user"
                        :users="users"
                        :group="group"
                      >
                      </remove-group-user>
                    </v-list-item-action>
                  </v-list-item>
                </template>
              </v-list>
            </v-col>
            <v-col
              v-if="adminUsers.length > 0"
              cols="12"
            >
              <v-list three-line>
                <v-subheader>
                  Admins
                </v-subheader>
                <template v-for="(user, index) in adminUsers">
                  <v-divider
                    :key="index"
                    v-if="index"
                  ></v-divider>

                  <v-list-item
                    :key="user.name"
                    @click=""
                  >
                    <v-list-item-avatar
                      class="justify-center"
                    >
                      <v-avatar
                        color="indigo"
                      >
                        <span class="white--text headline">
                          {{ user.name.charAt(0) }}
                        </span>
                      </v-avatar>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title
                        v-html="user.name"
                      ></v-list-item-title>

                      <v-list-item-subtitle
                        v-html="user.email"
                      ></v-list-item-subtitle>
                      <v-list-item-subtitle
                        v-html="user.pivot.role_user"
                      ></v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action
                      v-if="user.pivot.role_user != 'Owner'"
                      class="d-inline"
                    >
                      <edit-group-role-user
                        :user="user"
                        :users="users"
                        :group="group"
                      >
                      </edit-group-role-user>
                      <remove-group-user
                        :user="user"
                        :users="users"
                        :group="group"
                      >
                      </remove-group-user>
                    </v-list-item-action>
                  </v-list-item>
                </template>
              </v-list>
            </v-col>
            <v-col
              v-if="teacherUsers.length > 0"
              cols="12"
            >
              <v-list three-line>
                <v-subheader>
                  Teachers
                </v-subheader>
                <template v-for="(user, index) in teacherUsers">
                  <v-divider
                    :key="index"
                    v-if="index"
                  ></v-divider>

                  <v-list-item
                    :key="user.name"
                    @click=""
                  >
                    <v-list-item-avatar
                      class="justify-center"
                    >
                      <v-avatar
                        color="indigo"
                      >
                        <span class="white--text headline">
                          {{ user.name.charAt(0) }}
                        </span>
                      </v-avatar>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title
                        v-html="user.name"
                      ></v-list-item-title>

                      <v-list-item-subtitle
                        v-html="user.email"
                      ></v-list-item-subtitle>
                      <v-list-item-subtitle
                        v-html="user.pivot.role_user"
                      ></v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action
                      v-if="user.pivot.role_user != 'Owner'"
                      class="d-inline"
                    >
                      <edit-group-role-user
                        :user="user"
                        :users="users"
                        :group="group"
                      >
                      </edit-group-role-user>
                      <remove-group-user
                        :user="user"
                        :users="users"
                        :group="group"
                      >
                      </remove-group-user>
                    </v-list-item-action>
                  </v-list-item>
                </template>
              </v-list>
            </v-col>
            <v-col
              v-if="studentUsers.length > 0"
              cols="12"
            >
              <v-list three-line>
                <v-subheader>
                  Students
                </v-subheader>
                <template v-for="(user, index) in studentUsers">
                  <v-divider
                    :key="index"
                    v-if="index"
                  ></v-divider>

                  <v-list-item
                    :key="user.name"
                    @click=""
                  >
                    <v-list-item-avatar
                      class="justify-center"
                    >
                      <v-avatar
                        color="indigo"
                      >
                        <span class="white--text headline">
                          {{ user.name.charAt(0) }}
                        </span>
                      </v-avatar>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title
                        v-html="user.name"
                      ></v-list-item-title>

                      <v-list-item-subtitle
                        v-html="user.email"
                      ></v-list-item-subtitle>
                      <v-list-item-subtitle
                        v-html="user.pivot.role_user"
                      ></v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action
                      v-if="user.pivot.role_user != 'Owner'"
                      class="d-inline"
                    >
                      <edit-group-role-user
                        :user="user"
                        :users="users"
                        :group="group"
                      >
                      </edit-group-role-user>
                      <remove-group-user
                        :user="user"
                        :users="users"
                        :group="group"
                      >
                      </remove-group-user>
                    </v-list-item-action>
                  </v-list-item>
                </template>
              </v-list>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="close()"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiCog } from '@mdi/js'

  import AddGroupUser from '@/components/groups/manage/AddGroupUser';
  import RemoveGroupUser from '@/components/groups/manage/RemoveGroupUser';
  import EditGroupRoleUser from '@/components/groups/manage/EditGroupRoleUser';

  export default {
    props: {
      'group': Object,
    },
    data: () => ({
      'mdiCog': mdiCog,
      dialog: false,
      valid: false,
      loading: true,
      error: '',
      users: [],
      email: '',
      rules: {
        email: [
          v => !!v || 'E-mail is required',
          v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
      }
    }),
    computed: {
      ownerUsers(){
        let auxReturn = [];
        this.users.forEach(user => {
          if (user.pivot.role_user == 'Owner') {
            auxReturn.push(user);
          }
        });
        return auxReturn;
      },
      adminUsers(){
        let auxReturn = [];
        this.users.forEach(user => {
          if (user.pivot.role_user == 'Admin') {
            auxReturn.push(user);
          }
        });
        return auxReturn;
      },
      teacherUsers(){
        let auxReturn = [];
        this.users.forEach(user => {
          if (user.pivot.role_user == 'Teacher') {
            auxReturn.push(user);
          }
        });
        return auxReturn;
      },
      studentUsers(){
        let auxReturn = [];
        this.users.forEach(user => {
          if (user.pivot.role_user == 'Student') {
            auxReturn.push(user);
          }
        });
        return auxReturn;
      },
    },
    mounted(){
      this.get_users();
    },
    methods:{
      close () {
        this.dialog = false;
			},
      async get_users() {
        try {

          await this.$axios.get('/api/group/users', {
            params: {
              'group_id': this.group.id,
            }
          })
          .then(response => {
            this.users = response.data.users;
            this.loading = false;
          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
    },
    components: {
      AddGroupUser,
      RemoveGroupUser,
      EditGroupRoleUser
    }
  }
</script>
