<template>
  <v-list-item
    @click="destroy()"
  >
    <v-list-item-title>
      <v-icon>{{mdiDelete}}</v-icon> Delete
    </v-list-item-title>
  </v-list-item>
</template>

<script>
  import { mdiDelete } from '@mdi/js'

  export default {
    props: {
      'lesson': Object,
    },
    data(){
      return {
        'mdiDelete': mdiDelete
      }
    },
    methods: {
      async destroy() {
        try {
          await this.$axios.delete('/api/lesson/destroy', {
            'params': {
              lesson_id: this.lesson.id,
            }
          })
          .then(response => {
            this.$toast.success(response.data.message)

            if(this.$route.params.group){
              this.$router.push({
                path: `/groups/${this.$route.params.group}/courses/${this.$route.params.course}/units/${this.$route.params.unit}/`,
              });
            }else{
              this.$router.push({
                path: `/courses/${this.$route.params.course}/units/${this.$route.params.unit}/`,
              });
            }
          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
    },
  }
</script>
