<template>
  <v-form
    ref="form"
    v-model="valid"
    @submit.prevent
    onSubmit="return false;"
  >
    <v-row>
      <v-col
        cols="12"
      >
        <v-textarea
          v-model="content"
          :rules="rules.content"
          label="Write your comment"
          required
          :prepend-icon="mdiComment"
          :append-icon="mdiSend"
          @click:append="send_comment()"
          auto-grow
          rows="1"
          type="text"
        ></v-textarea>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import { mdiComment, mdiSend } from '@mdi/js'

  export default {
    props: {
      'group': Object,
      'type': {
        required: true,
        type: String
      }
    },
    data: () => ({
      'mdiComment': mdiComment,
      'mdiSend': mdiSend,
      valid: false,
      content: '',
      rules: {
        content: [
          v => !!v || 'Content is required'
        ],
      },
    }),
    methods:{
      reset(){
        this.$refs.form.reset();
      },
      async send_comment() {
        if(this.$refs.form.validate()){
          if (this.type == 'group') {
            try {
              await this.$axios.post('/api/comment/add_comment_group', {
                'group_id': this.group.id,
                'content': this.content,
              })
              .then(response => {
                this.group.comments.push(response.data.comment);
                this.$toast.success(response.data.message)
                this.reset();
              })
              .catch(error => {
                this.$toast.error(error.response.data.message)
              });
            } catch (error) {
              this.$toast.error(error)
            }
          }else if(this.type == 'course'){
            try {
              await this.$axios.post('/api/comment/add_comment_course', {
                'group_id': this.group.id,
                'course_id': this.$route.params.course,
                'content': this.content,
              })
              .then(response => {
                this.group.comments.push(response.data.comment);
                this.$toast.success(response.data.message)
                this.reset();
              })
              .catch(error => {
                this.$toast.error(error.response.data.message)
              });
            } catch (error) {
              this.$toast.error(error)
            }
          }else if(this.type == 'unit'){
            try {
              await this.$axios.post('/api/comment/add_comment_unit', {
                'group_id': this.group.id,
                'unit_id': this.$route.params.unit,
                'content': this.content,
              })
              .then(response => {
                this.group.comments.push(response.data.comment);
                this.$toast.success(response.data.message)
                this.reset();
              })
              .catch(error => {
                this.$toast.error(error.response.data.message)
              });
            } catch (error) {
              this.$toast.error(error)
            }
          }else if(this.type == 'lesson'){
            try {
              await this.$axios.post('/api/comment/add_comment_lesson', {
                'group_id': this.group.id,
                'lesson_id': this.$route.params.lesson,
                'content': this.content,
              })
              .then(response => {
                this.group.comments.push(response.data.comment);
                this.$toast.success(response.data.message)
                this.reset();
              })
              .catch(error => {
                this.$toast.error(error.response.data.message)
              });
            } catch (error) {
              this.$toast.error(error)
            }
          }
				}
      },
    },
  }
</script>
