<template>
  <v-list-item
    @click="destroy()"
  >
    <v-list-item-title>
      <v-icon>{{mdiDelete}}</v-icon> Delete
    </v-list-item-title>
  </v-list-item>
</template>

<script>
  import { mdiDelete } from '@mdi/js'
  import { mapActions } from 'vuex';

  export default {
    props: {
      'course': Object,
    },
    data(){
      return {
        'mdiDelete': mdiDelete
      }
    },
    methods: {
      ...mapActions("courses", [
        "deleteCourse"
      ]),
      async destroy() {
        try {
          await this.deleteCourse(this.course.id)
          .then(response => {
            this.$toast.success(response.data.message)
            this.$router.push({
              name: 'courses',
            });
          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
    },
  }
</script>
