<template>
  <v-card
    class="mx-auto transition"
  >
    <div
      class="text-h6 pa-4"
    >
      <v-row
        no-gutters
      >
        <v-col
          v-for="(component, index) in showFillInTheBlankComponents"
          :key="index"
          cols="12"
          class="px-0"
        >
          <v-card
            :outlined="index != 0"
            class="pa-4 elevation-0"
            :class="index != 0 ? 'mb-2' : ''"
          >
            <component
              :is="component"
              :fillintheblank_content="form_content.form_contentable.contents[index]"
              :index="index"
            ></component>
          </v-card>
        </v-col>
      </v-row>
    </div>
    <v-card-actions>
      <v-spacer></v-spacer>
      <edit-form-content-fill-in-the-blank
        :form_content="form_content"
      >
      </edit-form-content-fill-in-the-blank>
      <destroy-form-content
        :form_content_id="form_content.id"
      >
      </destroy-form-content>
    </v-card-actions>
  </v-card>
</template>

<script>
import EditFormContentFillInTheBlank from '@/components/form-contents/fill-in-the-blank/edit/EditFormContentFillInTheBlank';
import DestroyFormContent from '@/components/form-contents/destroy/DestroyFormContent';

export default {
  props: {
    form_content: {
      required: true,
      type: Object
    }
  },
  computed: {
    showFillInTheBlankComponents(){
      let auxComponents = [];
      for (let i = 0; i < this.form_content.form_contentable.contents.length; i++) {
        const item = this.form_content.form_contentable.contents[i];
        auxComponents.push(
          this.getCreateComponent(item.fillintheblank_contentable_type)
        );
      }
      return auxComponents;
    },
  },
  methods: {
    getCreateComponent(type){
      const contentTypes = {
        'App\\Models\\FillintheblankText': () => {
          return () => import(`./misc/ShowFillInTheBlankText`);
        },
        'App\\Models\\FillintheblankSelect': () => {
          return () => import(`./misc/ShowFillInTheBlankSelect`);
        },
        'App\\Models\\FillintheblankInput': () => {
          return () => import(`./misc/ShowFillInTheBlankInput`);
        },
        'default': () => {
          return () => import(`./misc/ShowFillInTheBlankText`);
        }
      }

      return (contentTypes[type] || contentTypes['default'])()
    }
  },
  components: {
    EditFormContentFillInTheBlank,
    DestroyFormContent
  }
}
</script>

<style scoped>
.input-custom{
  border: 1px solid;
  border-radius: 10px;
  margin: 2px 0;
  padding: 0 4px;
}
</style>