<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
        v-bind="attrs"
        v-on="on"
      >
        <v-list-item-title>
          <v-icon>{{mdiPencil}}</v-icon> Edit
        </v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Edit Course</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row>
              <v-col
                v-if="preview"
                cols="12"
              >
                <preview-image
                  :preview="preview"
                >
                </preview-image>
              </v-col>
              <v-col
                cols="12"
                sm="6"
              >
                <v-text-field
                  v-model="name"
                  :rules="rules.name"
                  required
                  :placeholder="course.name"
                  :prepend-icon="mdiTeach"
                  label="Choose a course name"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="6"
              >
                <v-file-input
                  v-model="image"
                  :rules="rules.image"
                  ref='file'
                  accept="image/png, image/jpeg, image/bmp"
                  placeholder="Pick a logo"
                  :prepend-icon="mdiCamera"
                  @change="updateImage"
                ></v-file-input>
              </v-col>
              <v-col
                cols="12"
              >
                <v-textarea
                  v-model="description"
                  :rules="rules.description"
                  outlined
                  required
                  :placeholder="course.description"
                  label="Description"
                  :prepend-icon="mdiCardText"
                ></v-textarea>
              </v-col>
              <v-col
                cols="12"
                class="pt-0"
              >
                <v-text-field
                  v-model="cta_text"
                  placeholder="Learn more"
                  :prepend-icon="mdiChevronRight"
                  label="CTA text"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="update()"
        >
          Update
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiPencil, mdiTeach, mdiCamera, mdiCardText, mdiChevronRight } from '@mdi/js'

  import PreviewImage from '@/components/global/PreviewImage';

  export default {
    props: {
      'course': Object,
    },
    data: () => ({
      'mdiPencil': mdiPencil,
      'mdiTeach': mdiTeach,
      'mdiCamera': mdiCamera,
      'mdiCardText': mdiCardText,
      'mdiChevronRight': mdiChevronRight,
      dialog: false,
      valid: false,
      error: '',
      preview: null,
      name: '',
      image: null,
      description: '',
      cta_text: '',
      rules: {
        name: [
          v => !!v || 'Name is required'
        ],
        image: [
          value => !value || value.size < 20000000 || 'Image size should be less than 20 MB!',
        ],
        description: [
          v => !!v || 'Description is required'
        ],
      },
    }),
    mounted(){
      this.name = this.course.name;
      this.description = this.course.description;
      this.cta_text = this.course.cta_text;
    },
    methods:{
      reset () {
        this.name = this.course.name;
        this.description = this.course.description;
        this.cta_text = this.course.cta_text;
        this.image = null;
        this.preview = null;
        this.dialog = false;
			},
      updateImage(e) {
				if((typeof e != 'undefined') && e != null){
					var re = /(?:\.([^.]+))?$/;
					var ext = re.exec(e.name)[1];

					if(ext.search(/jpg|jpeg|png|gif|bmp|svg/i) != -1){
						this.preview = {
							src: URL.createObjectURL(e),
							title: e.name,
						};
					}
				}else{
          this.preview = null;
        }
      },
      async update() {
        if(this.$refs.form.validate()){
          try {
            let formData = new FormData();
            formData.append('files-0', this.image);
            formData.append('id', this.course.id);
            formData.append('name', this.name);
            formData.append('description', this.description);
            formData.append('cta_text', this.cta_text);
            formData.append('_method', 'PUT');

            await this.$axios.post('/api/course/update', formData)
            .then(response => {
              let course = response.data.course;
              this.course.name = course.name;
              this.course.description = course.description;
              this.course.logo = course.logo;
              this.course.cta_text = course.cta_text;
              this.$toast.success(response.data.message)
              this.reset();
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
    },
    components: {
      PreviewImage
    }
  }
</script>
