<template>
  <v-form
    v-model="valid"
    ref="form"
  >
    <v-row
      align="center"
      justify="space-around"
    >
      <v-col
        v-for="(content, index) in formContents"
        :key="index"
        cols="12"
        ref="parent"
      >
        <template
          v-if="content.form_contentable_type.includes('FormContentFillintheblank')"
        >
          <group-form-content-fillintheblank
            :form_content="content"
          >
          </group-form-content-fillintheblank>
        </template>
        <template
          v-else-if="content.form_contentable_type.includes('FormContentQuestion')"
        >
          <group-form-content-question
            :form_content="content"
          >
          </group-form-content-question>
        </template>
        <template
          v-else-if="content.form_contentable_type.includes('FormContentMultiple')"
        >
          <group-form-content-multiple
            :form_content="content"
          >
          </group-form-content-multiple>
        </template>
        <template
          v-else-if="content.form_contentable_type.includes('FormContentSelect')"
        >
          <group-form-content-select
            :form_content="content"
          >
          </group-form-content-select>
        </template>
        <template
          v-else-if="content.form_contentable_type.includes('FormContentText')"
        >
          <group-form-content-text
            :form_content="content"
          >
          </group-form-content-text>
        </template>
        <template
          v-else-if="content.form_contentable_type.includes('FormContentVideo')"
        >
          <group-form-content-video
            :form_content="content"
          >
          </group-form-content-video>
        </template>
        <template
          v-else-if="content.form_contentable_type.includes('FormContentLink')"
        >
          <group-form-content-link
            :form_content="content"
          >
          </group-form-content-link>
        </template>
        <template
          v-else-if="content.form_contentable_type.includes('FormContentImage')"
        >
          <group-form-content-images
            :form_content="content"
          >
          </group-form-content-images>
        </template>
      </v-col>
      <v-col
        cols="12"
        class="mb-12"
      >
        <v-btn
          tile
          :disabled="!valid"
          color="success"
          @click="submit()"
        >
          Submit
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import { mdiCheckboxBlankOutline, mdiCheckboxMarked } from '@mdi/js';

  import { mapState, mapActions } from 'vuex';

  import GroupFormContentQuestion from '@/components/groups/courses/units/forms/show/contents/GroupFormContentQuestion';
  import GroupFormContentMultiple from '@/components/groups/courses/units/forms/show/contents/GroupFormContentMultiple';
  import GroupFormContentSelect from '@/components/groups/courses/units/forms/show/contents/GroupFormContentSelect';
  import GroupFormContentVideo from '@/components/groups/courses/units/forms/show/contents/GroupFormContentVideo';
  import GroupFormContentText from '@/components/groups/courses/units/forms/show/contents/GroupFormContentText';
  import GroupFormContentLink from '@/components/groups/courses/units/forms/show/contents/GroupFormContentLink';
  import GroupFormContentImages from '@/components/groups/courses/units/forms/show/contents/GroupFormContentImages';
  import GroupFormContentFillintheblank from '@/components/groups/courses/units/forms/show/contents/GroupFormContentFillintheblank';

  export default {
    props: {
      form_contents: {
        required: true,
        type: Array
      }
    },
    data(){
      return {
        'mdiCheckboxBlankOutline': mdiCheckboxBlankOutline,
        'mdiCheckboxMarked': mdiCheckboxMarked,
        valid: false,
        formContents: []
      }
    },
    mounted(){
      this.formContents = JSON.parse(JSON.stringify(this.form_contents));
    },
    computed: {
      ...mapState(
        "groups/courses/units/forms", [
          "group",
          "course",
          "unit",
          "form",
          "answers"
        ]
      )
    },
    methods: {
      ...mapActions("groups/courses/units/forms", [
        "submitAnswers"
      ]),
      async submit(){
        if(this.$refs.form.validate()){
          await this.submitAnswers(this.formContents)
          .then(response => {
            this.$toast.success(response.data.message)

            this.$router.push({
              path: `/groups/${this.group.id}/courses/${this.course.id}/units/${this.unit.id}/forms/${this.form.id}/submits/${response.data.form_submit.id}`,
            });
          })
          .catch(e => {
            this.$toast.error(e)
          })
        }
      },
    },
    components: {
      GroupFormContentQuestion,
      GroupFormContentMultiple,
      GroupFormContentSelect,
      GroupFormContentVideo,
      GroupFormContentText,
      GroupFormContentLink,
      GroupFormContentImages,
      GroupFormContentFillintheblank
    }
  }
</script>

<style scoped>
  .no-margin-content p{
    margin: 0;
  }
</style>
