<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-title
      v-text="form.name"
      class="headline"
    >
    </v-card-title>
    <v-card-subtitle
      v-text="`${group.pivot.role_user}`"
    >
    </v-card-subtitle>
    <v-card-text
      v-text="form.description"
      height="100%"
      class="text-pre-wrap"
    >
    </v-card-text>
    <v-card-actions>
      <v-btn
        v-if="group != null && (form.formSubmits > 0 || (group['pivot'] != undefined && group.pivot.role_user != 'Student'))"
        color="primary"
        text
        :to="`/groups/${$route.params.group}/courses/${$route.params.course}/units/${$route.params.unit}/forms/${$route.params.form}/submits/`"
      >
        Check my answers
      </v-btn>
      <v-spacer></v-spacer>
      <social-sharing
        :url="url"
        :title="form.name"
        :description="form.description"
      ></social-sharing>
    </v-card-actions>
  </v-card>
</template>

<script>
  import { mapState } from 'vuex';
  import SocialSharing from '~/components/global/SocialSharing.vue';

  export default {
    computed: {
      ...mapState(
        "groups/courses/units/forms", [
          "group",
          "course",
          "unit",
          "form",
        ]
      ),
      url(){
        return window.location.href
      }
    },
    components: {
      SocialSharing
    }
  }
</script>
