<template>
  <v-btn
    @click="destroy()"
    icon
  >
    <v-icon>{{mdiDelete}}</v-icon>
  </v-btn>
</template>

<script>
  import { mdiDelete } from '@mdi/js'

  export default {
    props: {
      'lesson': Object,
      'content': Object,
    },
    data(){
      return {
        'mdiDelete': mdiDelete
      }
    },
    methods: {
      async destroy() {
        try {
          await this.$axios.delete('/api/lesson_content/destroy', {
            'params': {
              'lesson_content_id': this.content.id,
            }
          })
          .then(response => {
            this.$toast.success(response.data.message)

            let index = this.lesson.contents.findIndex(x => x.id === this.content.id)
            this.$delete(this.lesson.contents, index)
          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
    },
  }
</script>
