<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="800px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
        v-bind="attrs"
        v-on="on"
      >
        <v-list-item-title>
          Images
        </v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        @submit.prevent
        onSubmit="return false;"
      >
        <v-card-title>
          <span class="headline">Add Images</span>
        </v-card-title>
        <v-card-text
          class="pb-0"
        >
          <v-container>
            <v-file-input
              ref='file'
              v-model="contents"
              accept="image/png, image/jpeg, image/bmp"
              color="deep-purple accent-4"
              label="Select your images"
              :prepend-icon="mdiImage"
              outlined
              multiple
              :rules="rules.files"
              :show-size="1000"
            >
            </v-file-input>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="reset()"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="create()"
            :disabled="!valid"
          >
            Create
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiImage } from '@mdi/js'
  import { mapActions, mapState } from 'vuex';

  export default {
    data: () => ({
      'mdiImage': mdiImage,
      dialog: false,
      valid: false,
      error: '',
      contents: [],
      rules: {
        files: []
      },
    }),
    mounted(){
      this.rules.files = [
        v => !!v || 'File is required',
        v => (v && v.length > 0) || 'File is required',
        v => !v.length || v.reduce((size, file) => size + file.size, 0) < 20000000 || 'Files size should be less than 20 MB!',
      ]
    },
    methods:{
      ...mapActions(
        'forms', [
          "addFormContentImage"
        ]
      ),
      reset () {
        this.dialog = false;
      },
      async create() {
        if(this.$refs.form.validate()){
          await this.addFormContentImage({
            'contents': this.contents
          })
          .then(response => {
            this.contents = [];
            this.$toast.success(response.data.message)
            this.reset();
          })
          .catch(e => {
            this.$toast.error(e)
          })
				}
      },
    }
  }
</script>
