<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        icon
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>{{mdiPencil}}</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Edit question</span>
      </v-card-title>
      <v-card-text
        class="pb-0"
      >
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row>
              <v-col
                cols="12"
              >
                <v-textarea
                  v-model="aux_form_contentable.question.content"
                  :rules="rules.required"
                  required
                  outlined
                  :placeholder="form_content.form_contentable.question.content"
                  :prepend-icon="mdiText"
                  @focusout="update_question()"
                  label="Write your question"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row
              v-for="(option, index) in options"
              :key="index"
              no-gutters
            >
              <v-col
                cols="12"
              >
                <v-text-field
                  v-model="aux_form_contentable.question.options[index].content"
                  :rules="rules.required"
                  required
                  :placeholder="form_content.form_contentable.question.options[index].content"
                  :prepend-icon="option.correct.is_correct == '1' ? mdiCheckboxIntermediate : mdiCheckboxBlankOutline"
                  :append-outer-icon="form_content.form_contentable.question.options.length > 1 ? mdiClose : undefined"
                  @click:append-outer="delete_option(option)"
                  @focusout="update_option(option, form_content.form_contentable.question.options[index])"
                  @click:prepend="update_correct_multiple(option)"
                  label="Write your option"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row
              no-gutters
            >
              <v-col
                cols="12"
              >
                <v-card
                  @click="add_option()"
                  elevation="0"
                >
                  <v-text-field
                    :prepend-icon="mdiCheckboxBlankOutline"
                    disabled
                    label="Add option"
                  ></v-text-field>
                </v-card>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiText, mdiPencil, mdiClose, mdiCheckboxIntermediate, mdiCheckboxBlankOutline, mdiArrowUpThinCircleOutline } from '@mdi/js';

  import { mapActions } from 'vuex';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    data(){
      return {
        'mdiText': mdiText,
        'mdiPencil': mdiPencil,
        'mdiClose': mdiClose,
        'mdiCheckboxIntermediate': mdiCheckboxIntermediate,
        'mdiCheckboxBlankOutline': mdiCheckboxBlankOutline,
        'mdiArrowUpThinCircleOutline': mdiArrowUpThinCircleOutline,
        dialog: false,
        valid: false,
        aux_form_contentable: {
          question: {
            content: '',
            options: []
          }
        },
        rules: {
          required: [
            v => !!v || 'This field is required'
          ],
        },
      }
    },
    mounted(){
      this.aux_form_contentable.question.content = this.form_content.form_contentable.question.content
    },
    methods: {
      ...mapActions({
        updateQuestion: 'forms/updateQuestion',
        addOption: 'forms/addOption',
        updateOption: 'forms/updateOption',
        updateCorrectMultiple: 'forms/updateCorrectMultiple',
        deleteOption: 'forms/deleteOption',
      }),
      reset () {
        this.aux_form_contentable.question.content = this.form_content.form_contentable.question.content

        let options = [];
        this.aux_form_contentable.question.options = [];
        for (let i = 0; i < this.form_content.form_contentable.question.options.length; i++) {
          const option = JSON.parse(JSON.stringify(this.form_content.form_contentable.question.options[i]));
          options.push(option);
          this.aux_form_contentable.question.options.push(option);
        }

        this.dialog = false;
      },
      async update_question(){
        if (this.form_content.form_contentable.question.content != this.aux_form_contentable.question.content) {
          if(this.$refs.form.validate()){
            await this.updateQuestion({
              form_content_id: this.form_content.id,
              question_id: this.form_content.form_contentable.question.id,
              question_content: this.aux_form_contentable.question.content,
              _method: 'PUT'
            })
            .then(response => {
              this.$toast.success(response.data.message)
            })
            .catch(e => {
              this.$toast.error(e)
            })
          }
        }
      },
      async add_option(){
        await this.addOption({
          form_content_id: this.form_content.id,
        })
        .then(response => {
          this.$toast.success(response.data.message)
        })
        .catch(e => {
          this.$toast.error(e)
        })
      },
      async update_option(newOption, oldOption){
        if (newOption.content != oldOption.content) {
          if(this.$refs.form.validate()){
            await this.updateOption({
              form_content_id: this.form_content.id,
              option_id: newOption.id,
              option_content: newOption.content,
              _method: 'PUT'
            })
            .then(response => {
              this.$toast.success(response.data.message)
            })
            .catch(e => {
              this.$toast.error(e)
            })
          }
        }
      },
      async update_correct_multiple(option){
        await this.updateCorrectMultiple({
          form_content_id: this.form_content.id,
          option_id: option.id,
          _method: 'PUT'
        })
        .then(response => {
        })
        .catch(e => {
          this.$toast.error(e)
        })
      },
      async delete_option(option){
        await this.deleteOption({
          form_content_id: this.form_content.id,
          option_id: option.id,
        })
        .then(response => {
          this.$toast.success(response.data.message)
        })
        .catch(e => {
          this.$toast.error(e)
        })
      }
    },
    computed: {
      options() {
        let options = []
        this.aux_form_contentable.question.options = [];
        for (let i = 0; i < this.form_content.form_contentable.question.options.length; i++) {
          const option = JSON.parse(JSON.stringify(this.form_content.form_contentable.question.options[i]));
          options.push(option);
          this.aux_form_contentable.question.options.push(option);
        }
        return options
      }
    },
  }
</script>
