<template>
  <v-btn
    icon
    @click="destroy()"
  >
    <v-icon color="grey lighten-1">{{mdiDelete}}</v-icon>
  </v-btn>
</template>

<script>
  import { mdiDelete } from '@mdi/js'

  export default {
    props: {
      'comment': Object,
      'comments': Array,
    },
    data(){
      return {
        'mdiDelete': mdiDelete
      }
    },
    methods: {
      async destroy() {
        try {
          await this.$axios.delete('/api/comment/delete_comment', {
            'params': {
              comment_id: this.comment.id,
            }
          })
          .then(response => {
            this.$toast.success(response.data.message)
            let index = this.comments.findIndex(x => x.id === this.comment.id)
            this.$delete(this.comments, index)
          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
    },
  }
</script>
