<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="primary"
        text
        v-bind="attrs"
        v-on="on"
      >
        Add course
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Add course</span>
        <v-spacer></v-spacer>
        <search-input
          :group="group"
        ></search-input>
      </v-card-title>
      <v-card-text>
        <v-row
          class="no-gutters"
        >
          <v-col
            cols="12"
          >
            <v-list two-line>
              <v-subheader
                v-if="group.courses.length > 0"
              >
                Your subscriptions
              </v-subheader>
              <v-subheader
                v-else
                class="justify-center"
              >
                <h2>
                  You don't have any courses in this group yet.
                </h2>
              </v-subheader>
              <template v-for="(course, index) in group.courses">
                <v-divider
                  :key="index"
                  v-if="index"
                ></v-divider>

                <v-list-item
                  :key="course.name"
                  @click=""
                >
                  <v-list-item-avatar
                    class="justify-center"
                  >
                    <v-avatar
                      v-if="course.image != null"
                    >
                      <img
                        :src="course.image"
                        :alt="course.name"
                      >
                    </v-avatar>
                    <v-avatar
                      v-else
                      color="indigo"
                    >
                      <span class="white--text headline">
                        {{ course.name.charAt(0) }}
                      </span>
                    </v-avatar>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title v-html="course.name"></v-list-item-title>
                    <v-list-item-subtitle v-html="course.description"></v-list-item-subtitle>
                  </v-list-item-content>

                  <v-list-item-action>
                    <v-btn
                      icon
                      @click="remove_course(course.id)"
                    >
                      <v-icon color="grey">{{mdiDelete}}</v-icon>
                    </v-btn>
                  </v-list-item-action>
                </v-list-item>
              </template>
            </v-list>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="dialog = false"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiDelete } from '@mdi/js'

  import SearchInput from '@/components/groups/show/SearchInput';

  export default {
    props: {
      'group': Object,
    },
    data: () => ({
      'mdiDelete': mdiDelete,
      dialog: false,
      error: '',
    }),
    methods: {
      async remove_course(course_id) {
        try {
          await this.$axios.delete('/api/group/remove_course', {
            'params': {
              group_id: this.group.id,
              course_id: course_id,
            }
          })
          .then(response => {
            let course = response.data.course;

            for (var i = 0; i < this.group.courses.length; i++) {
              var obj = this.group.courses[i];

              if (this.group.courses[i].id === course.id) {
                this.group.courses.splice(i,1);
                this.$toast.success(response.data.message)
                break;
              }
            }

          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
    },
    components: {
      SearchInput,
    }
  }
</script>
