<template>
  <v-menu
    bottom
    left
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        icon
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>{{mdiDotsVertical}}</v-icon>
      </v-btn>
    </template>

    <v-list>
      <manage-group
        :group="group"
      >
      </manage-group>
      <add-notification
        :group="group"
      >
      </add-notification>
      <v-list-item
        :to="`/groups/${group.id}/progress/`"
      >
        <v-list-item-title>
          <v-icon>{{mdiProgressCheck}}</v-icon> User progress
        </v-list-item-title>
      </v-list-item>
      <edit-form-group
        :group="group"
      >
      </edit-form-group>
      <destroy-group
        v-if="group.role.role_user == 'Owner'"
        :group="group"
      >
      </destroy-group>
    </v-list>
  </v-menu>
</template>

<script>
  import { mdiDotsVertical, mdiProgressCheck } from '@mdi/js'

  import DestroyGroup from '@/components/groups/destroy/DestroyGroup';
  import EditFormGroup from '@/components/groups/edit/EditFormGroup';
  import ManageGroup from '@/components/groups/manage/ManageGroup';
  import AddNotification from '@/components/notifications/create/AddNotification';

  export default {
    props: {
      'group': Object,
    },
    data: () => ({
      'mdiDotsVertical': mdiDotsVertical,
      'mdiProgressCheck': mdiProgressCheck,
      error: '',
    }),
    methods: {

    },
    components: {
      DestroyGroup,
      EditFormGroup,
      ManageGroup,
      AddNotification
    }
  }
</script>
