<template>
  <v-card
    class="mx-auto transition"
  >
    <v-img
      :src="group.logo != null ? `${$config.assetsURL}${group.logo.src}` : 'https://picsum.photos/id/7/2400/800'"
      height="194"
      class="white--text align-start"
      gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
    >
      <v-card-title
        v-text="group.name"
        class="headline"
      >
      </v-card-title>
      <v-card-subtitle
        class="white--text"
        v-text="group.role.role_user"
      >
      </v-card-subtitle>
      <template
        v-slot:placeholder
      >
        <v-row
          class="fill-height ma-0"
          align="center"
          justify="center"
        >
          <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
        </v-row>
      </template>
    </v-img>
    <v-card-actions>
      <add-course
        v-if="group.role.role_user == 'Owner' || group.role.role_user == 'Admin'"
        :group="group"
      ></add-course>
      <v-spacer></v-spacer>
      <v-btn
        disabled
        icon
      >
        <v-icon>{{mdiHeart}}</v-icon>
      </v-btn>
      <social-sharing
        :url="`${$config.webURL}/groups/${group.id}`"
        :title="group.name"
        :media="group.logo != null ? `${$config.assetsURL}${group.logo.src}` : 'https://picsum.photos/id/7/2400/800'"
      ></social-sharing>

      <dots-options-group
        v-if="group.role.role_user == 'Owner' || group.role.role_user == 'Admin'"
        :group="group"
      >
      </dots-options-group>
    </v-card-actions>
  </v-card>
</template>

<script>
  import { mdiHeart } from '@mdi/js'

  import AddCourse from '@/components/groups/show/AddCourse';
  import DotsOptionsGroup from '@/components/groups/show/DotsOptionsGroup';
  import SocialSharing from '~/components/global/SocialSharing.vue';

  export default {
    props: {
      'group': Object,
    },
    data: () => ({
      'mdiHeart': mdiHeart
    }),
    components: {
      AddCourse,
      DotsOptionsGroup,
      SocialSharing
    }
  }
</script>
