<template>
  <v-autocomplete
    v-model="course"
    :items="items"
    :loading="isLoading"
    :search-input.sync="search"
    clearable
    hide-details
    hide-selected
    item-text="name"
    item-value="symbol"
    label="Search course..."
    :append-icon="mdiMagnify"
  >
    <template v-slot:no-data>
      <v-list-item>
        <v-list-item-title>
          Search your
          <strong>Courses</strong>
        </v-list-item-title>
      </v-list-item>
    </template>
    <template
      v-slot:item="{ item }"
    >
      <v-list-item
        @click="add_course(item.id)"
        :disabled="checkSubscription(item)"
        :class="checkSubscription(item) ? 'grey lighten-3' : ''"
      >
        <v-list-item-avatar
          color="indigo"
          class="headline font-weight-light white--text justify-center"
        >
          {{ item.name.charAt(0) }}
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title v-text="item.name"></v-list-item-title>
          <v-list-item-subtitle
            v-if="item.description<30"
            v-text="item.description"
          ></v-list-item-subtitle>
          <v-list-item-subtitle
            v-else
            v-text='item.description.substring(0,30)+".."'
          ></v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </template>
  </v-autocomplete>
</template>

<script>
  import { mdiMagnify } from '@mdi/js'

  export default {
    props: {
      'group': Object,
    },
    data: () => ({
      'mdiMagnify': mdiMagnify,
      isLoading: false,
      items: [],
      course: null,
      search: null,
    }),
    mounted(){
      this.get();
    },
    methods:{
      async get(val) {
        try {
          await this.$axios.get('/api/group/search_courses')
          .then(response => {
            this.items = response.data.courses;
          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          })
          .finally(() => {
            this.isLoading = false;
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
      async add_course(course_id) {
        try {
          await this.$axios.post('/api/group/add_course', {
            'course_id': course_id,
            'group_id': this.group.id
          })
          .then(response => {
            this.$toast.success(response.data.message)
            this.group.courses.push(response.data.course);
          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          })
          .finally(() => {
            this.isLoading = false;
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
      checkSubscription(item){
        let auxReturn = false;

        for (let i = 0; i < this.group.courses.length; i++) {
          const course = this.group.courses[i];

          if (course.id == item.id) {
            auxReturn = true;
            break;
          }
        }

        return auxReturn;
      }
    },
  }
</script>
