<template>
  <div
    class="pb-6"
  >
    <v-textarea
      v-model="form_content_fillintheblank.fillintheblank_contentable.content"
      :rules="rules.required"
      required
      outlined
      placeholder="Cum sociis natoque penatibus et [-1-] vestibulum facilisis [-2-] nec pulvinar."
      :prepend-icon="mdiFormTextbox"
      label="Write your paragraph"
    ></v-textarea>
    <p
      class="text-caption ma-0"
    >
      You should use the following characters <span class="font-weight-black">[-n-]</span> to mark your question field in the paragraph.
    </p>
    <p
      class="text-caption ma-0"
    >
      Ex. "Cum sociis natoque penatibus et <span class="font-weight-black">[-1-]</span> vestibulum facilisis <span class="font-weight-black">[-2-]</span> nec pulvinar."
    </p>
  </div>
</template>

<script>
  import { mdiFormTextbox } from '@mdi/js';

  export default {
    props: {
      form_content_fillintheblanks: {
        required: true,
        type: Array
      },
      form_content_fillintheblank: {
        required: true,
        type: Object
      },
      index: {
        required: true,
        type: Number
      }
    },
    data(){
      return {
        'mdiFormTextbox': mdiFormTextbox,
        rules: {
          required: [
            v => !!v || 'This field is required'
          ]
        }
      }
    }
  }
</script>
