<template>
  <v-row
    no-gutters
  >
    <v-col
      cols="12"
    >
      <v-text-field
        v-model="form_content_fillintheblank.fillintheblank_contentable.question.content"
        :rules="rules.required"
        required
        :prefix="`[-${index}-] `"
        placeholder="(Buy) Past simple"
        :append-icon="form_content_fillintheblanks.length > 2 ? mdiDelete : undefined"
        @click:append="remove_question(index)"
        label="Write your question (select the correct option)"
      ></v-text-field>
    </v-col>
    <v-col
      v-for="(option, index) in form_content_fillintheblank.fillintheblank_contentable.options"
      :key="index"
      cols="12"
    >
      <v-text-field
        v-model="form_content_fillintheblank.fillintheblank_contentable.options[index].content"
        :rules="rules.required"
        required
        placeholder="My awesone option"
        :prepend-icon="option.correct.is_correct ? mdiCheckboxMarked : mdiCheckboxBlankOutline"
        :append-icon="form_content_fillintheblank.fillintheblank_contentable.options.length > 1 ? mdiClose : undefined"
        @click:prepend="toggle_correct_option(index)"
        @click:append="remove_option(index)"
        label="Write your option"
      ></v-text-field>
    </v-col>
    <v-col
      cols="12"
    >
      <v-card
        @click="add_option()"
        elevation="0"
      >
        <v-text-field
          disabled
          :prepend-icon="mdiPlus"
          label="Add new option"
        ></v-text-field>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
  import { mdiDelete, mdiClose, mdiCheckboxMarked, mdiCheckboxBlankOutline, mdiPlus } from '@mdi/js';

  export default {
    props: {
      form_content_fillintheblanks: {
        required: true,
        type: Array
      },
      form_content_fillintheblank: {
        required: true,
        type: Object
      },
      index: {
        required: true,
        type: Number
      }
    },
    data(){
      return {
        'mdiDelete': mdiDelete,
        'mdiClose': mdiClose,
        'mdiCheckboxMarked': mdiCheckboxMarked,
        'mdiCheckboxBlankOutline': mdiCheckboxBlankOutline,
        'mdiPlus': mdiPlus,
        rules: {
          required: [
            v => !!v || 'This field is required'
          ]
        }
      }
    },
    methods: {
      remove_question(index) {
        this.$delete(this.form_content_fillintheblanks, index)
      },
      add_option(){
        this.form_content_fillintheblank.fillintheblank_contentable.options.push({
          content: '',
          correct: {
            is_correct: 1
          }
        })
      },
      remove_option(index){
        this.$delete(this.form_content_fillintheblank.fillintheblank_contentable.options, index)
      },
      toggle_correct_option(index){
        this.form_content_fillintheblank.fillintheblank_contentable.options[index].correct.is_correct = !this.form_content_fillintheblank.fillintheblank_contentable.options[index].correct.is_correct
      }
    }
  }
</script>
