<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-text
      class="pa-0 text--primary"
    >
      <div class="output ql-snow">
        <div class="ql-editor no-margin-content" v-html="form_content.form_contentable.content"></div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    }
  }
</script>

<style scoped>
  .no-margin-content p{
    margin: 0;
  }
</style>
