<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-text
      class="pa-0 text--primary"
    >
      <div class="output ql-snow">
        <div class="ql-editor no-margin-content" v-html="form_content.form_contentable.content"></div>
      </div>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <edit-form-content-text
        :form_content="form_content"
      >
      </edit-form-content-text>
      <destroy-form-content
        :form_content_id="form_content.id"
      >
      </destroy-form-content>
    </v-card-actions>
  </v-card>
</template>

<script>
  import EditFormContentText from '@/components/form-contents/text/edit/EditFormContentText';
  import DestroyFormContent from '@/components/form-contents/destroy/DestroyFormContent';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    data(){
      return {}
    },
    components: {
      EditFormContentText,
      DestroyFormContent
    }
  }
</script>

<style scoped>
  .no-margin-content p{
    margin: 0;
  }
</style>
