<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="items"
        ></bread-crumb>
      </v-col>
      <template
        v-if="!loading"
      >
        <v-col
          cols="12"
        >
          <header-submits-show
            :course="course"
            :unit="unit"
          >
          </header-submits-show>
        </v-col>
        <v-col
          cols="12"
        >
          <form-submit-show
            :course="course"
            :unit="unit"
          >
          </form-submit-show>
        </v-col>
      </template>
      <float-button-form>
      </float-button-form>
    </v-row>
  </v-container>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  import BreadCrumb from '@/components/global/BreadCrumb';
  import HeaderSubmitsShow from '@/components/forms/answers/submits/show/HeaderSubmitsShow';
  import FormSubmitShow from '@/components/forms/answers/submits/show/FormSubmitShow';
  import FloatButtonForm from '@/components/forms/show/FloatButtonForm';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Courses',
          disabled: false,
          exact: true,
          to: '/courses/',
        }
      ],
      course: [],
      unit: [],
      loading: true,
    }),
    computed: {
      ...mapState(
        "forms", [
          "form",
          "groups",
          "formSubmit",
        ]
      ),
    },
    async mounted() {
      await this.getFormSubmit({
        params: {
          'course_id': this.$route.params.course,
          'unit_id': this.$route.params.unit,
          'form_id': this.$route.params.form,
          'submit_id': this.$route.params.submit,
        }
      })
      .then(response => {
        this.course = response.data.course;
        this.unit = response.data.unit;

        this.items.push({
          text: `${this.course.name}`,
          disabled: false,
          exact: true,
          to: `/courses/${this.course.id}/`,
        }, {
          text: `${this.unit.name}`,
          disabled: false,
          exact: true,
          to: `/courses/${this.course.id}/units/${this.unit.id}/`,
        }, {
          text: `${this.form.name}`,
          disabled: false,
          exact: true,
          to: `/courses/${this.course.id}/units/${this.unit.id}/forms/${this.form.id}/`,
        }, {
          text: `Submits`,
          disabled: false,
          exact: true,
          to: `/courses/${this.course.id}/units/${this.unit.id}/forms/${this.form.id}/answers/submits/`,
        }, {
          text: `${this.$route.params.submit}`,
          disabled: true,
          exact: true,
          to: `/courses/${this.course.id}/units/${this.unit.id}/forms/${this.form.id}/answers/submits/${this.$route.params.submit}/`,
        });

        this.loading = false;
      })
      .catch(e => {
        this.$toast.error(e)
      })
    },
    methods: {
      ...mapActions({
        getFormSubmit: 'forms/getFormSubmit'
      })
    },
    components: {
      BreadCrumb,
      HeaderSubmitsShow,
      FormSubmitShow,
      FloatButtonForm
    },
  }
</script>
