<template>
  <v-card
    v-if="answer != null"
    class="mx-auto transition"
    :color="answer.correct.is_correct == '1' ? 'amber lighten-5' : 'red lighten-4'"
  >
    <v-card-title
      v-text="form_content.form_contentable.question.content"
      class="text-h6"
    >
    </v-card-title>
    <v-card-text
      class="pb-0"
    >
      <v-text-field
        class="pt-0"
        readonly
        :value="answer.content"
        label="User answer"
        :append-outer-icon="answer.correct.is_correct == '1' ? mdiCheckboxMarkedOutline : mdiCheckboxBlankOutline"
        @click:append-outer="group != undefined && group.pivot.role_user == 'Student' ? undefined : send_correct()"
      ></v-text-field>
    </v-card-text>
  </v-card>
</template>

<script>
  import { mdiCheckboxMarkedOutline, mdiCheckboxBlankOutline } from '@mdi/js';
  import { mapState, mapActions } from 'vuex';

  export default {
    props: {
      group: {
        required: false,
        type: Object
      },
      form_content: {
        required: true,
        type: Object
      }
    },
    data(){
      return {
        'mdiCheckboxMarkedOutline': mdiCheckboxMarkedOutline,
        'mdiCheckboxBlankOutline': mdiCheckboxBlankOutline,
      }
    },
    computed: {
      ...mapState(
        "forms", [
          "form",
          "formSubmit"
        ]
      ),
      answer(){
        let auxReturn = null;

        for (let i = 0; i < this.formSubmit.answers.length; i++) {
          const answer = this.formSubmit.answers[i];
          if (answer.question_id == this.form_content.form_contentable.question.id) {
            auxReturn = answer;
            break;
          }
        }

        return auxReturn;
      }
    },
    methods: {
      ...mapActions({
        setCorrectAnswer: 'forms/setCorrectAnswer'
      }),
      async send_correct(){
        await this.setCorrectAnswer({
          answer_id: this.answer.id,
          _method: 'PUT'
        })
        .then(response => {
        })
        .catch(e => {
          this.$toast.error(e)
        })
      }
    }
  }
</script>
