<template>
  <v-menu
    bottom
    left
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="primary"
        text
        v-bind="attrs"
        v-on="on"
      >
        Add content
      </v-btn>
    </template>

    <v-list>
      <create-form-lesson-text
        :lesson="lesson"
      ></create-form-lesson-text>
      <create-form-lesson-video
        :lesson="lesson"
      ></create-form-lesson-video>
      <create-form-lesson-link
        :lesson="lesson"
      ></create-form-lesson-link>
      <create-form-lesson-image
        :lesson="lesson"
      ></create-form-lesson-image>
    </v-list>
  </v-menu>
</template>

<script>
  import CreateFormLessonText from '@/components/lesson-contents/text/create/CreateFormLessonText';
  import CreateFormLessonVideo from '@/components/lesson-contents/video/create/CreateFormLessonVideo';
  import CreateFormLessonLink from '@/components/lesson-contents/link/create/CreateFormLessonLink';
  import CreateFormLessonImage from '@/components/lesson-contents/image/create/CreateFormLessonImage';

  export default {
    props: {
      'lesson': Object,
    },
    components: {
      CreateFormLessonText,
      CreateFormLessonVideo,
      CreateFormLessonLink,
      CreateFormLessonImage
    }
  }
</script>
