<template>
  <v-menu
    bottom
    left
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        icon
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>{{mdiDotsVertical}}</v-icon>
      </v-btn>
    </template>

    <v-list>
      <edit-form-lesson
        :lesson="lesson"
      >
      </edit-form-lesson>
      <destroy-lesson
        :lesson="lesson"
        :course="course"
      >
      </destroy-lesson>
    </v-list>
  </v-menu>
</template>

<script>
  import { mdiDotsVertical } from '@mdi/js'

  import DestroyLesson from '@/components/lessons/destroy/DestroyLesson';
  import EditFormLesson from '@/components/lessons/edit/EditFormLesson';

  export default {
    props: {
      'lesson': Object,
      'course': Object,
    },
    data(){
      return {
        mdiDotsVertical
      }
    },
    components: {
      DestroyLesson,
      EditFormLesson,
    }
  }
</script>
