<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-title
      v-text="lesson.name"
      class="headline"
    >
    </v-card-title>
    <v-card-subtitle
      v-if="group && group['pivot'] != undefined"
      v-text="`${group.pivot.role_user}`"
    >
    </v-card-subtitle>
    <v-card-subtitle
      v-if="course && course['pivot'] != undefined"
      v-text="`${course.pivot.role_user}`"
    >
    </v-card-subtitle>
    <v-card-text
      v-text="lesson.description"
      height="100%"
    >
    </v-card-text>
    <v-card-actions>
      <add-lesson-content
        v-if="course != null && course['pivot'] != undefined"
        :lesson="lesson"
      ></add-lesson-content>
      <v-spacer></v-spacer>
      <v-btn
        disabled
        icon
      >
        <v-icon>{{mdiHeart}}</v-icon>
      </v-btn>
      <social-sharing
        :url="url"
        :title="lesson.name"
        :description="lesson.description"
      ></social-sharing>

      <dots-options-lesson
        v-if="course != null && course['pivot'] != undefined"
        :lesson="lesson"
        :course="course"
      >
      </dots-options-lesson>
    </v-card-actions>
  </v-card>
</template>

<script>
  import { mdiHeart } from '@mdi/js'

  import AddLessonContent from '@/components/lessons/show/AddLessonContent';
  import DotsOptionsLesson from '@/components/lessons/show/DotsOptionsLesson';
  import SocialSharing from '~/components/global/SocialSharing.vue';

  export default {
    props: {
      'group': {
        type: Object,
        required: false
      }, 'course': {
        type: Object,
        required: true
      }, 'unit': {
        type: Object,
        required: true
      }, 'lesson': {
        type: Object,
        required: true
      }
    },
    data(){
      return {
        'mdiHeart': mdiHeart
      }
    },
    computed: {
      url(){
        return window.location.href
      }
    },
    components: {
      AddLessonContent,
      DotsOptionsLesson,
      SocialSharing
    }
  }
</script>
