<template>
  <v-card
    class="mx-auto transition"
  >
    <nuxt-link
      :to="`/groups/${group.id}`"
      class="text-decoration-none"
    >
      <v-img
        :src="group.logo != null ? `${$config.assetsURL}${group.logo.src}` : 'https://picsum.photos/id/7/2400/800'"
        height="194"
        class="white--text align-end"
        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
      >
        <v-card-title
          v-text="str_limit(group.name, 40)"
        >
        </v-card-title>
        <v-card-subtitle
          class="white--text"
          v-text="group.pivot.role_user"
        >
        </v-card-subtitle>
        <template
          v-slot:placeholder
        >
          <v-row
            class="fill-height ma-0"
            align="center"
            justify="center"
          >
            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
          </v-row>
        </template>
      </v-img>
    </nuxt-link>
    <v-card-actions>
      <v-btn
        text
        color="primary"
        :to="`/groups/${group.id}`"
      >
        Explore your group
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn
        disabled
        icon
      >
        <v-icon>{{mdiHeart}}</v-icon>
      </v-btn>
      <social-sharing
        :url="`${$config.webURL}/groups/${group.id}`"
        :title="group.name"
        :media="group.logo != null ? `${$config.assetsURL}${group.logo.src}` : 'https://picsum.photos/id/7/2400/800'"
      ></social-sharing>
    </v-card-actions>
  </v-card>
</template>

<script>
  import { mdiHeart } from '@mdi/js'
  import SocialSharing from '~/components/global/SocialSharing.vue';

  export default {
    components: {
      SocialSharing
    },
    data: () => ({
      'mdiHeart': mdiHeart
    }),
    props: {
      'group': Object
    },
    methods: {
      str_limit(string, limit){
        return string.length < limit ? string : string.substring(0, limit) + '...'
      }
    }
  }
</script>
