<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="items"
        ></bread-crumb>
      </v-col>
      <template
        v-if="!loading"
      >
        <v-col
          cols="12"
        >
          <form-detail
            :course="course"
            :unit="unit"
          >
          </form-detail>
        </v-col>
        <v-col
          cols="12"
        >
          <form-content>
          </form-content>
        </v-col>
      </template>
      <float-button-form>
      </float-button-form>
    </v-row>
  </v-container>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  import BreadCrumb from '@/components/global/BreadCrumb';
  import FormDetail from '@/components/forms/show/FormDetail';
  import FormContent from '@/components/forms/show/FormContent';
  import FloatButtonForm from '@/components/forms/show/FloatButtonForm';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Courses',
          disabled: false,
          exact: true,
          to: '/courses/',
        }
      ],
      course: [],
      unit: [],
      loading: true,
    }),
    computed: {
      ...mapState({
        form: state => state.forms.form,
      }),
    },
    async mounted() {
      await this.getForm({
        params: {
          'course_id': this.$route.params.course,
          'unit_id': this.$route.params.unit,
          'form_id': this.$route.params.form,
        }
      })
      .then(response => {
        this.course = response.data.course;
        this.unit = response.data.unit;

        this.items.push({
          text: `${this.course.name}`,
          disabled: false,
          exact: true,
          to: `/courses/${this.course.id}/`,
        }, {
          text: `${this.unit.name}`,
          disabled: false,
          exact: true,
          to: `/courses/${this.course.id}/units/${this.unit.id}/`,
        }, {
          text: `${this.form.name}`,
          disabled: true,
          exact: true,
          to: `/courses/${this.course.id}/units/${this.unit.id}/forms/${this.form.id}`,
        });

        this.loading = false;
      })
      .catch(e => {
        this.$toast.error(e)
      })
    },
    methods: {
      ...mapActions({
        getForm: 'forms/getForm'
      }),
    },
    components: {
      BreadCrumb,
      FormDetail,
      FormContent,
      FloatButtonForm
    },
  }
</script>
