<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-text
      class="pa-0"
    >
      <div style="width: 100%;">
          <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
              <iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" :src="getSrc(form_content.form_contentable.content)" allowfullscreen="true" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
          </div>
      </div>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <edit-form-content-video
        :form_content="form_content"
      >
      </edit-form-content-video>
      <destroy-form-content
        :form_content_id="form_content.id"
      >
      </destroy-form-content>
    </v-card-actions>
  </v-card>
</template>

<script>
  import EditFormContentVideo from '@/components/form-contents/video/edit/EditFormContentVideo';
  import DestroyFormContent from '@/components/form-contents/destroy/DestroyFormContent';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    data(){
      return {}
    },
    methods: {
      getSrc(iframe){
        let url = iframe;
        let auxReturn;

        try {
            auxReturn = new URL(url).toString();
        } catch (e) {
            let regex = /src="(.[^"]+)"/g;
            let x = regex.exec(url);
            if (x != null) {
              auxReturn = x[1];
            }else {
              auxReturn = url;
            }
        }
        return auxReturn;
      },
    },
    components: {
      EditFormContentVideo,
      DestroyFormContent
    }
  }
</script>
