<template>
  <v-list-item
    @click="destroy()"
  >
    <v-list-item-title>
      <v-icon>{{mdiDelete}}</v-icon> Delete
    </v-list-item-title>
  </v-list-item>
</template>

<script>
  import { mdiDelete } from '@mdi/js';
  import { mapActions } from 'vuex';

  export default {
    data(){
      return {
        'mdiDelete': mdiDelete
      }
    },
    methods: {
      ...mapActions({
        destroyForm: 'forms/destroyForm'
      }),
      async destroy(){
        await this.destroyForm()
        .then(response => {
          this.$toast.success(response.data.message)

          if(this.$route.params.group){
            this.$router.push({
              path: `/groups/${this.$route.params.group}/courses/${this.$route.params.course}/units/${this.$route.params.unit}/`,
            });
          }else{
            this.$router.push({
              path: `/courses/${this.$route.params.course}/units/${this.$route.params.unit}/`,
            });
          }
        })
        .catch(e => {
          this.$toast.error(e)
        })
      }
    },
  }
</script>
