<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="300px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        icon
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>
          {{mdiBadgeAccountHorizontalOutline}}
        </v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title class="headline">
        Edit role
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row>
              <v-col
                cols="12"
              >
                <v-select
                  v-model="role"
                  :items="roles"
                  :rules="rules.role"
                  label="Role"
                  required
                  :prepend-icon="mdiBadgeAccountHorizontalOutline"
                  type="text"
                ></v-select>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="dialog = false"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="edit_role_user()"
        >
          Update
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiBadgeAccountHorizontalOutline } from '@mdi/js'

  export default {
    props: {
      'user': Object,
      'users': Array,
      'course': Object,
    },
    data: () => ({
      'mdiBadgeAccountHorizontalOutline': mdiBadgeAccountHorizontalOutline,
      dialog: false,
      valid: false,
      role: '',
      roles: [
        'Admin',
      ],
      rules: {
        role: [
          v => !!v || 'Role is required'
        ],
      },
    }),
    mounted(){
      this.role = this.user.pivot.role_user;
    },
    methods:{
      async edit_role_user(user_id) {
        try {
          await this.$axios.put('/api/course/edit_role_user', {
            'course_id': this.course.id,
            'user_id': this.user.id,
            'role_user': this.role,
          })
          .then(response => {
            this.$toast.success(response.data.message)

            let index = this.users.findIndex(x => x.id === this.user.id)
            this.users[index].pivot.role_user = response.data.user.role_user;

            this.dialog = false;
          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
    },
  }
</script>
