<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="300px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        icon
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>
          {{mdiDelete}}
        </v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title class="headline">
        Are you sure?
      </v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="dialog = false"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="remove_user()"
        >
          Remove
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiDelete } from '@mdi/js'

  export default {
    props: {
      'user': Object,
      'users': Array,
      'course': Object,
    },
    data: () => ({
      'mdiDelete': mdiDelete,
      dialog: false,
    }),
    methods:{
      async remove_user(user_id) {
        try {
          await this.$axios.delete('/api/course/remove_user', {
            'params': {
              'course_id': this.course.id,
              'user_id': this.user.id,
            }
          })
          .then(response => {
            let index = this.users.findIndex(x => x.id === this.user.id)
            this.$delete(this.users, index);

            this.$toast.success(response.data.message)
          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
    },
  }
</script>
