<template>
  <div
    class="d-flex justify-space-between align-center"
    @click="item.icon === 'form' ? get_user_form_submits() : undefined"
  >
    <span>
      {{item.name}}
    </span>

    <component
      v-if="getProgressTypeComponent"
      :is="getProgressTypeComponent"
      :item="item"
    ></component>
  </div>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    props: {
      item: {
        type: Object,
        required: true
      }
    },
    methods: {
      ...mapActions(
        'groups/user-progress', [
          'getUserFormSubmits'
        ]
      ),
      async get_user_form_submits(){
        // await this.getUserFormSubmits({
        //   'group_id': this.$route.params.group,
        //   'user_id': this.item.user_id,
        //   'form_id': this.item.form_id
        // })
      }
    },
    computed: {
      getProgressTypeComponent(){
        const types = {
          "form": () => {
            return () => import(`../types/form/ProgressTypeForm`);
          },
          "submit": () => {
            return () => import(`../types/submit/ProgressTypeSubmit`)
          },
          "default": () => {}
        }

        return types[this.item.icon] ? types[this.item.icon]() : types['default']();
      }
    }
  }
</script>
