<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
        v-bind="attrs"
        v-on="on"
      >
        <v-list-item-title>
          <v-icon>{{mdiOrderBoolAscending}}</v-icon> Select
        </v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">New question</span>
      </v-card-title>
      <v-card-text
        class="pb-0"
      >
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row>
              <v-col
                cols="12"
              >
                <v-textarea
                  v-model="name"
                  :rules="rules.name"
                  required
                  outlined
                  placeholder="My awesone question"
                  :prepend-icon="mdiText"
                  label="Write your question"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row
              v-for="(option, index) in options"
              :key="index"
              no-gutters
            >
              <v-col
                cols="12"
              >
                <v-text-field
                  v-model="options[index].content"
                  :rules="rules.option"
                  required
                  placeholder="My awesone option"
                  :prepend-icon="option.is_correct ? mdiRadioboxMarked : mdiRadioboxBlank"
                  :append-icon="options.length > 1 ? mdiClose : undefined"
                  @click:append="removeOption(index)"
                  @click:prepend="addCorrectSelect(index)"
                  label="Write your option"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row
              no-gutters
            >
              <v-col
                cols="12"
              >
                <v-card
                  @click="addOption()"
                  elevation="0"
                >
                  <v-text-field
                    :prepend-icon="mdiRadioboxBlank"
                    disabled
                    label="Add option"
                  ></v-text-field>
                </v-card>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="create()"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiText, mdiOrderBoolAscending, mdiRadioboxMarked, mdiRadioboxBlank, mdiClose } from '@mdi/js';

  import { mapActions, mapState } from 'vuex';

  export default {
    data(){
      return {
        'mdiText': mdiText,
        'mdiOrderBoolAscending': mdiOrderBoolAscending,
        'mdiRadioboxMarked': mdiRadioboxMarked,
        'mdiRadioboxBlank': mdiRadioboxBlank,
        'mdiClose': mdiClose,
        dialog: false,
        valid: false,
        name: '',
        options: [{
          content: '',
          is_correct: false
        }],
        rules: {
          name: [
            v => !!v || 'Question is required'
          ],
          option: [
            v => !!v || 'This field is required'
          ]
        },
      }
    },
    methods: {
      ...mapActions({
        addFormContentSelect: 'forms/addFormContentSelect'
      }),
      reset () {
				this.$refs.form.reset();
        this.dialog = false;
      },
      removeOption(index){
        this.$delete(this.options, index)
      },
      addOption(){
        this.options.push({
          content: '',
          is_correct: false,
        })
      },
      addCorrectSelect(index){
        for (let i = 0; i < this.options.length; i++) {
          const option = this.options[i];
          option.is_correct = false;
        }
        this.options[index].is_correct = true;
      },
      async create(){
        if(this.$refs.form.validate()){
          await this.addFormContentSelect({
            name: this.name,
            options: this.options,
          })
          .then(response => {
            this.$toast.success(response.data.message)
            this.reset();
          })
          .catch(e => {
            this.$toast.error(e)
          })
        }
      }
    },
  }
</script>
