<template>
  <v-card
    v-if="group.notification"
    class="mx-auto transition"
  >
    <v-alert
      :type="group.notification.type"
      class="pa-6"
    >
      <v-row
        align="center"
        class="no-gutters"
      >
        <v-col class="grow">
          {{group.notification.content}}
        </v-col>
        <v-col
          class="shrink"
          v-if="group.role.role_user == 'Owner' || group.role.role_user == 'Admin'"
        >
          <v-btn
            color="error"
            @click="remove_notification(group.notification)"
          >
            <v-icon left>{{mdiDelete}}</v-icon>
            Delete
          </v-btn>
        </v-col>
      </v-row>
    </v-alert>
  </v-card>
</template>

<script>
  import { mdiDelete } from '@mdi/js'

  export default {
    props: {
      'group': Object,
    },
    data(){
      return {
        'mdiDelete': mdiDelete
      }
    },
    methods:{
      async remove_notification(notification) {
        try {
          await this.$axios.delete('/api/notification/destroy', {
            'params': {
              'group_id': notification.group_id,
              'notification_id': notification.id,
            }
          })
          .then(response => {
            this.group.notification = null;

            this.$toast.success(response.data.message)
          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
    }
  }
</script>
