<template>
  <v-card
    :to="`/groups/${group.id}`"
    class="elevation-0"
    color="transparent"
  >
    <v-list two-line>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title v-text="group.name"></v-list-item-title>
          <v-list-item-subtitle
            class="text--primary"
            v-text="group.pivot.role_user"
          ></v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-action>
          <v-icon>
            {{mdiChevronRight}}
          </v-icon>
        </v-list-item-action>
      </v-list-item>
    </v-list>
    <v-divider></v-divider>
  </v-card>
</template>

<script>
  import { mdiChevronRight } from '@mdi/js'
  export default {
    props: {
      'group': Object
    },
    data(){
      return {
        mdiChevronRight
      }
    },
    methods: {
      str_limit(string, limit){
        return string.length < limit ? string : string.substring(0, limit) + '...'
      }
    }
  }
</script>
