<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="items"
        ></bread-crumb>
      </v-col>
      <template
        v-if="!loading"
      >
        <v-col
          cols="12"
        >
          <unit-detail
            :group="group"
            :course="course"
            :unit="unit"
          >
          </unit-detail>
        </v-col>
        <template
          v-if="unit.contents != null "
        >
          <v-col
            cols="12"
            v-if="unit.contents.length <= 0"
          >
            <v-row
              class="no-gutters"
              justify="center"
            >
              <v-col
                cols="12"
                sm="8"
                class="text-center mb-4"
              >
                <h2>
                  Upps you don't have any content added on this unit yet. You can press the above button to add new content to this unit!
                </h2>
              </v-col>
            </v-row>
          </v-col>
          <template
            v-else
          >
            <template
              v-for="(content, index) in unit.contents"
            >
              <v-col
                cols="12"
                sm="6"
                md="4"
                :key="index"
              >
                <content-card
                  v-if="content.unit_contentable_type.includes('Lesson')"
                  :content="content.unit_contentable"
                  :type="'Lesson'"
                  :url="`/groups/${group.id}/courses/${course.id}/units/${unit.id}/lessons/${content.unit_contentable.id}/`"
                >
                </content-card>
                <content-card
                  v-else-if="content.unit_contentable_type.includes('Form')"
                  :content="content.unit_contentable"
                  :type="'Form'"
                  :success="content.unit_contentable.form_submits_count > 0"
                  :url="`/groups/${group.id}/courses/${course.id}/units/${unit.id}/forms/${content.unit_contentable.id}/`"
                ></content-card>
              </v-col>
            </template>
          </template>
        </template>
        <v-col
          cols="12"
        >
          <h2
            v-html="'Comments'"
          ></h2>
        </v-col>
        <v-col
          cols="12"
        >
          <comments-card
            :group="group"
            type="unit"
          >
          </comments-card>
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script>
  import BreadCrumb from '@/components/global/BreadCrumb';
  import UnitDetail from '@/components/units/show/UnitDetail';
  import ContentCard from '@/components/global/ContentCard';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Groups',
          disabled: false,
          exact: true,
          to: '/groups/',
        }
      ],
      loading: true,
      unit: null,
      course: null,
      group: null,
    }),
    components: {
      BreadCrumb,
      UnitDetail,
      ContentCard
    },
    mounted(){
      this.get();
    },
    methods:{
      async get() {
        try {
          await this.$axios.get('/api/group/unit', {
            params: {
              'group_id': this.$route.params.group,
              'course_id': this.$route.params.course,
              'unit_id': this.$route.params.unit,
            }
          })
          .then(response => {
            this.group = response.data.group;
            this.course = response.data.course;
            this.unit = response.data.unit;

            this.items.push({
              text: this.group.name,
              disabled: false,
              exact: true,
              to: `/groups/${this.group.id}/`
            }, {
              text: `${this.course.name}`,
              disabled: false,
              exact: true,
              to: `/groups/${this.group.id}/courses/${this.course.id}/`,
            }, {
              text: `${this.unit.name}`,
              disabled: true,
              exact: true,
              to: `/groups/${this.group.id}/courses/${this.course.id}/units/${this.unit.id}`,
            });
          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          })
          .finally(finish => {
            this.loading = false;
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
    }
  }
</script>
