<template>
  <v-container>
    <v-row>
      <p v-if="$fetchState.pending"></p>
      <v-col
        v-else-if="$fetchState.error"
        class="d-flex justify-center align-center"
      >
        <h2>An error occurred 😭</h2>
      </v-col>
      <template
        v-else
      >
        <v-col
          cols="12"
        >
          <bread-crumb
            :items="items"
          ></bread-crumb>
        </v-col>
        <template
          v-if="getTotal > 0"
        >
          <v-col
            cols="12"
          >
            <header-statistics-answers
              :course="course"
              :unit="unit"
            >
            </header-statistics-answers>
          </v-col>
          <v-col
            cols="12"
          >
            <form-content-answers
              :course="course"
              :unit="unit"
            >
            </form-content-answers>
          </v-col>
        </template>
        <template
          v-else
        >
          <v-col
            cols="12"
          >
            <v-row
              class="no-gutters"
              justify="center"
            >
              <v-col
                cols="12"
                sm="8"
                class="text-center mb-4 my-12"
              >
                <h2>
                  Upps you don't have any submits on this form yet.
                </h2>
              </v-col>
            </v-row>
          </v-col>
        </template>
        <float-button-form>
        </float-button-form>
      </template>
    </v-row>
  </v-container>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  import BreadCrumb from '@/components/global/BreadCrumb';
  import HeaderStatisticsAnswers from '@/components/forms/answers/statistics/HeaderStatisticsAnswers';
  import FormContentAnswers from '@/components/forms/answers/statistics/FormContentAnswers';
  import FloatButtonForm from '@/components/forms/show/FloatButtonForm';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Courses',
          disabled: false,
          exact: true,
          to: '/courses/',
        }
      ],
      course: [],
      unit: [],
    }),
    computed: {
      ...mapState({
        form: state => state.forms.form,
        groups: state => state.forms.groups,
      }),
      getTotal(){
        let auxReturn = 0
        for (let i = 0; i < this.groups.length; i++) {
          const group = this.groups[i];
          auxReturn += group.stats.total_answers;
        }

        return auxReturn;
      }
    },
    async fetch() {
      await Promise.all([
        await this.get_form_statistics()
      ])
    },
    methods: {
      ...mapActions(
        "forms", [
          "getFormStatistics"
        ]
      ),
      async get_form_statistics(){
        await this.getFormStatistics({
          params: {
            'course_id': this.$route.params.course,
            'unit_id': this.$route.params.unit,
            'form_id': this.$route.params.form,
          }
        })
        .then(response => {
          this.course = response.data.course;
          this.unit = response.data.unit;

          this.items.push({
            text: `${this.course.name}`,
            disabled: false,
            exact: true,
            to: `/courses/${this.course.id}/`,
          }, {
            text: `${this.unit.name}`,
            disabled: false,
            exact: true,
            to: `/courses/${this.course.id}/units/${this.unit.id}/`,
          }, {
            text: `${this.form.name}`,
            disabled: false,
            exact: true,
            to: `/courses/${this.course.id}/units/${this.unit.id}/forms/${this.form.id}/`,
          }, {
            text: `Statistics`,
            disabled: true,
            exact: true,
            to: `/courses/${this.course.id}/units/${this.unit.id}/forms/${this.form.id}/answers/statistics/`,
          });
        })
      }
    },
    components: {
      BreadCrumb,
      HeaderStatisticsAnswers,
      FormContentAnswers,
      FloatButtonForm
    },
  }
</script>
