<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
        v-bind="attrs"
        v-on="on"
      >
        <v-list-item-title>
          <v-icon>{{mdiBell}}</v-icon> Nofications
        </v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Add new notification</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row
              v-if="content"
            >
              <v-col
                cols="12"
              >
                <v-card>
                  <v-alert
                    class="pa-6"
                    :type="type"
                  >
                    {{content}}
                  </v-alert>
                </v-card>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                sm="6"
              >
                <v-text-field
                  v-model="content"
                  :rules="rules.content"
                  placeholder="Notification content"
                  label="Content"
                  required
                  :prepend-icon="mdiCardText"
                  type="text"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="6"
              >
                <v-select
                  v-model="type"
                  :items="types"
                  :rules="rules.type"
                  label="Type"
                  required
                  :prepend-icon="mdiInformation"
                  type="text"
                ></v-select>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="add()"
        >
          Add
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiBell, mdiCardText, mdiInformation } from '@mdi/js'

  import PreviewImage from '@/components/global/PreviewImage';

  export default {
    props: {
      'group': Object,
    },
    data: () => ({
      'mdiBell': mdiBell,
      'mdiCardText': mdiCardText,
      'mdiInformation': mdiInformation,
      dialog: false,
      valid: false,
      content: '',
      type: 'success',
      types: [
        'success',
        'info',
        'warning',
        'error',
      ],
      rules: {
        content: [
          v => !!v || 'Content is required'
        ],
        type: [
          v => !!v || 'Type is required',
        ],
      },
    }),
    methods:{
      reset () {
        this.content = '';
        this.dialog = false;
			},
      async add() {
        if(this.$refs.form.validate()){
          try {
            await this.$axios.post('/api/notification/store', {
              'group_id': this.group.id,
              'content': this.content,
              'type': this.type,
            })
            .then(response => {
              this.$toast.success(response.data.message)

              this.group.notification = response.data.notification;
              this.reset();
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
    },
    components: {
      PreviewImage
    }
  }
</script>
