<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-text
      class="primary white--text py-2"
    >
      <p
        v-html="form_content.form_contentable.question.content"
        class="text-h6 text-pre-wrap pa-0 ma-0"
      ></p>
      <span
        class="text-caption"
      >
        {{answers.length > 1 ? `${answers.length} answers` : `${answers.length} answer`}}
      </span>
    </v-card-text>
    <v-card-text
      v-if="answers.length == 0"
      class="pt-0"
    >
      <p
        class="text-h6"
      >
        Upps you don't have sufficient answers yet.
      </p>
    </v-card-text>
    <v-card-text
      v-else
    >
      <doughnut-chart
        :chartData="chartData" :options="chartOptions" :height="100"
      />
    </v-card-text>
  </v-card>
</template>

<script>
  import { mapState } from 'vuex';

  import DoughnutChart from '@/components/charts/DoughnutChart';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    data(){
      return {
        chartOptions: {
          responsive: true,
          legend: {
            display: true,
            labels: {
                fontColor: 'rgb(255, 99, 132)'
            },
          },
          tooltips: {
            backgroundColor: '#17BF62'
          },
        }
      }
    },
    computed: {
      ...mapState(
        "forms", [
          "group",
        ]
      ),
      answers(){
        let auxReturn = [];
        if (this.group != null) {
          for (let i = 0; i < this.form_content.form_contentable.question.answers.length; i++) {
            const element = this.form_content.form_contentable.question.answers[i];
            if (element.group_id == this.group.id) {
              auxReturn.push(element);
            }
          }
        }else {
          for (let i = 0; i < this.form_content.form_contentable.question.answers.length; i++) {
            const element = this.form_content.form_contentable.question.answers[i];
            auxReturn.push(element);
          }
        }
        return auxReturn;
      },
      chartData(){
        let auxReturn = {};

        let data = {
          labels: [],
          values: [],
          backgroundColor: [],
        };

        const unique = [...new Set(this.answers.map(item => item.content))];

        for (let i = 0; i < unique.length; i++) {
          let count = 0;
          for (let y = 0; y < this.answers.length; y++) {
            const element = this.answers[y];
            if (unique[i] == this.answers[y].content) {
              count++
            }
          }
          if (unique[i] == '') {
            data.labels.push('Empty answers 😩');
          }else {
            data.labels.push(unique[i]);
          }
          data.values.push(count);
          data.backgroundColor.push(this.randomColor());
        }

        auxReturn = {
          labels: data.labels,
          datasets: [
            {
              label: 'Answers',
              data: data.values,
              backgroundColor: data.backgroundColor
            },
          ]
        };

        return auxReturn;
      },
    },
    methods: {
      randomColor() {
        const r = () => Math.floor(256 * Math.random());

        return `rgb(${r()}, ${r()}, ${r()})`;
      }
    },
    components: {
      DoughnutChart
    }
  }
</script>
