<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="items"
        ></bread-crumb>
      </v-col>
      <template
        v-if="!loading"
      >
        <v-col
          cols="12"
        >
          <lesson-detail
            :group="group"
            :course="course"
            :unit="unit"
            :lesson="lesson"
          >
          </lesson-detail>
        </v-col>
        <template
          v-if="lesson.contents != null "
        >
          <v-col
            cols="12"
            v-if="lesson.contents.length <= 0"
          >
            <v-row
              class="no-gutters"
              justify="center"
            >
              <v-col
                cols="12"
                sm="8"
                class="text-center mb-4"
              >
                <h2>
                  Upps you don't have any content added on this lesson yet. You can press the above button to add new content to this lesson!
                </h2>
              </v-col>
            </v-row>
          </v-col>
          <template
            v-else
          >
            <v-col
              v-for="(content) in lesson.contents"
              cols="12"
              :key="content.id"
            >
              <lesson-content-card
                :lesson="lesson"
                :content="content"
              >
              </lesson-content-card>
            </v-col>
          </template>
        </template>
        <v-col
          cols="12"
        >
          <h2
            v-html="'Comments'"
          ></h2>
        </v-col>
        <v-col
          cols="12"
        >
          <comments-card
            :group="group"
            type="lesson"
          >
          </comments-card>
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script>
  import BreadCrumb from '@/components/global/BreadCrumb';
  import LessonDetail from '@/components/lessons/show/LessonDetail';
  import LessonContentCard from '@/components/lesson-contents/show/LessonContentCard';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Groups',
          disabled: false,
          exact: true,
          to: '/groups/',
        }
      ],
      loading: true,
      group: null,
      course: null,
      unit: null,
      lesson: null,
    }),
    components: {
      BreadCrumb,
      LessonDetail,
      LessonContentCard
    },
    mounted(){
      this.get();
    },
    methods:{
      async get() {
        try {
          await this.$axios.get('/api/group/lesson', {
            params: {
              'group_id': this.$route.params.group,
              'course_id': this.$route.params.course,
              'unit_id': this.$route.params.unit,
              'lesson_id': this.$route.params.lesson,
            }
          })
          .then(response => {
            this.group = response.data.group;
            this.course = response.data.course;
            this.unit = response.data.unit;
            this.lesson = response.data.lesson;

            this.items.push({
              text: this.group.name,
              disabled: false,
              exact: true,
              to: `/groups/${this.group.id}/`
            }, {
              text: `${this.course.name}`,
              disabled: false,
              exact: true,
              to: `/groups/${this.group.id}/courses/${this.course.id}/`,
            }, {
              text: `${this.unit.name}`,
              disabled: false,
              exact: true,
              to: `/groups/${this.group.id}/courses/${this.course.id}/units/${this.unit.id}/`,
            }, {
              text: `${this.lesson.name}`,
              disabled: true,
              exact: true,
              to: `/groups/${this.group.id}/courses/${this.course.id}/units/${this.unit.id}/lessons/${this.lesson.id}`,
            });
          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          })
          .finally(finish => {
            this.loading = false;
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
    }
  }
</script>
