<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-text
      class="pa-0"
    >
      <template
        v-if="form_content.form_contentable.contents.length > 0"
      >
        <v-carousel
          show-arrows-on-hover
        >
          <template
            v-for="(image, index) in form_content.form_contentable.contents"
          >
            <v-carousel-item
              :key="index"
              :src="`${$config.assetsURL}${image.src}`"
              reverse-transition="fade-transition"
              transition="fade-transition"
              @click="show(index)"
            ></v-carousel-item>
          </template>
        </v-carousel>
      </template>
      <template
        v-else
      >
        <v-carousel
          :show-arrows="false"
          hide-delimiters
        >
          <v-carousel-item>
            <v-sheet
              color="red"
              height="100%"
              tile
            >
              <v-row
                class="fill-height"
                align="center"
                justify="center"
              >
                <div class="display-3">
                  Gallery empty
                </div>
              </v-row>
            </v-sheet>
          </v-carousel-item>
        </v-carousel>
      </template>
      <v-row
        class="no-gutters"
      >
        <client-only>
          <vue-easy-lightbox
            :visible="visible"
            :imgs="imageGallery"
            :index="index"
            @hide="handleHide"
          ></vue-easy-lightbox>
        </client-only>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    data(){
      return {
        visible: false,
        index: 0, // default
      }
    },
    computed: {
      imageGallery(){
        let images = [];

        for (let i = 0; i < this.form_content.form_contentable.contents.length; i++) {
          let image = this.form_content.form_contentable.contents[i];
          images.push({
            title: image.title,
            src: `${this.$config.assetsURL}${image.src}`,
          });
        }

        return images;
      }
    },
    methods: {
      show(index) {
				this.index = index
				this.visible = true
			},
			handleHide() {
				this.visible = false
			}
    }
  }
</script>
