<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="800px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
        v-bind="attrs"
        v-on="on"
      >
        <v-list-item-title>
          Text
        </v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Add Text</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <client-only>
            <quill-editor
              ref="editor"
              v-model="content"
              :options="editorOption"
              class="text--primary"
            ></quill-editor>
          </client-only>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="create()"
          :disabled="content == ''"
        >
          Create
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

  export default {
    props: {
      'lesson': Object,
    },
    data: () => ({
      dialog: false,
      valid: false,
      content: '',
      editorOption: {
        // Some Quill options...
        theme: 'snow',
        modules: {
          imageDrop: true,
          imageResize: {
            toolbarButtonStyles: {
              display: 'none',
            },
          },
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote'],
            [{ 'header': 1 }, { 'header': 2 }],
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'script': 'sub' }, { 'script': 'super' }],
            [{ 'indent': '-1' }, { 'indent': '+1' }],
            [{ 'direction': 'rtl' }],
            [{ 'size': ['small', false, 'large', 'huge'] }],
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'align': [] }],
            ['clean'],
            ['link', 'image',]
          ],
        },
        placeholder: 'Lesson content ...'
      }
    }),
    methods:{
      reset () {
        this.dialog = false;
      },
      async create() {
        if(this.content != ''){
          try {
            await this.$axios.post('/api/lesson_content/store/text', {
              'lesson_id': this.lesson.id,
              'content': this.content,
            })
            .then(response => {
              this.content = '';
              this.$toast.success(response.data.message)

              this.lesson.contents.push(response.data.content);
              this.reset();
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
    }
  }
</script>
