<template>
  <v-card
    class="mx-auto transition"
  >
    <template
      v-if="content.lesson_contentable_type.includes('LessonContentText')"
    >

      <v-card-text
        class="pa-0 text--primary"
      >
        <div class="output ql-snow">
          <div class="ql-editor no-margin-content" v-html="content.lesson_contentable.content"></div>
        </div>
      </v-card-text>
      <v-card-actions
        v-if="course != null && course['pivot'] != undefined"
      >
        <v-spacer></v-spacer>
        <edit-form-lesson-content-text
          :content="content"
        >
        </edit-form-lesson-content-text>
        <destroy-lesson-content
          :lesson="lesson"
          :content="content"
        >
        </destroy-lesson-content>
      </v-card-actions>
    </template>

    <template
      v-else-if="content.lesson_contentable_type.includes('LessonContentVideo')"
    >
      <v-card-text
        class="pa-0"
      >
        <div style="width: 100%;">
            <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                <iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" :src="getSrc(content.lesson_contentable.content)" allowfullscreen="true" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
            </div>
        </div>
      </v-card-text>
      <v-card-actions
        v-if="course != null && course['pivot'] != undefined"
      >
        <v-spacer></v-spacer>
        <edit-form-lesson-content-video
          :content="content"
        >
        </edit-form-lesson-content-video>
        <destroy-lesson-content
          :lesson="lesson"
          :content="content"
        >
        </destroy-lesson-content>
      </v-card-actions>
    </template>

    <template
      v-else-if="content.lesson_contentable_type.includes('LessonContentLink')"
    >
      <v-card-text
        class="pa-0"
      >
        <div style="width: 100%;">
            <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                <iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" :src="getSrc(content.lesson_contentable.content)" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
            </div>
        </div>
      </v-card-text>
      <v-card-actions
        v-if="course != null && course['pivot'] != undefined"
      >
        <v-spacer></v-spacer>
        <edit-form-lesson-content-link
          :content="content"
        >
        </edit-form-lesson-content-link>
        <destroy-lesson-content
          :lesson="lesson"
          :content="content"
        >
        </destroy-lesson-content>
      </v-card-actions>
    </template>

    <template
      v-else-if="content.lesson_contentable_type.includes('LessonContentImage')"
    >
      <v-card-text
        class="pa-0"
      >
        <template
          v-if="content.lesson_contentable.contents.length > 0"
        >
          <v-carousel
            show-arrows-on-hover
          >
            <template
              v-for="(image, index) in content.lesson_contentable.contents"
            >
              <v-carousel-item
                :key="index"
                :src="`${$config.assetsURL}${image.src}`"
                reverse-transition="fade-transition"
                transition="fade-transition"
                @click="show(index)"
              ></v-carousel-item>
            </template>
          </v-carousel>
        </template>
        <template
          v-else
        >
          <v-carousel
            :show-arrows="false"
            hide-delimiters
          >
            <v-carousel-item>
              <v-sheet
                color="red"
                height="100%"
                tile
              >
                <v-row
                  class="fill-height"
                  align="center"
                  justify="center"
                >
                  <div class="display-3">
                    Gallery empty
                  </div>
                </v-row>
              </v-sheet>
            </v-carousel-item>
          </v-carousel>
        </template>
        <v-row
          class="no-gutters"
        >
          <client-only>
            <vue-easy-lightbox
              :visible="visible"
              :imgs="imageGallery"
              :index="index"
              @hide="handleHide"
            ></vue-easy-lightbox>
          </client-only>
        </v-row>
      </v-card-text>
      <v-card-actions
        v-if="course != null && course['pivot'] != undefined"
      >
        <v-spacer></v-spacer>
        <edit-form-lesson-content-image
          :lesson_content_image="content.lesson_contentable"
        >
        </edit-form-lesson-content-image>
        <destroy-lesson-content
          :lesson="lesson"
          :content="content"
        >
        </destroy-lesson-content>
      </v-card-actions>
    </template>
  </v-card>
</template>

<script>
  import DestroyLessonContent from '@/components/lesson-contents/show/destroy/DestroyLessonContent';

  import EditFormLessonContentText from '@/components/lesson-contents/text/edit/EditFormLessonContentText';
  import EditFormLessonContentVideo from '@/components/lesson-contents/video/edit/EditFormLessonContentVideo';
  import EditFormLessonContentLink from '@/components/lesson-contents/link/edit/EditFormLessonContentLink';
  import EditFormLessonContentImage from '@/components/lesson-contents/image/edit/EditFormLessonContentImage';

  export default {
    props: {
      'course': {
        type: Object,
        required: false
      }, 'lesson': {
        type: Object,
        required: true
      }, 'content': {
        type: Object,
        required: true
      }
    },
    data() {
			return {
				visible: false,
        index: 0, // default
			}
		},
    components: {
      DestroyLessonContent,
      EditFormLessonContentText,
      EditFormLessonContentVideo,
      EditFormLessonContentLink,
      EditFormLessonContentImage
    },
    computed: {
      imageGallery(){
        let images = [];

        for (let i = 0; i < this.content.lesson_contentable.contents.length; i++) {
          let image = this.content.lesson_contentable.contents[i];
          images.push({
            title: image.title,
            src: `${this.$config.assetsURL}${image.src}`,
          });
        }

        return images;
      }
    },
    methods: {
      getSrc(iframe){
        let url = iframe;
        let auxReturn;

        try {
            auxReturn = new URL(url).toString();
        } catch (e) {
            let regex = /src="(.[^"]+)"/g;
            let x = regex.exec(url);
            if (x != null) {
              auxReturn = x[1];
            }else {
              auxReturn = url;
            }
        }
        return auxReturn;
      },
			show(index) {
				this.index = index
				this.visible = true
			},
			handleHide() {
				this.visible = false
			}
    },
  }
</script>

<style>
  .no-margin-content p{
    margin: 0;
  }
</style>
