.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.transition{
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

html{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.theme--light.v-application {
  background-color: var(--v-background-base, #fafafa) !important;
}
