<template>
  <v-container>
    <v-row justify="center">
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="items"
        ></bread-crumb>
      </v-col>
      <v-col
        cols="12"
      >
        <v-row
          class="no-gutters justify-center"
        >
          <v-col
            cols="12"
            sm="8"
            md="6"
            lg="5"
          >
            <v-toolbar
              color="primary"
              dark
              flat
            >
              <v-toolbar-title>Logout</v-toolbar-title>
            </v-toolbar>
            <v-card
              class="pa-4"
            >
              <v-card-text>
                Redirecting to login please wait..
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import BreadCrumb from '@/components/global/BreadCrumb';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Logout',
          disabled: true,
          to: '/Logout/',
        }
      ],
    }),
    mounted(){
      this.logout();
    },
    methods: {
      async logout() {
        await this.$auth.logout();
      },
    },
    components: {
      BreadCrumb
    }
  }
</script>
