<template>
  <v-container>
    <v-row justify="center">
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="items"
        ></bread-crumb>
      </v-col>
      <v-col
        cols="12"
      >
        <img
          src="/v.png"
          alt="Vuetify.js"
          class="mb-5"
        >
        <blockquote class="blockquote">
          &#8220;First, solve the problem. Then, write the code.&#8221;
          <footer>
            <small>
              <em>&mdash;John Johnson</em>
            </small>
          </footer>
        </blockquote>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import BreadCrumb from '@/components/global/BreadCrumb';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Statistics',
          disabled: true,
          to: '/statistics/',
        }
      ],
    }),
    components: {
      BreadCrumb
    }
  }
</script>
