<template>
  <v-card
    class="mx-auto transition"
    :color="check_is_correct() ? 'amber lighten-5' : 'red lighten-4'"
  >
    <div
      class="text-h6 pa-4"
    >
      <v-row
        no-gutters
      >
        <v-col
          v-for="(component, index) in submitsFillInTheBlankComponents"
          :key="index"
          cols="12"
          class="px-0"
        >
          <component
            :is="component"
            :fillintheblank_content="form_content.form_contentable.contents[index]"
            :index="index"
            :form_content="form_content"
            :is_content_correct="check_is_correct()"
          ></component>
        </v-col>
      </v-row>
    </div>
  </v-card>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    computed: {
      ...mapState(
        "forms", [
          "form",
          "formSubmit"
        ]
      ),
      submitsFillInTheBlankComponents(){
        let auxComponents = [];
        for (let i = 0; i < this.form_content.form_contentable.contents.length; i++) {
          const item = this.form_content.form_contentable.contents[i];
          auxComponents.push(
            this.getComponent(item.fillintheblank_contentable_type)
          );
        }
        return auxComponents;
      }
    },
    methods: {
      getComponent(type){
        const contentTypes = {
          'App\\Models\\FillintheblankText': () => {
            return () => import(`./misc/ShowFillInTheBlankText`);
          },
          'App\\Models\\FillintheblankSelect': () => {
            return () => import(`./misc/ShowFillInTheBlankSelect`);
          },
          'App\\Models\\FillintheblankInput': () => {
            return () => import(`./misc/ShowFillInTheBlankInput`);
          },
          'default': () => {
            return () => import(`./misc/ShowFillInTheBlankText`);
          }
        }

        return (contentTypes[type] || contentTypes['default'])()
      },
      check_is_correct(){
        let auxReturn = true;
        for (let i = 0; i < this.form_content.form_contentable.contents.length; i++) {
          const content = this.form_content.form_contentable.contents[i];
          let hasOneCorrectOption = false;
          if (content.fillintheblank_contentable_type != 'App\\Models\\FillintheblankText') {
            const correctOptions = this.get_correct_options(content);
            const correctAnswers = this.get_correct_answers(content);
            for (let i = 0; i < correctOptions.length; i++) {
              const option = correctOptions[i];
              for (let x = 0; x < correctAnswers.length; x++) {
                const answer = correctAnswers[x];
                if (option.content == answer.content) {
                  hasOneCorrectOption = true;
                  break;
                }
              }
              if (hasOneCorrectOption) {
                break;
              }
            }
            if (!hasOneCorrectOption) {
              return false;
            }
          }
        }

        return auxReturn;
      },
      get_correct_options(content){
        let auxReturn = [];
        let options = content.fillintheblank_contentable?.question?.options;
        for (let i = 0; i < options.length; i++) {
          const option = options[i];
          if (option.correct?.is_correct == "1") {
            auxReturn.push(option)
          }
        }
        return auxReturn;
      },
      get_correct_answers(content){
        let auxReturn = [];
        const answers = this.get_answers(content);
        const correctOptions = this.get_correct_options(content);

        for (let i = 0; i < answers.length; i++) {
          const answer = answers[i];

          for (let x = 0; x < correctOptions.length; x++) {
            const correctOption = correctOptions[x];
            if (correctOption.content == answer.content) {
              auxReturn.push(answer)
            }
          }
        }
        return auxReturn;
      },
      get_answers(content){
        let auxReturn = [];
        const question = content.fillintheblank_contentable.question

        if (question?.id != null) {
          for (let i = 0; i < this.formSubmit.answers.length; i++) {
            const answer = this.formSubmit.answers[i];
            if (question.id == answer.question_id) {
              auxReturn.push(answer);
            }
          }
        }

        return auxReturn;
      }
    },
    mounted(){
      
    }
  }
</script>

<style scoped>
.input-custom{
  border: 1px solid;
  border-radius: 10px;
  margin: 2px 0;
  padding: 0 4px;
}
</style>