<template>
  <v-row>
    <template
      v-if="contentTypeComponents.length > 0"
    >
      <v-col
        v-for="(component, index) in contentTypeComponents"
        :key="index"
        cols="12"
      >
        <component
          :is="component"
          :form_content="form.contents[index]"
          :group="group"
        ></component>
      </v-col>
    </template>
  </v-row>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    props: {
      group: {
        required: false,
        type: Object
      }
    },
    computed: {
      ...mapState(
        'forms', [
          'form'
        ]
      ),
      contentTypeComponents(){
        let auxComponents = [];
        for (let i = 0; i < this.form.contents.length; i++) {
          const formContent = this.form.contents[i];
          auxComponents.push(
            this.getContentTypeComponent(formContent.form_contentable_type)
          );
        }
        return auxComponents;
      }
    },
    methods: {
      getContentTypeComponent(type){
        const afterSlashType = type.match(/\\([^\\]+)?$/)[1];
        const contentTypes = {
          'FormContentFillintheblank': () => {
            return () => import(`@/components/form-contents/fill-in-the-blank/submits/SubmitsContentFillInTheBlank`)
          },
          'FormContentQuestion': () => {
            return () => import(`@/components/form-contents/question/submits/SubmitsContentQuestion`)
          },
          'FormContentMultiple': () => {
            return () => import(`@/components/form-contents/multiple/submits/SubmitsContentMultiple`)
          },
          'FormContentSelect': () => {
            return () => import(`@/components/form-contents/select/submits/SubmitsContentSelect`)
          },
          'FormContentText': () => {
            return () => import(`@/components/form-contents/text/show/ShowContentTextGroup`)
          },
          'FormContentVideo': () => {
            return () => import(`@/components/form-contents/video/show/ShowContentVideoGroup`)
          },
          'FormContentLink': () => {
            return () => import(`@/components/form-contents/link/show/ShowContentLinkGroup`)
          },
          'FormContentImage': () => {
            return () => import(`@/components/form-contents/image/show/ShowContentImageGroup`)
          },
          'default': () => {
            return () => import(`@/components/form-contents/text/show/ShowContentTextGroup`)
          }
        }

        return (contentTypes[afterSlashType] || contentTypes['default'])()
      }
    }
  }
</script>
