<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-title
      class="headline"
    >
      <p>
        {{form.name}}
      </p>
      <v-spacer></v-spacer>
      <template
        v-if="
          (course != null && course['pivot'] != undefined) ||
          (group != null && group['pivot'] != undefined && ['Admin', 'Owner'].includes(group['pivot'].role_user))
        "
      >
        <v-btn
          v-if="formSubmit.is_checked == '1'"
          color="success"
          @click="set_check()"
        >
          <v-icon left>
            {{mdiCheckBold}}
          </v-icon>
          Checked
        </v-btn>
        <v-btn
          v-else
          color="error"
          @click="set_check()"
        >
          <v-icon left>
            {{mdiClose}}
          </v-icon>
          Checked
        </v-btn>
      </template>
    </v-card-title>
    <v-card-subtitle
      v-text="form.description"
      height="100%"
    >
    </v-card-subtitle>
    <v-card-text>
      {{formSubmit.user.name}}
      <br>
      {{formSubmit.user.email}}
    </v-card-text>
  </v-card>
</template>

<script>
  import { mdiHeart, mdiGoogleAnalytics, mdiCheckBold, mdiClose } from '@mdi/js'
  import { mapState, mapActions } from 'vuex';

  import AddFormContent from '@/components/forms/show/AddFormContent';
  import DotsOptionsForm from '@/components/forms/show/DotsOptionsForm';

  export default {
    props: {
      'group': {
        type: Object,
        required: false
      }, 'course': {
        type: Object,
        required: true
      }, 'unit': {
        type: Object,
        required: true
      }
    },
    data(){
      return {
        'mdiHeart': mdiHeart,
        'mdiGoogleAnalytics': mdiGoogleAnalytics,
        'mdiCheckBold': mdiCheckBold,
        'mdiClose': mdiClose,
        correct: '0'
      }
    },
    computed: {
      ...mapState(
        "forms", [
          "form",
          "formSubmit",
        ]
      ),
    },
    methods: {
      ...mapActions({
        setChecked: 'forms/setChecked'
      }),
      async set_check(){
        await this.setChecked({
          form_submit_id: this.formSubmit.id,
          _method: 'PUT'
        })
        .then(response => {
        })
        .catch(e => {
          this.$toast.error(e)
        })
      }
    },
    components: {
      AddFormContent,
      DotsOptionsForm
    },
  }
</script>
