<template>
  <span>
    <v-menu
      offset-y
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          :class="[
            1 > 0 ? 'mx-1': '',
          ]"
          outlined
          small
          v-bind="attrs"
          v-on="on"
        >
          {{content.fillintheblank_contentable.question.answers ? content.fillintheblank_contentable.question.answers : 'Select an option'}}
        </v-btn>
      </template>
      <v-list>
        <template
          v-if="content.fillintheblank_contentable.question.options.length > 0"
        >
          <v-list-item
            v-for="(option, index) in content.fillintheblank_contentable.question.options"
            :key="index"
            @click="selectOption(content, option)"
          >
            <v-list-item-title>{{ option.content }}</v-list-item-title>
          </v-list-item>
        </template>
        <v-list-item
          v-else
        >
          <v-list-item-title>No options available</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    ({{content.fillintheblank_contentable.question.content}})
  </span>
</template>

<script>
  export default {
    props: {
      content: {
        required: true
      },
      value: {
        required: true,
        type: String
      }
    },
    methods: {
      selectOption(content, option){
        content.fillintheblank_contentable.question.answers = option.content
      }
    }
  }
</script>