<template>
  <span
    class="text-pre-wrap"
    v-text="value"
  ></span>
</template>

<script>
  export default {
    props: {
      content: {
        required: true
      },
      value: {
        required: true,
        type: String
      }
    }
  }
</script>
