
<template>
  <span>
    <input
      v-model="content.fillintheblank_contentable.question.answers"
      type="text"
      class="input-custom text-body-2"
      placeholder=""
    />
    ({{content.fillintheblank_contentable.question.content}})
  </span>
</template>

<script>
  export default {
    props: {
      content: {
        required: true
      },
      value: {
        required: true,
        type: String
      }
    }
  }
</script>

<style scoped>
.input-custom{
  border-bottom: 1px solid;
  margin: 2px 0;
  padding: 4px;
}
</style>