<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="800px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        v-on="on"
        icon
      >
        <v-icon>{{mdiPencil}}</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Edit Video</span>
      </v-card-title>
      <v-card-text
        class="pb-0"
      >
        <v-container>
          <v-text-field
            v-model="auxContent"
            label="Enter video"
            persistent-hint
            required
            outlined
            placeholder="Embed url video"
            :prepend-icon="mdiVideo"
          ></v-text-field>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="update()"
          :disabled="auxContent == ''"
        >
          Update
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiPencil, mdiVideo } from '@mdi/js'

  export default {
    props: {
      'content': Object,
    },
    data: () => ({
      'mdiPencil': mdiPencil,
      'mdiVideo': mdiVideo,
      dialog: false,
      valid: false,
      auxContent: '',
    }),
    mounted(){
      this.auxContent = this.content.lesson_contentable.content;
    },
    methods:{
      reset () {
        this.auxContent = this.content.lesson_contentable.content;
        this.dialog = false;
			},
      async update() {
        if(this.content != ''){
          try {
            await this.$axios.put('/api/lesson_content/update/text', {
              'lesson_content_id': this.content.id,
              'content': this.auxContent
            })
            .then(response => {
              this.$toast.success(response.data.message)

              let content = response.data.content;
              this.content.lesson_contentable.content = content;
              this.reset();
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
    },
  }
</script>
