<template>
  <v-container>
    <v-row>
      <p v-if="$fetchState.pending"></p>
      <v-col
        v-else-if="$fetchState.error"
        class="d-flex justify-center align-center"
      >
        <h2>An error occurred 😭</h2>
      </v-col>
      <template
        v-else
      >
        <v-col
          cols="12"
        >
          <bread-crumb
            :items="items"
          ></bread-crumb>
        </v-col>
        <v-col
          cols="12"
        >
          <group-detail
            :group="group"
          >
          </group-detail>
        </v-col>
        <template
          v-if="group.notification != null"
        >
          <v-col
            cols="12"
          >
            <h2
              v-html="'Notification'"
            ></h2>
          </v-col>
          <v-col
            cols="12"
          >
            <notification-card
              :group="group"
            >
            </notification-card>
          </v-col>
        </template>
        <template
          v-if="group.courses != null "
        >
          <v-col
            cols="12"
            v-if="group.courses.length == 0"
          >
            <v-row
              class="no-gutters"
              justify="center"
            >
              <v-col
                cols="12"
                sm="8"
                class="text-center mb-4"
              >
                <h2>
                  Upps you don't have any course in this group yet. You can press the above button to add courses to this group!
                </h2>
              </v-col>
            </v-row>
          </v-col>
          <template
            v-else
          >
            <v-col
              cols="12"
            >
              <h2
                v-html="'Courses'"
              ></h2>
            </v-col>
            <v-col
              v-for="(course) in group.courses"
              cols="12"
              sm="6"
              md="4"
              :key="course.id"
            >
              <course-card
                :course="course"
                :url="`/groups/${group.id}/courses/${course.id}/`"
              >
              </course-card>
            </v-col>
          </template>
        </template>
        <v-col
          cols="12"
        >
          <h2
            v-html="'Comments'"
          ></h2>
        </v-col>
        <v-col
          cols="12"
        >
          <comments-card
            :group="group"
            type="group"
          >
          </comments-card>
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script>
  import BreadCrumb from '@/components/global/BreadCrumb';
  import GroupDetail from '@/components/groups/show/GroupDetail';
  import NotificationCard from '@/components/notifications/show/NotificationCard';
  import CourseCard from '@/components/courses/index/CourseCard';
  import CommentsCard from '@/components/comments/CommentsCard';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Groups',
          disabled: false,
          exact: true,
          to: '/groups/',
        }
      ],
      group: null,
    }),
    async fetch() {
      await this.$axios.get('/api/group/show', {
        params: {
          'id': this.$route.params.group,
        }
      })
      .then(response => {
        this.group = response.data.group;
        this.items.push({
          text: this.group.name,
          disabled: true,
          to: `/groups/${this.group.id}/`
        });
      })
    },
    components: {
      BreadCrumb,
      GroupDetail,
      NotificationCard,
      CourseCard,
      CommentsCard
    },
  }
</script>
