<template>
  <v-row>
    <template
      v-for="(item, index) in groups"
    >
      <v-col
        v-if="group == null || item.id == group.id"
        :key="index"
        cols="12"
      >
        <v-card>
          <v-list
            subheader
          >
            <v-subheader
              v-text="`Group: ${item.name}`"
            >
            </v-subheader>
            <v-list-group
              v-for="(user, index) in item.users"
              :key="index"
              no-action
              color="primary"
            >
              <template v-slot:activator>
                <v-list-item-avatar
                  class="justify-center"
                >
                  <v-avatar
                    color="indigo"
                  >
                    <span class="white--text headline">
                      {{ user.name.charAt(0) }}
                    </span>
                  </v-avatar>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title
                    v-html="user.name"
                  ></v-list-item-title>

                  <v-list-item-subtitle
                    v-html="user.email"
                  ></v-list-item-subtitle>
                  <v-list-item-subtitle
                    v-html="user.pivot.role_user"
                  ></v-list-item-subtitle>
                </v-list-item-content>
              </template>

              <template
                v-if="user.submits.length > 0"
              >
                <v-list-item
                  v-for="(submit, index) in user.submits"
                  :key="index"
                  :to="`/courses/${$route.params.course}/units/${$route.params.unit}/forms/${$route.params.form}/answers/submits/${submit.id}/`"
                >
                  <v-list-item-content>
                    <v-list-item-title>
                      <div
                        class="d-flex"
                      >
                        <p
                          class="mb-0"
                        >
                          {{submit.date}}
                        </p>
                        <v-spacer></v-spacer>
                        <div>
                          <v-icon
                            v-if="submit.is_checked == '1'"
                            color="success"
                          >
                            {{mdiCheckBold}}
                          </v-icon>
                          <v-btn
                            :color="submit.score <= 50 ? 'error' : 'success'"
                            plain
                          >
                            <!-- score: no available -->
                            score: {{submit.score}}%
                          </v-btn>
                        </div>
                      </div>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
              <template
                v-else
              >
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title v-text="`No submits found 😩`"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-list-group>
          </v-list>
        </v-card>
      </v-col>
    </template>
  </v-row>
</template>

<script>
  import { mapState } from 'vuex';
  import { mdiAccount, mdiCheckBold } from '@mdi/js';

  import ShowContentQuestionAnswers from '@/components/form-contents/question/answers/ShowContentQuestionAnswers';
  import ShowContentMultipleAnswers from '@/components/form-contents/multiple/answers/ShowContentMultipleAnswers';
  import ShowContentSelectAnswers from '@/components/form-contents/select/answers/ShowContentSelectAnswers';

  export default {
    data(){
      return {
        'mdiAccount': mdiAccount,
        'mdiCheckBold': mdiCheckBold,
        active: false
      }
    },
    components: {
      ShowContentQuestionAnswers,
      ShowContentMultipleAnswers,
      ShowContentSelectAnswers
    },
    computed: {
      ...mapState(
        "forms", [
          "form",
          "group",
          "groups",
        ]
      ),
      submits(){
        let auxReturn = []

        if (this.group == null) {
          for (let i = 0; i < this.groups.length; i++) {
            const group = this.groups[i];
            for (let y = 0; y < group.users.length; y++) {
              const user = group.users[y];
              for (let x = 0; x < user.submits.length; x++) {
                const submit = user.submits[x];
                auxReturn.push(submit)
              }
            }
          }
        }else{
          for (let i = 0; i < this.groups.length; i++) {
            const group = this.groups[i];
            if (group.id == this.group.id) {
              for (let y = 0; y < group.users.length; y++) {
                const user = group.users[y];
                for (let x = 0; x < user.submits.length; x++) {
                  const submit = user.submits[x];
                  auxReturn.push(submit)
                }
              }
              break;
            }
          }
        }

        return auxReturn;
      }
    },
    methods: {

    }
  }
</script>
