<template>
  <v-card
    class="mx-auto elevation-0"
    color="transparent"
  >
    <v-row
      no-gutters
    >
      <v-col
        cols="12"
      >
        <v-card-actions
          class="px-0"
        >
          <div>
            <v-card-title
              class="black--text pa-0"
              v-text="`User submits ${getUniqueUserSubmits}`"
            >
            </v-card-title>
            <v-card-title
              class="black--text pa-0"
              v-text="`Total submits ${getTotal}`"
            >
            </v-card-title>
          </div>
          <v-spacer></v-spacer>
          <v-card-title
            v-if="getFiltersGroup.length > 1"
            class="pa-0"
          >
            <v-select
              v-model="selected_group"
              item-value="id"
              item-text="name"
              hide-details
              :items="getFiltersGroup"
              label="Group"
            ></v-select>
          </v-card-title>
        </v-card-actions>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import { mdiDotsVertical, mdiDownload } from '@mdi/js';
  import JsonCSV from 'vue-json-csv'

  export default {
    props: {
      'course': {
        type: Object,
        required: true
      }, 'unit': {
        type: Object,
        required: true
      }
    },
    data(){
      return {
        'mdiDotsVertical': mdiDotsVertical,
        'mdiDownload': mdiDownload,
        loading: true,
        data: {},
        filter: 'day',
        filters: ['day', 'month', 'year'],
        selected_group: 0,
      }
    },
    computed: {
      ...mapState(
        "forms", [
          "form",
          "group",
          "groups",
        ]
      ),
      getFiltersGroup(){
        let auxReturn = [{
          'id': 0,
          'name': 'All',
        }];

        for (let i = 0; i < this.groups.length; i++) {
          const group = this.groups[i];
          auxReturn.push({
            'id': group.id,
            'name': group.name,
          })
        }

        return auxReturn;
      },
      getTotal(){
        let auxReturn = 0

        if (this.group == null) {
          for (let i = 0; i < this.groups.length; i++) {
            const group = this.groups[i];
            for (let y = 0; y < group.users.length; y++) {
              const user = group.users[y];
              auxReturn += user.submits.length;
            }
          }
        }else{
          for (let i = 0; i < this.groups.length; i++) {
            const group = this.groups[i];
            if (group.id == this.group.id) {
              for (let y = 0; y < group.users.length; y++) {
                const user = group.users[y];
                auxReturn += user.submits.length;
              }
              break;
            }
          }
        }

        return auxReturn;
      },
      getUniqueUserSubmits(){
        let auxReturn = 0

        if (this.group == null) {
          for (let i = 0; i < this.groups.length; i++) {
            const group = this.groups[i];
            for (let y = 0; y < group.users.length; y++) {
              const user = group.users[y];
              if (user.submits.length > 0) {
                auxReturn++
              }
            }
          }
        }else{
          for (let i = 0; i < this.groups.length; i++) {
            const group = this.groups[i];
            if (group.id == this.group.id) {
              for (let y = 0; y < group.users.length; y++) {
                const user = group.users[y];
                if (user.submits.length > 0) {
                  auxReturn++
                }
              }
              break;
            }
          }
        }

        return auxReturn;
      }
    },
    watch: {
      selected_group(value){
        if (value == 0) {
          this.setSelectedGroup(null);
        }else {
          let index = this.groups.findIndex(x => x.id == value)
          this.setSelectedGroup(this.groups[index]);
        }
      }
    },
    methods: {
      ...mapActions({
        setSelectedGroup: 'forms/setSelectedGroup'
      }),
    },
    components: {
      'download-csv': JsonCSV,
    },
  }
</script>
