<template>
  <v-container>
    <v-row justify="center">
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="items"
        ></bread-crumb>
      </v-col>
      <user-form></user-form>
      <password-form></password-form>
    </v-row>
  </v-container>
</template>

<script>
  import BreadCrumb from '@/components/global/BreadCrumb';
  import UserForm from '@/components/profiles/UserForm';
  import PasswordForm from '@/components/profiles/PasswordForm';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Profile',
          disabled: true,
          to: '/profile/',
        }
      ],
    }),
    components: {
      BreadCrumb,
      UserForm,
      PasswordForm,
    },
  }
</script>
