<template>
  <v-btn
    @click="destroy()"
    icon
  >
    <v-icon>{{mdiDelete}}</v-icon>
  </v-btn>
</template>

<script>
  import { mdiDelete } from '@mdi/js'

  export default {
    props: {
      'contents': Array,
      'image': Object,
    },
    data(){
      return {
        'mdiDelete': mdiDelete
      }
    },
    methods: {
      async destroy() {
        try {
          await this.$axios.delete('/api/lesson_content/destroy/image', {
            'params': {
              'image_id': this.image.id,
            }
          })
          .then(response => {
            this.$toast.success(response.data.message)

            let index = this.contents.findIndex(x => x.id === this.image.id)
            this.$delete(this.contents, index)
          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
    },
  }
</script>
