<template>
  <v-app dark>
    <v-navigation-drawer
      v-if="$auth.user"
      v-model="drawer"
      :clipped="true"
      fixed
      disable-resize-watcher
      app
    >
      <v-list
        v-if="$fetchState.pending"
      ></v-list>
      <v-list
        v-else-if="$fetchState.error"
      ></v-list>
      <v-list
        v-else
      >
        <v-list-group
          v-for="(item, index) in items"
          :key="index"
          v-if="item.childs"
        >
          <template v-slot:activator>
            <v-list-item-action>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title v-text="item.title" />
            </v-list-item-content>
          </template>

          <template
            v-for="(child, childIndex) in item.childs"
          >
            <v-list-item
              v-if="child.component"
              class="justify-center pb-1"
            >
              <component
                :is="child.component"
                type="sidebar"
              ></component>
            </v-list-item>
            <v-list-item
              v-else
              :key="childIndex"
              router
              exact
              :to="child.to"
            >
              <v-list-item-content class="pl-4">
                <v-list-item-title v-text="child.title" />
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list-group>
        <v-list-item
          v-else
          router
          exact
          :to="item.to"
        >
          <v-list-item-action>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="true"
      fixed
      app
    >
      <v-app-bar-nav-icon
        v-if="$auth.user"
        @click.stop="drawer = !drawer"
      />
      <v-toolbar-title>
        <nuxt-link
          to="/"
          class="text-decoration-none black--text"
        >
          {{title}}
        </nuxt-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <avatar-menu
        v-if="$auth.user"
      ></avatar-menu>
      <v-btn
        v-if="!$auth.user"
        color="primary"
        to="/login/"
      >
        <v-icon>{{mdiExitToApp}}</v-icon>
        <span
          class="hidden-sm-and-down"
        >Login</span>
      </v-btn>
    </v-app-bar>
    <v-main>
      <nuxt />
    </v-main>
    <v-footer
      :absolute="false"
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
  import { mdiHome, mdiAccountGroup, mdiTeach, mdiChevronRight, mdiExitToApp, mdiFormSelect } from '@mdi/js'
  import { mapActions, mapState } from "vuex"

  import AvatarMenu from '@/components/global/AvatarMenu';

  export default {
    data () {
      return {
        mdiExitToApp,
        mdiChevronRight,
        drawer: false,
        title: 'TrainePlat',
      }
    },
    computed: {
      ...mapState(
        "layout", [
          "courses",
          "groups"
        ]
      ),
      items(){
        let auxReturn = [
          {
            icon: mdiHome,
            title: 'Dashboard',
            to: '/dashboard'
          },
          {
            icon: mdiAccountGroup,
            title: 'Groups',
            childs: this.groups.map((group) => {
              return {
                title: group.name,
                to: `/groups/${group.id}`
              }
            }).concat([
              {
                component: () => import(`@/components/groups/create/CreateFormGroup`)
              }
            ])
          },
          {
            icon: mdiTeach,
            title: 'Courses',
            type: 'create',
            childs: this.courses.map((course) => {
              return {
                title: course.name,
                to: `/courses/${course.id}`
              }
            }).concat([
              {
                component: () => import(`@/components/courses/create/CreateFormCourse`)
              }
            ])
          }
        ]
        return auxReturn
      }
    },
    async fetch() {
      if (this.$auth.user) {
        await this.getLayoutConfig()
      }
    },
    methods:{
      ...mapActions(
        "layout", [
          'getLayoutConfig',
        ]
      ),
      async fetchData() {
        await this.$fetch();
      }
    },
    watch: {
      '$auth.user': {
        handler: 'fetchData',
        immediate: false
      }
    },
    components: {
      AvatarMenu
    }
  }
</script>
