<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        icon
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>{{mdiPencil}}</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <p
          class="headline mb-0"
        >Update fill in the blank</p>
        <v-spacer></v-spacer>
        <v-menu
          bottom
          left
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              text
              v-bind="attrs"
              v-on="on"
            >
              <v-icon>
                {{mdiPlus}}
              </v-icon>
              Add new question
            </v-btn>
          </template>

          <v-list>
            <v-list-item
              @click="add_form_content_fillintheblank_select()"
            >
              <v-list-item-title>
                Select the correct option
              </v-list-item-title>
            </v-list-item>
            <v-list-item
              @click="add_form_content_fillintheblank_input()"
            >
              <v-list-item-title>
                Write the correct answer
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-card-title>
      <v-card-text
        class="pb-0"
      >
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row
              no-gutters
            >
              <v-col
                v-for="(component, index) in updateFillInTheBlankComponents"
                :key="index"
                cols="12"
                class="px-0"
              >
                <v-card
                  :outlined="index != 0"
                  class="pa-4 elevation-0"
                  :class="index != 0 ? 'mb-2' : ''"
                >
                  <component
                    :is="component"
                    :form_content="form_content"
                    :contents="form_content.form_contentable.contents"
                    :content="form_content.form_contentable.contents[index]"
                    :index="index"
                  ></component>
                </v-card>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="close_modal()"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiPlus, mdiPencil } from '@mdi/js';
  import { mapActions, mapState } from 'vuex';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    data(){
      return {
        'mdiPlus': mdiPlus,
        'mdiPencil': mdiPencil,
        dialog: false,
        valid: false
      }
    },
    methods: {
      ...mapActions(
        "forms/update/fillintheblanks", [
          "addFormContentFillintheblankSelect",
          "addFormContentFillintheblankInput"
        ]
      ),
      close_modal () {
        this.dialog = false;
      },
      async add_form_content_fillintheblank_select(){
        await this.addFormContentFillintheblankSelect({
          "form_id": this.form_content.form_id,
          "form_content_id": this.form_content.id
        })
        .then(response => {
          this.$toast.success(response.data.message)
        })
        .catch(e => {
          this.$toast.error(e)
        })
      },
      async add_form_content_fillintheblank_input(){
        await this.addFormContentFillintheblankInput({
          "form_id": this.form_content.form_id,
          "form_content_id": this.form_content.id
        })
        .then(response => {
          this.$toast.success(response.data.message)
        })
        .catch(e => {
          this.$toast.error(e)
        })
      },
      getComponent(type){
        const contentTypes = {
          'App\\Models\\FillintheblankText': () => {
            return () => import(`./misc/UpdateFillInTheBlankText`);
          },
          'App\\Models\\FillintheblankSelect': () => {
            return () => import(`./misc/UpdateFillInTheBlankSelect`);
          },
          'App\\Models\\FillintheblankInput': () => {
            return () => import(`./misc/UpdateFillInTheBlankInput`);
          },
          'default': () => {
            return () => import(`./misc/UpdateFillInTheBlankText`);
          }
        }

        return (contentTypes[type] || contentTypes['default'])()
      }
    },
    computed: {
      updateFillInTheBlankComponents(){
        let auxComponents = [];
        for (let i = 0; i < this.form_content.form_contentable.contents.length; i++) {
          const item = this.form_content.form_contentable.contents[i];
          auxComponents.push(
            this.getComponent(item.fillintheblank_contentable_type)
          );
        }
        return auxComponents;
      },
    }
  }
</script>
