<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
        v-bind="attrs"
        v-on="on"
      >
        <v-list-item-title>
          <v-icon>{{mdiText}}</v-icon> User answer
        </v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">New question</span>
      </v-card-title>
      <v-card-text
        class="pb-0"
      >
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row>
              <v-col
                cols="12"
              >
                <v-textarea
                  v-model="name"
                  :rules="rules.name"
                  required
                  outlined
                  placeholder="My awesone question"
                  :prepend-icon="mdiText"
                  label="Write your question"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="create()"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiText } from '@mdi/js';

  import { mapActions, mapState } from 'vuex';

  export default {
    data(){
      return {
        'mdiText': mdiText,
        dialog: false,
        valid: false,
        name: '',
        rules: {
          name: [
            v => !!v || 'Question is required'
          ]
        },
      }
    },
    methods: {
      ...mapActions({
        addFormContentQuestion: 'forms/addFormContentQuestion'
      }),
      reset () {
				this.$refs.form.reset();
        this.dialog = false;
      },
      async create(){
        if(this.$refs.form.validate()){
          await this.addFormContentQuestion({
            name: this.name
          })
          .then(response => {
            this.$toast.success(response.data.message)
            this.reset();
          })
          .catch(e => {
            this.$toast.error(e)
          })
        }
      }
    },
    computed: {
      ...mapState(
        "forms", [
          "form",
        ]
      ),
    },
  }
</script>
