<template>
  <v-container fluid class="pa-0">
    <section
      name="hero"
    >
      <v-card
        flat
        tile
      >
        <v-container>
          <v-row>
            <v-col
              cols="12"
              class="text-center my-12 py-12"
            >
              <!-- <v-img
                src="/v.png"
                width="200px"
                height="200px"
                class="mx-auto"
              ></v-img> -->
              <h1 class="text-h2 font-weight-bold mb-6">
                Traineplat
              </h1>
              <v-btn
                to="/dashboard"
                color="primary"
                outlined
                class="py-5 px-12 font-weight-bold"
              >
                Start now
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <v-card
        flat
        tile
        color="transparent"
        class="my-12"
      >
        <v-form
          ref="form"
          @submit.prevent
          onSubmit="return false;"
        >
          <v-container>
            <v-row>
              <v-col
                cols="12"
                sm="6"
              >
                <v-card
                  rounded
                  width="400"
                >
                  <!-- <v-img
                    src="https://picsum.photos/id/7/400/400"
                  ></v-img> -->
                </v-card>
              </v-col>
              <v-col
                cols="12"
                sm="6"
                class="d-flex align-center"
              >
                <v-row>
                  <v-col
                    cols="12"
                  >
                    <h4
                      class="text-h4 font-weight-bold"
                    >Contact us</h4>
                  </v-col>
                  <v-col
                    cols="12"
                    md="6"
                  >
                    <v-text-field
                      v-model="email"
                      label="Name"
                      placeholder="Enter your name"
                      outlined
                      rounded
                      dense
                      hide-details
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    md="6"
                  >
                    <v-text-field
                      v-model="email"
                      label="Email"
                      placeholder="Enter your email"
                      outlined
                      rounded
                      dense
                      hide-details
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                  >
                    <v-textarea
                      v-model="message"
                      label="Message"
                      placeholder="Write your message here"
                      outlined
                      rounded
                      dense
                      hide-details
                    ></v-textarea>
                  </v-col>
                  <v-col
                    cols="12"
                  >
                    <v-btn
                      type="submit"
                      color="primary"
                      block
                    >
                      submit
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card>
    </section>
  </v-container>
</template>

<script>
  import { mdiSend } from "@mdi/js"
  export default {
    data(){
      return {
        mdiSend,
        email: "",
        message: ""
      }
    },
    methods: {

    }
  }
</script>
