<template>
  <v-container>
    <v-row>
      <p v-if="$fetchState.pending"></p>
      <v-col
        v-else-if="$fetchState.error"
        class="d-flex justify-center align-center"
      >
        <h2>An error occurred 😭</h2>
      </v-col>
      <template
        v-else
      >
        <v-col
          cols="12"
        >
          <bread-crumb
            :items="items"
          ></bread-crumb>
        </v-col>
        <v-col
          v-if="groups.length"
          cols="12"
        >
          <group-list
            :groups="groups"
            title="Classrooms"
          ></group-list>
        </v-col>
        <template
          v-else
        >
          <v-col
            cols="12"
          >
            <v-row
              class="no-gutters"
              justify="center"
            >
              <v-col
                cols="12"
                sm="8"
                class="text-center mb-4"
              >
                <h2>
                  Upps you don't have subscriptions yet. Please contact your administrator! 😩
                </h2>
              </v-col>
            </v-row>
          </v-col>
        </template>
      </template>
    </v-row>
  </v-container>
</template>

<script>
  import { mapActions, mapState } from "vuex"
  import BreadCrumb from '@/components/global/BreadCrumb';
  import GroupList from '@/components/dashboard/group/list/GroupList';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Dashboard',
          disabled: true,
          to: '/dashboard',
        }
      ]
    }),
    computed: {
      ...mapState(
        "dashboard", [
          "groups"
        ]
      )
    },
    async fetch() {
      await this.getGroups()
    },
    methods:{
      ...mapActions(
        "dashboard", [
          'getGroups',
        ]
      )
    },
    components: {
      BreadCrumb,
      GroupList
    },
  }
</script>
