<template>
  <v-row
    v-if="contentComponents.length > 0"
  >
    <v-col
      v-for="(component, index) in contentComponents"
      :key="index"
      cols="12"
    >
      <component
        :is="component"
        :form_content="form.contents[index]"
      ></component>
    </v-col>
  </v-row>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    data(){
      return {
      }
    },
    computed: {
      ...mapState(
        "forms", [
          "form",
        ]
      ),
      contentComponents(){
        let auxComponents = [];
        for (let i = 0; i < this.form.contents.length; i++) {
          const formContent = this.form.contents[i];
          auxComponents.push(
            this.getContentTypeComponent(formContent.form_contentable_type)
          );
        }
        return auxComponents;
      }
    },
    methods: {
      getContentTypeComponent(type){
        const afterSlashType = type.match(/\\([^\\]+)?$/)[1];
        const contentTypes = {
          'FormContentFillintheblank': () => {
            return () => import(`@/components/form-contents/fill-in-the-blank/answers/ShowContentFillintheblankAnswers`)
          },
          'FormContentQuestion': () => {
            return () => import(`@/components/form-contents/select/answers/ShowContentSelectAnswers`)
          },
          'FormContentMultiple': () => {
            return () => import(`@/components/form-contents/multiple/answers/ShowContentMultipleAnswers`)
          },
          'FormContentSelect': () => {
            return () => import(`@/components/form-contents/select/answers/ShowContentSelectAnswers`)
          },
          'default': () => {
            return undefined
          }
        }

        return (contentTypes[afterSlashType] || contentTypes['default'])()
      }
    }
  }
</script>
