<template>
  <v-row>
    <v-col
      cols="12"
      sm="6"
      md="4"
    >
      <v-card
        class="mx-auto transition fill-height"
      >
        <v-card-text class="text-center black--text text-h4 pb-0">
          {{uniqueUsersSubmits.length}}
        </v-card-text>
        <v-card-text class="text-center pt-0">
          User submits
        </v-card-text>
      </v-card>
    </v-col>
    <v-col
      cols="12"
      sm="6"
      md="4"
    >
      <v-card
        class="mx-auto transition fill-height"
      >
        <v-card-text class="text-center black--text text-h4 pb-0">
          {{json_data.length}}
        </v-card-text>
        <v-card-text class="text-center pt-0">
          Total submits
        </v-card-text>
      </v-card>
    </v-col>
    <v-col
      cols="12"
      sm="6"
      md="4"
    >
      <v-card
        class="mx-auto transition"
      >
        <v-card-title>
          <v-select
            v-model="selected_group"
            item-value="id"
            item-text="name"
            :items="getFiltersGroup"
            label="Group"
          ></v-select>
        </v-card-title>
      </v-card>
    </v-col>
    <v-col
      cols="12"
    >
      <v-card
        class="mx-auto transition"
      >
        <v-card-actions
          class="pa-0"
        >
          <v-col
            cols="8"
            sm="5"
          >
            <v-select
              v-model="filter"
              :items="filters"
              label="Filter"
            ></v-select>
          </v-col>
          <v-col
            cols="4"
            sm="7"
            class="d-flex justify-end"
          >
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  class="ma-2"
                  text
                  icon
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon>
                    {{mdiDotsVertical}}
                  </v-icon>
                </v-btn>
              </template>
              <v-list>
                <download-csv
                  :data="json_data"
                  name="answers_report.csv"
                  class="v-list-item v-list-item--link theme--light"
                >
                  <v-icon>
                    {{mdiDownload}}
                  </v-icon>
                  Download answers
                </download-csv>
              </v-list>
            </v-menu>
          </v-col>
        </v-card-actions>
        <bar-chart
          :chartData="barChartData" :options="barChartOptions" :height="200"
        />
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import { mdiDotsVertical, mdiDownload } from '@mdi/js';
  import JsonCSV from 'vue-json-csv'

  import BarChart from '@/components/charts/BarChart';

  export default {
    props: {
      'course': {
        type: Object,
        required: true
      }, 'unit': {
        type: Object,
        required: true
      }
    },
    data(){
      return {
        'mdiDotsVertical': mdiDotsVertical,
        'mdiDownload': mdiDownload,
        loading: true,
        data: {},
        filter: 'day',
        filters: ['day', 'month', 'year'],
        selected_group: 0,
        barChartOptions: {
          responsive: true,
          legend: {
            display: false
          },
          title: {
            display: true,
            fontSize: 24,
            fontColor: '#6b7280'
          },
          tooltips: {
            backgroundColor: '#17BF62'
          },
          scales: {
            xAxes: [
              {
                gridLines: {
                  display: false
                }
              }
            ],
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                  precision:0
                },
                gridLines: {
                  display: false
                }
              }
            ]
          }
        }
      }
    },
    computed: {
      ...mapState(
        "forms", [
          "form",
          "groups",
          "allFormSubmits",
        ]
      ),
      uniqueUsersSubmits(){
        return [...new Set(this.json_data.map(row => row['2_user']))];
      },
      questions(){
        let auxReturn = [];
        for (let i = 0; i < this.form.contents.length; i++) {
          let type = this.form.contents[i].form_contentable_type;
          if (type.includes('FormContentText') || type.includes('FormContentLink') || type.includes('FormContentVideo') || type.includes('FormContentImage')) {
            continue;
          }else {
            if (type.includes('FormContentFillintheblank')) {
              for (let x = 0; x < this.form.contents[i].form_contentable.contents.length; x++) {
                const content = this.form.contents[i].form_contentable.contents[x];
                const fillintheblank_contentable = content.fillintheblank_contentable;
                if (fillintheblank_contentable.question != null) {
                  let row = {};
                  row['id'] = fillintheblank_contentable.question.id;
                  row['content'] = fillintheblank_contentable.question.content;
                  auxReturn.push(row);
                }
              }
            }else {
              const question = this.form.contents[i].form_contentable.question;
              if (question != null) {
                let row = {};
                row['id'] = question.id;
                row['content'] = question.content;
                auxReturn.push(row);
              }
            }
          }
        }

        return auxReturn;
      },
      getFiltersGroup(){
        let auxReturn = [{
          'id': 0,
          'name': 'All',
        }];

        for (let i = 0; i < this.groups.length; i++) {
          const group = this.groups[i];
          auxReturn.push({
            'id': group.id,
            'name': group.name,
          })
        }

        return auxReturn;
      },
      form_answers(){
        let auxReturn = [];
        for (let i = 0; i < this.allFormSubmits.form_submits.length; i++) {
          const form_submit = this.allFormSubmits.form_submits[i];
          let row = {};
          row['date'] = form_submit.date;
          row['answers'] = form_submit.answers;
          row['group_id'] = form_submit.group_id;
          auxReturn.push(row);
        }

        return auxReturn;
      },
      json_data(){
        let auxReturn = [];

        for (let i = 0; i < this.form_answers.length; i++) {
          if (this.selected_group == 0) {
            const form_answer = this.form_answers[i];
            let row = {};
            row['1_date'] = form_answer.date;
            row['2_user'] = form_answer.answers ? form_answer.answers[0]?.user?.email : "-";
            if (this.groups.length > 0) {
              let index = this.groups.findIndex(x => x.id == form_answer.group_id);
              row['3_group'] = this.groups[index].name;
            }
            for (let y = 0; y < this.questions.length; y++) {
              const question = this.questions[y];
              let answer_content = ''
              answer_content = this.getQuestionAndAnswer(question.id, form_answer.date);
              row[`${y+4}_${question.content}`] = answer_content;
            }
            auxReturn.push(row);
          }else {
            const form_answer = this.form_answers[i];
            if (form_answer?.answers[0]?.group_id == this.selected_group) {
              let row = {};
              row['1_date'] = form_answer.date;
              row['2_user'] = form_answer.answers[0].user.email;
              if (this.groups.length > 1) {
                let index = this.groups.findIndex(x => x.id == form_answer.group_id)
                row['3_group'] = this.groups[index].name;
              }
              for (let y = 0; y < this.questions.length; y++) {
                const question = this.questions[y];
                let answer_content = ''
                answer_content = this.getQuestionAndAnswer(question.id, form_answer.date);
                row[`${y+4}_${question.content}`] = answer_content;
              }
              auxReturn.push(row);
            }
          }
        }
        return auxReturn;
      },
      barChartData(){
        let auxReturn = {};
        if (this.selected_group == 0) {
          this.data = this.getLabelsValues(this.allFormSubmits.stats.data);
        }else{
          let index = this.groups.findIndex(x => x.id == this.selected_group)
          this.data = this.getLabelsValues(this.groups[index].stats.data);
        }

        auxReturn = {
          labels: this.data.labels,
          datasets: [
            {
              label: 'Answers',
              data: this.data.values,
              backgroundColor: this.data.backgroundColor
            },
          ]
        };

        return auxReturn;
      },
    },
    watch: {
      selected_group(value){
        if (value == 0) {
          this.setSelectedGroup(null);
        }else {
          let index = this.groups.findIndex(x => x.id == value)
          this.setSelectedGroup(this.groups[index]);
        }
      }
    },
    methods: {
      ...mapActions({
        setSelectedGroup: 'forms/setSelectedGroup'
      }),
      getQuestionAndAnswer(question_id, answer_date){
        let auxReturn = ''
        for (let i = 0; i < this.form_answers.length; i++) {
          const form_answer = this.form_answers[i];
          if (form_answer.date == answer_date) {
            if (form_answer.answers) {
              for (let y = 0; y < form_answer.answers.length; y++) {
                const answer = form_answer.answers[y];
                if (answer.question_id == question_id) {
                  if (auxReturn != '') {
                    auxReturn = `${auxReturn}, ${answer.content}`;
                  }else{
                    auxReturn = `${answer.content}`;
                  }

                }
              }
              break;
            }
          }
        }
        return auxReturn;
      },
      getLabelsValues(data){
        let labels = [];
        let values = [];
        let backgroundColor = [];

        Object.keys(data[this.filter]).forEach(key => {
          labels.push(key);
          values.push(data[this.filter][key]);
          backgroundColor.push(this.randomColor());
        });

        return {
          'labels': labels,
          'values': values,
          'backgroundColor': backgroundColor
        }
      },
      randomColor() {
        const r = () => Math.floor(256 * Math.random());
        return `rgb(${r()}, ${r()}, ${r()})`;
      }
    },
    components: {
      BarChart,
      'download-csv': JsonCSV,
    },
  }
</script>
