<template>
  <v-container>
    <v-row>
      <p v-if="$fetchState.pending"></p>
      <v-col
        v-else-if="$fetchState.error"
        class="d-flex justify-center align-center"
      >
        <h2>An error occurred 😭</h2>
      </v-col>
      <template
        v-else
      >
        <v-col
          cols="12"
        >
          <bread-crumb
            :items="items"
          ></bread-crumb>
        </v-col>
        <v-col
          cols="12"
        >
          <v-row
            class="no-gutters"
            justify="center"
          >
            <v-col
              cols="12"
              sm="8"
              class="text-center mb-4"
            >
              <h2
                v-if="courses.length <= 0"
              >
                Upps you don't have any courses yet. You can press the below button to create your first course!
              </h2>
              <h2
                v-else
              >
                Press the below button to create a course!
              </h2>
            </v-col>
          </v-row>
          <v-row
            class="no-gutters"
            justify="center"
          >
            <v-col
              cols="12"
              sm="8"
              md="6"
              class="text-center"
            >
              <create-form-course></create-form-course>
            </v-col>
          </v-row>
          <v-row
            v-if="courses.length > 0"
            class="mt-8"
          >
            <v-col
              cols="12"
            >
              <h2
                v-html="'Your courses'"
              ></h2>
            </v-col>
          </v-row>
          <v-row
            v-if="courses.length > 0"
          >
            <v-col
              v-for="(course, index) in courses"
              cols="12"
              sm="6"
              md="6"
              :key="index"
            >
              <course-card
                :course="course"
                :url="`/courses/${course.id}/`"
              >
              </course-card>
            </v-col>
          </v-row>
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script>
  import BreadCrumb from '@/components/global/BreadCrumb';
  import CreateFormCourse from '@/components/courses/create/CreateFormCourse';
  import CourseCard from '@/components/courses/index/CourseCard';
  import { mapActions, mapState } from 'vuex';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Courses',
          disabled: true,
          to: '/courses/',
        }
      ],
    }),
    components: {
      BreadCrumb,
      CreateFormCourse,
      CourseCard
    },
    computed: {
      ...mapState(
        "courses", [
          "courses"
        ]
      )
    },
    async fetch() {
      await this.getCourses()
    },
    methods:{
      ...mapActions("courses", [
        "getCourses"
      ]),
    }
  }
</script>
