<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="800px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        v-on="on"
        icon
      >
        <v-icon>{{mdiPencil}}</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Edit text</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <client-only>
            <quill-editor
              ref="editor"
              v-model="aux_form_contentable.content"
              :options="editorOption"
              class="text--primary"
            ></quill-editor>
          </client-only>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="update()"
          :disabled="aux_form_contentable.content == ''"
        >
          Update
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiPencil } from '@mdi/js'

  import { mapActions } from 'vuex';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    data: () => ({
      'mdiPencil': mdiPencil,
      dialog: false,
      valid: false,
      aux_form_contentable: {
        content: ''
      },
      editorOption: {
        // Some Quill options...
        theme: 'snow',
        modules: {
          imageDrop: true,
          imageResize: {
            toolbarButtonStyles: {
              display: 'none',
            },
          },
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote'],
            [{ 'header': 1 }, { 'header': 2 }],
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'script': 'sub' }, { 'script': 'super' }],
            [{ 'indent': '-1' }, { 'indent': '+1' }],
            [{ 'direction': 'rtl' }],
            [{ 'size': ['small', false, 'large', 'huge'] }],
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'align': [] }],
            ['clean'],
            ['link', 'image',]
          ],
        },
        placeholder: 'Content ...'
      }
    }),
    mounted(){
      this.aux_form_contentable.content = this.form_content.form_contentable.content
    },
    methods:{
      ...mapActions(
        'forms', [
          "editFormContentText"
        ]
      ),
      reset () {
        this.aux_form_contentable.content = this.form_content.form_contentable.content
        this.dialog = false;
			},
      async update() {
        if(this.aux_form_contentable.content != ''){
          await this.editFormContentText({
            form_content_id: this.form_content.id,
            content: this.aux_form_contentable.content,
          })
          .then(response => {
            this.$toast.success(response.data.message)
            this.reset();
          })
          .catch(e => {
            this.$toast.error(e)
          })
				}
      },
    },
  }
</script>
