<template>
  <v-btn
    @click="destroy()"
    icon
  >
    <v-icon>{{mdiDelete}}</v-icon>
  </v-btn>
</template>

<script>
  import { mdiDelete } from '@mdi/js'

  import { mapActions } from 'vuex';

  export default {
    props: {
      'image': {
        require: true,
        type: Object
      },
      'form_content': {
        require: true,
        type: Object
      }
    },
    data(){
      return {
        'mdiDelete': mdiDelete
      }
    },
    methods: {
      ...mapActions(
        'forms', [
          "destroyFormContentImage"
        ]
      ),
      async destroy() {
        await this.destroyFormContentImage({
          'form_content': this.form_content,
          'image': this.image
        })
        .then(response => {
          this.$toast.success(response.data.message)
        })
        .catch(e => {
          this.$toast.error(e)
        })
      },
    },
  }
</script>
