<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
        v-bind="attrs"
        v-on="on"
      >
        <v-list-item-title>
          <v-icon>{{mdiPencil}}</v-icon> Edit
        </v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Edit Group</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row>
              <v-col
                v-if="preview"
                cols="12"
              >
                <preview-image
                  :preview="preview"
                >
                </preview-image>
              </v-col>
              <v-col
                cols="12"
                sm="6"
              >
                <v-text-field
                  v-model="name"
                  :rules="rules.name"
                  required
                  :placeholder="group.name"
                  :prepend-icon="mdiAccountGroup"
                  label="Choose a group name"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="6"
              >
                <v-file-input
                  v-model="image"
                  :rules="rules.image"
                  ref='file'
                  accept="image/png, image/jpeg, image/bmp"
                  placeholder="Pick a logo"
                  :prepend-icon="mdiCamera"
                  @change="updateImage"
                ></v-file-input>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="update()"
        >
          Update
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiPencil, mdiAccountGroup, mdiCamera } from '@mdi/js'

  import PreviewImage from '@/components/global/PreviewImage';

  export default {
    props: {
      'group': Object,
    },
    data: () => ({
      'mdiPencil': mdiPencil,
      'mdiAccountGroup': mdiAccountGroup,
      'mdiCamera': mdiCamera,
      dialog: false,
      valid: false,
      preview: null,
      name: '',
      image: null,
      rules: {
        name: [
          v => !!v || 'Name is required'
        ],
        image: [
          value => !value || value.size < 20000000 || 'Image size should be less than 20 MB!',
        ]
      },
    }),
    mounted(){
      this.name = this.group.name;
      if (this.group.logo != null) {
        this.preview = `${this.$config.assetsURL}${this.group.logo.src}`;
      }
    },
    methods:{
      reset () {
        this.name = this.group.name;
        this.image = null;
        this.dialog = false;
        if (this.group.logo != null) {
          this.preview = `${this.$config.assetsURL}${this.group.logo.src}`;
        }
			},
      updateImage(e) {
				if((typeof e != 'undefined') && e != null){
					var re = /(?:\.([^.]+))?$/;
					var ext = re.exec(e.name)[1];
					if(ext.search(/jpg|jpeg|png|gif|bmp|svg/i) != -1){
						this.preview = {
							src: URL.createObjectURL(e),
							title: e.name,
						};
					}
				}else{
          this.preview = null;
        }
      },
      async update() {
        if(this.$refs.form.validate()){
          try {
            let formData = new FormData();
            formData.append('files-0', this.image);
            formData.append('id', this.group.id);
            formData.append('name', this.name);
            formData.append('_method', 'PUT');

            await this.$axios.post('/api/group/update', formData)
            .then(response => {
              let group = response.data.group;
              this.group.name = group.name;
              this.group.logo = group.logo;
              this.$toast.success(response.data.message)
              this.reset();
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
    },
    components: {
      PreviewImage
    }
  }
</script>
