<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="800px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
        v-bind="attrs"
        v-on="on"
      >
        <v-list-item-title>
          Link
        </v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        @submit.prevent
        onSubmit="return false;"
      >
        <v-card-title>
          <span class="headline">Add Link</span>
        </v-card-title>
        <v-card-text
          class="pb-0"
        >
          <v-container>
            <v-text-field
              v-model="content"
              label="Enter link"
              persistent-hint
              required
              outlined
              placeholder="Embed link"
              :prepend-icon="mdiLink"
              :rules="rules.content"
            ></v-text-field>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="reset()"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="create()"
            :disabled="!valid"
          >
            Create
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiLink } from '@mdi/js'

  export default {
    props: {
      'lesson': Object,
    },
    data: () => ({
      'mdiLink': mdiLink,
      dialog: false,
      valid: false,
      content: '',
      rules: {
        content: []
      },
    }),
    mounted(){
      this.rules.files = [
        v => !!v || 'Content is required',
      ]
    },
    methods:{
      reset () {
        this.dialog = false;
      },
      async create() {
        if(this.$refs.form.validate()){
          try {
            await this.$axios.post('/api/lesson_content/store/link', {
              'lesson_id': this.lesson.id,
              'content': this.content,
            })
            .then(response => {
              this.content = '';
              this.$toast.success(response.data.message)

              this.lesson.contents.push(response.data.content);
              this.reset();
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
    }
  }
</script>
