<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
        v-bind="attrs"
        v-on="on"
      >
        <v-list-item-title>
          New Unit
        </v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">New Unit</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row>
              <v-col
                cols="12"
              >
                <v-text-field
                  v-model="name"
                  :rules="rules.name"
                  required
                  placeholder="My awesone unit"
                  :prepend-icon="mdiAccountGroup"
                  label="Choose a unit name"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
              >
                <v-textarea
                  v-model="description"
                  :rules="rules.description"
                  outlined
                  required
                  label="Description"
                  :prepend-icon="mdiCardText"
                ></v-textarea>
              </v-col>
              <v-col
                cols="12"
                class="pt-0"
              >
                <v-text-field
                  v-model="cta_text"
                  placeholder="Learn more"
                  :prepend-icon="mdiChevronRight"
                  label="CTA text"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="create()"
        >
          Create
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiAccountGroup, mdiCardText, mdiChevronRight } from '@mdi/js'

  export default {
    props: {
      'course': Object,
      'contents': Array,
    },
    data: () => ({
      'mdiAccountGroup': mdiAccountGroup,
      'mdiCardText': mdiCardText,
      'mdiChevronRight': mdiChevronRight,
      dialog: false,
      valid: false,
      name: '',
      description: '',
      cta_text: '',
      rules: {
        name: [
          v => !!v || 'Name is required'
        ],
        description: [
          v => !!v || 'Description is required'
        ]
      },
    }),
    methods:{
      reset () {
        this.$refs.form.reset();
        this.dialog = false;
      },
      async create() {
        if(this.$refs.form.validate()){
          try {
            await this.$axios.post('/api/unit/store', {
              'course_id': this.course.id,
              'name': this.name,
              'description': this.description,
              'cta_text': this.cta_text,
            })
            .then(response => {
              this.reset();
              this.$toast.success(response.data.message)
              this.contents.push(response.data.content);
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
    },
  }
</script>
