<template>
  <v-container>
    <v-row justify="center">
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="items"
        ></bread-crumb>
      </v-col>
      <v-col
        cols="12"
      >
        <v-row
          class="no-gutters justify-center"
        >
          <v-col
            cols="12"
            sm="8"
            md="6"
            lg="5"
          >
            <v-toolbar
              color="primary"
              dark
              flat
            >
              <v-toolbar-title>Forgot password</v-toolbar-title>
            </v-toolbar>
            <v-card
              class="pa-4"
            >
              <v-form
                ref="forgotPasswordForm"
                v-model="valid"
                lazy-validation
                @submit.prevent="handleForgotPassword()"
                onSubmit="return false;"
              >
                <v-card-text>
                  <v-text-field
                    v-model="email"
                    :rules="rules.email"
                    name="email"
                    placeholder="example@email.com"
                    label="Email"
                    required
                    dense
                    :prepend-icon="mdiEmail"
                    type="text"
                  ></v-text-field>
                </v-card-text>

                <v-card-actions
                  class="justify-center"
                >
                  <v-btn
                    :disabled="!valid"
                    color="primary"
                    type="submit"
                    block
                    :loading="loading"
                  >
                    Reset password
                  </v-btn>
                </v-card-actions>
                <v-card-actions
                  class="justify-center pt-8"
                >
                  Already have an account?
                  <v-btn
                    text
                    to="/login"
                    color="primary"
                  >
                    Sign in
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import { mdiEmail } from '@mdi/js'
  import { mapActions } from "vuex"

  import BreadCrumb from '@/components/global/BreadCrumb';

  export default {
    data: () => ({
      mdiEmail,
      items: [
        {
          text: 'Forgot password',
          disabled: true,
          to: '/forgot-password/',
        }
      ],
      valid: true,
      loading: false,
      email: '',
      rules: {
        email: [
          v => !!v || 'E-mail is required',
          v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ]
      }
    }),
    components: {
      BreadCrumb
    },
    methods: {
      ...mapActions(
        "onboarding", [
          'forgotPassword',
        ]
      ),
			async handleForgotPassword() {
				if(this.$refs.forgotPasswordForm.validate()){
          this.loading = true
          await this.forgotPassword(this.email)
          .then(response => {
            this.$toast.success(response.data.message, {
              duration: 5000
            })
            this.$router.push({
              path: '/login',
            });
          })
          .catch(error => {
              this.$toast.error(error.response.data.message, {
                duration: 5000
              })
          })
          .finally(() => {
            this.loading = false
          });
				}
			},
    },
  }
</script>