<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        v-on="on"
        icon
      >
        <v-icon color="grey lighten-1">{{mdiPencil}}</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Edit Comment</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row>
              <v-col
                cols="12"
              >
                <v-textarea
                  v-model="content"
                  :rules="rules.content"
                  label="Edit comment"
                  required
                  :prepend-icon="mdiComment"
                  auto-grow
                  rows="1"
                  type="text"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="update()"
        >
          Update
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiPencil, mdiComment } from '@mdi/js'

  export default {
    props: {
      'comment': Object,
      'comments': Array,
    },
    data: () => ({
      'mdiPencil': mdiPencil,
      'mdiComment': mdiComment,
      dialog: false,
      valid: false,
      content: '',
      rules: {
        content: [
          v => !!v || 'The content is required'
        ],
      },
    }),
    mounted(){
      this.content = this.comment.content;
    },
    methods:{
      reset () {
        this.content = this.comment.content;
        this.dialog = false;
			},
      async update() {
        if(this.$refs.form.validate()){
          try {
            let formData = new FormData();
            formData.append('comment_id', this.comment.id);
            formData.append('content', this.content);
            formData.append('_method', 'PUT');

            await this.$axios.post('/api/comment/update_comment', formData)
            .then(response => {
              let comment = response.data.comment;
              this.comment.content = comment.content;
              this.$toast.success(response.data.message)
              this.reset();
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
    },
  }
</script>
