<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="items"
        ></bread-crumb>
      </v-col>
      <template
        v-if="!loading"
      >
        <v-col
          cols="12"
        >
          <course-detail
            :course="course"
            :group="group"
          >
          </course-detail>
        </v-col>
        <template
          v-if="course.contents != null "
        >
          <v-col
            cols="12"
            v-if="course.contents.length <= 0"
          >
            <v-row
              class="no-gutters"
              justify="center"
            >
              <v-col
                cols="12"
                sm="8"
                class="text-center mb-4"
              >
                <h2>
                  Upps you don't have any content added on this course yet. You can press the above button to add new content to this course!
                </h2>
              </v-col>
            </v-row>
          </v-col>
          <template
            v-else
          >
            <v-col
              v-for="(content) in course.contents"
              cols="12"
              sm="6"
              md="4"
              :key="content.id"
            >
              <content-card
                v-if="content.course_contentable_type.includes('Unit')"
                :content="content.course_contentable"
                :type="'Unit'"
                :url="`/groups/${group.id}/courses/${course.id}/units/${content.course_contentable.id}`"
              >
              </content-card>
            </v-col>
          </template>
        </template>
        <v-col
          cols="12"
        >
          <h2
            v-html="'Comments'"
          ></h2>
        </v-col>
        <v-col
          cols="12"
        >
          <comments-card
            :group="group"
            type="course"
          >
          </comments-card>
        </v-col>
        <template
          v-if="['Owner', 'Admin'].includes(group.pivot.role_user)"
        >
          <float-button-course>
          </float-button-course>
        </template>
      </template>
    </v-row>
  </v-container>
</template>

<script>
  import BreadCrumb from '@/components/global/BreadCrumb';
  import CourseDetail from '@/components/courses/show/CourseDetail';
  import ContentCard from '@/components/global/ContentCard';
  import FloatButtonCourse from '@/components/groups/courses/show/FloatButtonCourse';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Groups',
          disabled: false,
          exact: true,
          to: '/groups/',
        }
      ],
      loading: true,
      course: null,
      group: null,
      contents: []
    }),
    components: {
      BreadCrumb,
      CourseDetail,
      ContentCard,
      FloatButtonCourse
    },
    mounted(){
      this.get();
    },
    methods:{
      async get() {
        try {
          await this.$axios.get('/api/group/course', {
            params: {
              'group_id': this.$route.params.group,
              'course_id': this.$route.params.course,
            }
          })
          .then(response => {
            this.course = response.data.course;
            this.group = response.data.group;

            this.items.push({
              text: this.group.name,
              disabled: false,
              exact: true,
              to: `/groups/${this.group.id}/`
            }, {
              text: `${this.course.name}`,
              disabled: true,
              exact: true,
              to: `/groups/${this.course.id}/`,
            });
          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          })
          .finally(finish => {
            this.loading = false;
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
    }
  }
</script>
