<template>
  <v-row
    v-if="!loading"
  >
    <template
      v-if="false"
    >
      <v-col
        cols="12"
      >

      </v-col>
    </template>
    <template
      v-else
    >
      <v-col
        cols="12"
      >
        <v-row
          class="no-gutters"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            class="text-center mb-4 my-12"
          >
            <h3>
              Upps you don't have any submits on this form yet.
            </h3>
          </v-col>
        </v-row>
      </v-col>
    </template>
  </v-row>
  <v-row
    v-else
    no-gutters
  >
    <v-col
      v-for="i in 3"
      :key="i"
      cols="12"
    >
      <v-skeleton-loader
        v-bind="attrs"
        type="list-item-avatar-three-line"
      ></v-skeleton-loader>
    </v-col>
  </v-row>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    middleware: 'auth',
    data: () => ({
      loading: true,
      attrs: {
        boilerplate: true,
      }
    }),
    computed: {
      ...mapState(
        "form-submits", [
          "courseFormSubmits"
        ]
      )
    },
    mounted() {
      this.get_course_form_submits();
    },
    methods: {
      ...mapActions(
        "form-submits", [
          "getCourseFormSubmits"
        ]
      ),
      async get_course_form_submits(){
        await this.getCourseFormSubmits({
            course_id: this.$route.params.course,
            unit_id: this.$route.params.unit,
            form_id: this.$route.params.form
          }
        )
        .then(response => {})
        .catch(e => {
          this.$toast.error(e)
        })
        this.loading = false;
      }
    }
  }
</script>
