<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
        v-bind="attrs"
        v-on="on"
      >
        <v-list-item-title>
          Form
        </v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">New Form</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row>
              <v-col
                cols="12"
              >
                <v-text-field
                  v-model="name"
                  :rules="rules.name"
                  required
                  placeholder="My awesone form"
                  :prepend-icon="mdiFormSelect"
                  label="Choose a form name"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
              >
                <v-textarea
                  v-model="description"
                  :rules="rules.description"
                  outlined
                  required
                  label="Description"
                  :prepend-icon="mdiCardText"
                ></v-textarea>
              </v-col>
              <v-col
                cols="12"
                class="pt-0"
              >
                <v-text-field
                  v-model="cta_text"
                  placeholder="Learn more"
                  :prepend-icon="mdiChevronRight"
                  label="CTA text"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="create()"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiFormSelect, mdiCamera, mdiCardText, mdiChevronRight } from '@mdi/js'
  import { mapActions } from 'vuex';

  export default {
    props: {
      unit: {
        type: Object,
        required: true
      }
    },
    data: () => ({
      'mdiFormSelect': mdiFormSelect,
      'mdiCamera': mdiCamera,
      'mdiCardText': mdiCardText,
      'mdiChevronRight': mdiChevronRight,
      dialog: false,
      valid: false,
      name: '',
      description: '',
      cta_text: '',
      rules: {
        name: [
          v => !!v || 'Name is required'
        ],
        description: [
          v => !!v || 'Description is required'
        ],
      },
    }),
    methods:{
      ...mapActions({
        addForm: 'forms/addForm'
      }),
      reset () {
				this.$refs.form.reset();
        this.dialog = false;
      },
      async create(){
        if(this.$refs.form.validate()){
          let formData = new FormData();
          formData.append('name', this.name);
          formData.append('description', this.description);
          formData.append('unit_id', this.unit.id);
          formData.append('cta_text', this.cta_text);

          await this.addForm(formData)
          .then(response => {
            this.unit.contents.push(response.data.content);
            this.$toast.success(response.data.message)
            this.dialog = false;
          })
          .catch(e => {
            this.$toast.error(e)
          })
        }
      }
    },
  }
</script>
