<template>
  <v-menu
    bottom
    left
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="primary"
        text
        v-bind="attrs"
        v-on="on"
      >
        Add content
      </v-btn>
    </template>

    <v-list>
      <add-form-content-fill-in-the-blank></add-form-content-fill-in-the-blank>
      <add-form-content-question></add-form-content-question>
      <add-form-content-select></add-form-content-select>
      <add-form-content-multiple></add-form-content-multiple>
      <v-divider></v-divider>
      <add-form-content-text></add-form-content-text>
      <add-form-content-video></add-form-content-video>
      <add-form-content-link></add-form-content-link>
      <add-form-content-image></add-form-content-image>
    </v-list>
  </v-menu>
</template>

<script>
  import AddFormContentFillInTheBlank from '@/components/form-contents/fill-in-the-blank/create/AddFormContentFillInTheBlank';
  import AddFormContentQuestion from '@/components/form-contents/question/create/AddFormContentQuestion';
  import AddFormContentSelect from '@/components/form-contents/select/create/AddFormContentSelect';
  import AddFormContentMultiple from '@/components/form-contents/multiple/create/AddFormContentMultiple';
  import AddFormContentText from '@/components/form-contents/text/create/AddFormContentText';
  import AddFormContentVideo from '@/components/form-contents/video/create/AddFormContentVideo';
  import AddFormContentLink from '@/components/form-contents/link/create/AddFormContentLink';
  import AddFormContentImage from '@/components/form-contents/image/create/AddFormContentImage';

  export default {
    components: {
      AddFormContentFillInTheBlank,
      AddFormContentQuestion,
      AddFormContentSelect,
      AddFormContentMultiple,
      AddFormContentText,
      AddFormContentVideo,
      AddFormContentLink,
      AddFormContentImage
    }
  }
</script>
