<template>
  <v-menu
    bottom
    left
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        icon
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>{{mdiDotsVertical}}</v-icon>
      </v-btn>
    </template>

    <v-list>
      <edit-form>
      </edit-form>
      <destroy-form>
      </destroy-form>
    </v-list>
  </v-menu>
</template>

<script>
  import { mdiDotsVertical } from '@mdi/js'
  import { mapState } from 'vuex';

  import EditForm from '@/components/forms/edit/EditForm';
  import DestroyForm from '@/components/forms/destroy/DestroyForm';

  export default {
    data: () => ({
      'mdiDotsVertical': mdiDotsVertical,
    }),
    components: {
      DestroyForm,
      EditForm
    },
    computed: {
      ...mapState(
        "forms", [
          "form",
        ]
      ),
    },
  }
</script>
