<template>
  <v-speed-dial
    v-model="fab"
    fab
    bottom
		right
    :direction="'top'"
    fixed
    :transition="'slide-y-reverse-transition'"
    class="custom-button"
  >
    <template v-slot:activator>
      <v-btn
        v-model="fab"
        color="blue darken-2"
        dark
        fab
      >
        <v-icon v-if="fab">
          {{mdiClose}}
        </v-icon>
        <v-icon v-else>
          {{mdiFormSelect}}
        </v-icon>
      </v-btn>
    </template>
    <v-btn
      fab
      dark
      small
      color="green"
      exact
      :to="`/courses/${params.course_id}/units/${params.unit_id}/forms/${params.form_id}/`"
    >
      <v-icon>{{mdiPencil}}</v-icon>
    </v-btn>
    <v-btn
      fab
      dark
      small
      color="green"
      exact
      :to="`/courses/${params.course_id}/units/${params.unit_id}/forms/${params.form_id}/answers/statistics/`"
    >
      <v-icon>{{mdiGoogleAnalytics}}</v-icon>
    </v-btn>
    <v-btn
      fab
      dark
      small
      color="green"
      exact
      :to="`/courses/${params.course_id}/units/${params.unit_id}/forms/${params.form_id}/answers/submits/`"
    >
      <v-icon>{{mdiFormatListText}}</v-icon>
    </v-btn>
  </v-speed-dial>
</template>

<script>
  import { mdiPencil, mdiClose, mdiGoogleAnalytics, mdiFormatListText, mdiFormSelect } from '@mdi/js'

  export default {
    data: () => ({
      'mdiPencil': mdiPencil,
      'mdiClose': mdiClose,
      'mdiGoogleAnalytics': mdiGoogleAnalytics,
      'mdiFormSelect': mdiFormSelect,
      'mdiFormatListText': mdiFormatListText,
      params: {},
      fab: false,
    }),
    mounted(){
      this.params = {
        'course_id': this.$route.params.course,
        'unit_id': this.$route.params.unit,
        'form_id': this.$route.params.form,
      }
    }
  }
</script>

<style scoped>
  .custom-button {
    z-index: 10;
    bottom: 50px;
  }
</style>
