<template>
  <v-row>
    <template
      v-if="contentTypeComponents.length > 0"
    >
      <v-col
        v-for="(component, index) in contentTypeComponents"
        :key="index"
        cols="12"
      >
        <component
          :is="component"
          :form_content="form.contents[index]"
        ></component>
      </v-col>
    </template>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(
      'forms', [
        'form'
      ]
    ),
    contentTypeComponents(){
      let auxComponents = [];
      for (let i = 0; i < this.form.contents.length; i++) {
        const formContent = this.form.contents[i];
        auxComponents.push(
          this.getContentTypeComponent(formContent.form_contentable_type)
        );
      }
      return auxComponents;
    }
  },
  methods: {
    getContentTypeComponent(type){
      const afterSlashType = type.match(/\\([^\\]+)?$/)[1];
      const contentTypes = {
        'FormContentFillintheblank': () => {
          return () => import(`@/components/form-contents/fill-in-the-blank/show/ShowContentFillInTheBlank`)
        },
        'FormContentQuestion': () => {
          return () => import(`@/components/form-contents/question/show/ShowContentQuestion`)
        },
        'FormContentMultiple': () => {
          return () => import(`@/components/form-contents/multiple/show/ShowContentMultiple`)
        },
        'FormContentSelect': () => {
          return () => import(`@/components/form-contents/select/show/ShowContentSelect`)
        },
        'FormContentText': () => {
          return () => import(`@/components/form-contents/text/show/ShowContentText`)
        },
        'FormContentVideo': () => {
          return () => import(`@/components/form-contents/video/show/ShowContentVideo`)
        },
        'FormContentLink': () => {
          return () => import(`@/components/form-contents/link/show/ShowContentLink`)
        },
        'FormContentImage': () => {
          return () => import(`@/components/form-contents/image/show/ShowContentImage`)
        },
        'default': () => {
          return () => import(`@/components/form-contents/text/show/ShowContentText`)
        }
      }

      return (contentTypes[afterSlashType] || contentTypes['default'])()
    }
  }
}
</script>
