<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-title
      v-text="form.name"
      class="headline"
    >
    </v-card-title>
    <v-card-subtitle
      v-if="group && group['pivot'] != undefined"
      v-text="`${group.pivot.role_user}`"
    >
    </v-card-subtitle>
    <v-card-subtitle
      v-if="course && course['pivot'] != undefined"
      v-text="`${course.pivot.role_user}`"
    >
    </v-card-subtitle>
    <v-card-text
      v-text="form.description"
      height="100%"
      class="text-pre-wrap"
    >
    </v-card-text>
    <v-card-actions>
      <add-form-content
        v-if="course != null && course['pivot'] != undefined"
      ></add-form-content>
      <!-- <v-btn
        v-if="group != null && (form.formSubmits > 0 || (group['pivot'] != undefined && group.pivot.role_user != 'Student'))"
        color="primary"
        text
        :to="`/groups/${$route.params.group}/courses/${$route.params.course}/units/${$route.params.unit}/forms/${$route.params.form}/submits/`"
      >
        Check my answers
      </v-btn> -->
      <v-spacer></v-spacer>
      <social-sharing
        :url="url"
        :title="form.name"
        :description="form.description"
      ></social-sharing>
      <dots-options-form
        v-if="course != null && course['pivot'] != undefined"
      >
      </dots-options-form>
    </v-card-actions>
  </v-card>
</template>

<script>
  import { mdiHeart, mdiGoogleAnalytics } from '@mdi/js'
  import { mapState } from 'vuex';

  import AddFormContent from '@/components/forms/show/AddFormContent';
  import DotsOptionsForm from '@/components/forms/show/DotsOptionsForm';
  import SocialSharing from '~/components/global/SocialSharing.vue';

  export default {
    props: {
      'group': {
        type: Object,
        required: false
      }, 'course': {
        type: Object,
        required: true
      }, 'unit': {
        type: Object,
        required: true
      }
    },
    data(){
      return {
        'mdiHeart': mdiHeart,
        'mdiGoogleAnalytics': mdiGoogleAnalytics,
      }
    },
    components: {
      AddFormContent,
      DotsOptionsForm,
      SocialSharing
    },
    computed: {
      ...mapState(
        "forms", [
          "form",
        ]
      ),
      url(){
        return window.location.href
      }
    },
  }
</script>
