<template>
  <v-container>
    <v-row>
      <p v-if="$fetchState.pending"></p>
      <v-col
        v-else-if="$fetchState.error"
        class="d-flex justify-center align-center"
      >
        <h2>An error occurred 😭</h2>
      </v-col>
      <template
        v-else
      >
        <v-col
          cols="12"
        >
          <bread-crumb
            :items="items"
          ></bread-crumb>
        </v-col>
        <v-col
          cols="12"
        >
          <group-form-detail>
          </group-form-detail>
        </v-col>
        <v-col
          cols="12"
        >
          <group-form-contents
            :form_contents="form.contents"
          >
          </group-form-contents>
        </v-col>
        <template
          v-if="group.pivot.role_user == 'Owner' || group.pivot.role_user == 'Admin'"
        >
          <float-button-form>
          </float-button-form>
        </template>
      </template>
    </v-row>
  </v-container>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  import BreadCrumb from '@/components/global/BreadCrumb';
  import GroupFormDetail from '@/components/groups/courses/units/forms/show/GroupFormDetail';
  import GroupFormContents from '@/components/groups/courses/units/forms/show/GroupFormContents';
  import FloatButtonForm from '@/components/forms/show/FloatButtonForm';

  export default {
    middleware: 'auth',
    data(){
      return {
        items: []
      }
    },
    computed: {
      ...mapState("groups/courses/units/forms", [
        "group",
        "course",
        "unit",
        "form"
      ]),
    },
    async fetch() {
      await this.getGroupForm({
        params: {
          'group_id': this.$route.params.group,
          'course_id': this.$route.params.course,
          'unit_id': this.$route.params.unit,
          'form_id': this.$route.params.form,
        }
      })
      .then(response => {
        this.set_breadcrumbs();
      })
    },
    methods: {
      ...mapActions("groups/courses/units/forms", [
        "getGroupForm"
      ]),
      set_breadcrumbs(){
        this.items.push({
          text: 'Groups',
          disabled: false,
          exact: true,
          to: '/groups/',
        }, {
          text: this.group.name,
          disabled: false,
          exact: true,
          to: `/groups/${this.group.id}/`
        }, {
          text: `${this.course.name}`,
          disabled: false,
          exact: true,
          to: `/groups/${this.group.id}/courses/${this.course.id}/`,
        }, {
          text: `${this.unit.name}`,
          disabled: false,
          exact: true,
          to: `/groups/${this.group.id}/courses/${this.course.id}/units/${this.unit.id}/`,
        }, {
          text: `${this.form.name}`,
          disabled: true,
          exact: true,
          to: `/groups/${this.group.id}/courses/${this.course.id}/units/${this.unit.id}/forms/${this.form.id}`,
        });
      }
    },
    components: {
      BreadCrumb,
      GroupFormDetail,
      GroupFormContents,
      FloatButtonForm
    },
  }
</script>
