<template>
  <v-menu
    v-if="$auth"
    bottom
    left
    min-width="200px"
    rounded
    offset-y
  >
    <template v-slot:activator="{ on }">
      <v-btn
        icon
        x-large
        v-on="on"
      >
        <v-avatar
          color="brown"
          size="48"
        >
          <span data-testid="avatar-menu-short-name-button" class="white--text headline">{{ $auth.user.name | short_hand }}</span>
        </v-avatar>
      </v-btn>
    </template>
    <v-card>
      <v-list-item-content class="justify-center">
        <div class="mx-auto text-center">
          <v-avatar
            color="brown"
          >
            <span data-testid="avatar-menu-short-name-avatar" class="white--text headline">{{ $auth.user.name | short_hand}}</span>
          </v-avatar>
          <h3
            data-testid="avatar-menu-name"
            class="px-2"
          >{{ $auth.user.name }}</h3>
          <p
            data-testid="avatar-menu-email"
            class="caption mt-1 px-2"
          >
            {{ $auth.user.email }}
          </p>
          <v-divider class="my-3"></v-divider>
          <v-btn
            depressed
            rounded
            text
            to="/profile/"
          >
            Edit Account
          </v-btn>
          <v-divider class="my-3"></v-divider>
          <v-btn
            depressed
            rounded
            text
            to="/logout/"
          >
            Logout <v-icon>{{mdiExitRun}}</v-icon>
          </v-btn>
        </div>
      </v-list-item-content>
    </v-card>
  </v-menu>
</template>

<script>
  import { mdiExitRun } from '@mdi/js'

  export default {
    data(){
      return {
        'mdiExitRun': mdiExitRun
      }
    },
    filters: {
      short_hand (name) {
        // You can put your logic here...
        let words = name.split(" ")
        let short_hand = '';

        if(words.length <= 1){
            short_hand = words[0][0];
        }else{
            short_hand = words[0][0] + words[words.length-1][0];
        }
        return short_hand.toUpperCase(); // <-- The return value as Per logic
      }
    }
  }
</script>
