<template>
  <v-breadcrumbs
    :items="items"
    class="pb-0"
  >
      <template v-slot:divider>
        <v-icon>{{mdiChevronRight}}</v-icon>
      </template>
    </v-breadcrumbs>
</template>

<script>
  import { mdiChevronRight } from '@mdi/js'

  export default {
    props: [
      'items'
    ],
    data(){
      return {
        'mdiChevronRight': mdiChevronRight
      }
    }
  }
</script>
