<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-title>
      <div
        v-text="str_limit(content.name, 40)"
      >
      </div>
      <v-spacer></v-spacer>
      <div
        v-if="success"
      >
        <v-icon
          color="success"
        >
          {{mdiCheckBold}}
        </v-icon>
      </div>
    </v-card-title>
    <v-card-subtitle
      v-text="type"
    >
    </v-card-subtitle>
    <v-card-text
      v-text="str_limit(content.description, 90)"
      height="100%"
    >
    </v-card-text>
    <v-card-actions>
      <v-btn
        text
        color="primary"
        :to="url"
      >
        <span
          v-text="content.cta_text ? content.cta_text: 'Learn More'"
        ></span>
        <v-icon>
          {{mdiChevronRight}}
        </v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <social-sharing
        :url="`${$config.webURL}${url}`"
        :title="content.name"
        :description="content.description"
      ></social-sharing>
      <!-- <v-spacer></v-spacer>
      <v-btn
        disabled
        icon
      >
        <v-icon>{{mdiHeart}}</v-icon>
      </v-btn> -->
    </v-card-actions>
  </v-card>
</template>

<script>
  import { mdiHeart, mdiChevronRight, mdiCheckBold } from '@mdi/js'
  import SocialSharing from '~/components/global/SocialSharing.vue';

  export default {
    components: {
      SocialSharing
    },
    props: {
      'content': {
        required: true,
        type: Object
      },
      'type': {
        required: true,
        type: String
      },
      'url': {
        required: true,
        type: String
      },
      'success': {
        default: false,
        type: Boolean
      }
    },
    data: () => ({
      'mdiHeart': mdiHeart,
      'mdiChevronRight': mdiChevronRight,
      'mdiCheckBold': mdiCheckBold
    }),
    methods: {
      str_limit(string, limit){
        return string.length < limit ? string : string.substring(0, limit) + '...'
      }
    }
  }
</script>
