<template>
    <v-tooltip
        bottom
    >
      <template v-slot:activator="{ on: tooltip }">
          <v-card
              class="mx-auto"
              outlined
          >
              <v-img
                  height="194"
                  :src="preview.src ? preview.src : preview"
              >
                  <template v-slot:placeholder>
                      <v-row
                          class="fill-height ma-0"
                          align="center"
                          justify="center"
                      >
                          <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                      </v-row>
                  </template>
              </v-img>
          </v-card>
      </template>
      <span>{{preview.title}}</span>
    </v-tooltip>
</template>

<script>
  export default {
    props: [
      'preview',
    ],
	}
</script>
