<template>
  <v-dialog
    v-model="isOpen"
    scrollable
    max-width="450px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        v-on="on"
        icon
      >
        <v-icon>{{mdiShareVariant}}</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title
        class="d-flex flex-nowrap align-start"
      >
        <div>
          <span class="text-h5">Share</span>
        </div>
        <v-spacer></v-spacer>
        <v-btn
          icon
          fab
          small
          @click="isOpen = false"
        >
          <v-icon>{{mdiClose}}</v-icon>
        </v-btn>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-title>
        <span class="text-h6">Share this link via</span>
      </v-card-title>
      <v-card-text
        class="d-flex align-center"
        ref="container"
      >
        <client-only>
          <ShareNetwork
            network="whatsapp"
            :url="url"
            :title="title"
            :description="description"
            :media="media"
          >
            <v-btn
              class="ma-2"
              color="primary"
              fab
              outlined
            >
              <v-icon>{{mdiWhatsapp}}</v-icon>
            </v-btn>
          </ShareNetwork>
          <ShareNetwork
            network="email"
            :url="url"
            :title="title"
            :description="description"
          >
            <v-btn
              class="ma-2"
              color="primary"
              fab
              outlined
            >
              <v-icon>{{mdiEmail}}</v-icon>
            </v-btn>
          </ShareNetwork>
        </client-only>
      </v-card-text>
      <v-card-title>
        <span class="text-h6">Or copy link</span>
      </v-card-title>
      <v-card-text>
        <v-text-field
          readonly
          :value="url"
          :prepend-inner-icon="mdiLink"
          :append-icon="mdiContentCopy"
          @click:append="contentCopyClipboard()"
          outlined
        ></v-text-field>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiLink, mdiShareVariant, mdiClose, mdiWhatsapp, mdiEmail, mdiContentCopy } from '@mdi/js'

  export default {
    props: {
      url: {
        type: String,
        required: true
      },
      title: {
        type: String,
        required: false,
        default: ''
      },
      description: {
        type: String,
        required: false,
        default: ''
      },
      media: {
        type: String,
        required: false,
        default: ''
      },
    },
    data: () => ({
      isOpen: false,
      mdiLink,
      mdiShareVariant,
      mdiClose,
      mdiWhatsapp,
      mdiEmail,
      mdiContentCopy
    }),
    methods: {
      async contentCopyClipboard(){
        try {
          let container = this.$refs.container
          await this.$copyText(this.url, container);
        } catch (e) {
          console.error(e);
        }
      }
    }
  }
</script>
