<template>
  <v-card
    class="mx-auto transition"
  >
    <div
      class="text-h6 pa-4"
    >
      <template
        v-for="(item, index) in showFillInTheBlankComponents"
      >
        <component
          :key="index"
          :is="item.component"
          :content="item.content"
          :value="item.value"
        ></component>
      </template>
    </div>
  </v-card>
</template>

<script>
export default {
  props: {
    form_content: {
      required: true,
      type: Object
    }
  },
  computed: {
    getContents(){
      let auxComponents = [];
      for (let i = 0; i < this.form_content.form_contentable.contents.length; i++) {
        const content = this.form_content.form_contentable.contents[i];
        const type = content.fillintheblank_contentable_type;
        if (type == 'App\\Models\\FillintheblankText') {
          const rawDataContent = content.fillintheblank_contentable.content;
          const values = rawDataContent.split(/(\[\-[\d]\-\])/).filter(x => x !== '')

          for (let x = 0; x < values.length; x++) {
            const value = values[x];
            const type = value.match(/\[\-[\d]\-\]/) ? 'component' : 'text';

            auxComponents.push({
              type: type,
              value: value
            })
          }

          break;
        }
      }
      return auxComponents;
    },
    showFillInTheBlankComponents(){
      let auxComponents = [];
      for (let i = 0; i < this.getContents.length; i++) {
        const item = this.getContents[i];
        if (item.type == "text") {
          auxComponents.push({
            component: this.getComponent('App\\Models\\FillintheblankText'),
            value: item.value,
            content: null
          });
        }else {
          let index = item.value.replace(/[^\d]/g, "");
          const content = index != null ? this.form_content.form_contentable.contents[index] : null;
          auxComponents.push({
            component: content != null ? this.getComponent(content.fillintheblank_contentable_type) : this.getComponent('App\\Models\\FillintheblankText'),
            value: item.value,
            content: content
          });
        }
      }
      return auxComponents
    }
  },
  methods: {
    getComponent(type){
      const contentTypes = {
        'App\\Models\\FillintheblankText': () => {
          return () => import(`./misc/FillintheblankText`);
        },
        'App\\Models\\FillintheblankSelect': () => {
          return () => import(`./misc/FillintheblankSelect`);
        },
        'App\\Models\\FillintheblankInput': () => {
          return () => import(`./misc/FillintheblankInput`);
        },
        'default': () => {
          return () => import(`./misc/FillintheblankText`);
        }
      }

      return contentTypes[type] ?
      contentTypes[type]() :
      contentTypes["default"]
    }
  }
}
</script>