<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-title
      v-text="form_content.form_contentable.question.content"
      class="text-h6 pb-0 text-pre-wrap"
    >
    </v-card-title>
    <v-card-text>
      <v-item-group
        v-model="form_content.form_contentable.question.answers"
        multiple
        class="mt-4"
      >
        <v-item
          v-for="(option, index) in form_content.form_contentable.question.options"
          :key="index"
          #default="{ active, toggle }"
          :value="option.content"
        >
          <v-checkbox
            @change="toggle(!active)"
            :label="option.content"
            :value="option.content"
            hide-details
          />
        </v-item>
      </v-item-group>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    }
  }
</script>
