<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-title
      v-text="form_content.form_contentable.question.content"
      class="text-h6 pb-0 text-pre-wrap"
    >
    </v-card-title>
    <v-card-text>
      <v-radio-group
        v-model="form_content.form_contentable.question.answers"
        hide-details
      >
        <v-radio
          v-for="(option, index) in form_content.form_contentable.question.options"
          :key="index"
          :label="option.content"
          :value="option.content"
        ></v-radio>
      </v-radio-group>
    </v-card-text>
  </v-card>
</template>

<script>

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    }
  }
</script>
