<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-title
      v-text="form_content.form_contentable.question.content"
      class="text-h6"
    >
    </v-card-title>
    <v-card-text>
      <v-text-field
        v-model="form_content.form_contentable.question.answers"
        class="pt-0"
        autocomplete="off"
        label=""
      ></v-text-field>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    }
  }
</script>
