<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-text
      class="pa-0"
    >
      <div style="width: 100%;">
        <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
          <iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" :src="getSrc(form_content.form_contentable.content)" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
        </div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    methods: {
      getSrc(iframe){
        let url = iframe;
        let auxReturn;

        try {
            auxReturn = new URL(url).toString();
        } catch (e) {
            let regex = /src="(.[^"]+)"/g;
            let x = regex.exec(url);
            if (x != null) {
              auxReturn = x[1];
            }else {
              auxReturn = url;
            }
        }
        return auxReturn;
      }
    }
  }
</script>