<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="items"
        ></bread-crumb>
      </v-col>
      <template
        v-if="loading == false"
      >
        <v-col
          cols="12"
        >
          <unit-detail
            :unit="unit"
            :course="course"
          >
          </unit-detail>
        </v-col>
        <v-col
          cols="12"
          v-if="unit.contents.length <= 0"
        >
          <v-row
            class="no-gutters"
            justify="center"
          >
            <v-col
              cols="12"
              sm="8"
              class="text-center mb-4"
            >
              <h2>
                Upps you don't have any content added on this unit yet. You can press the above button to add new content to this unit!
              </h2>
            </v-col>
          </v-row>
        </v-col>
        <template
          v-else
        >
          <v-col
            v-for="(content) in unit.contents"
            cols="12"
            sm="6"
            md="4"
            :key="content.id"
          >
            <content-card
              v-if="content.unit_contentable_type.includes('Lesson')"
              :content="content.unit_contentable"
              :type="'Lesson'"
              :url="`/courses/${course.id}/units/${unit.id}/lessons/${content.unit_contentable.id}/`"
            >
            </content-card>
            <content-card
              v-else-if="content.unit_contentable_type.includes('Form')"
              :content="content.unit_contentable"
              :type="'Form'"
              :url="`/courses/${course.id}/units/${unit.id}/forms/${content.unit_contentable.id}/`"
            >
            </content-card>
          </v-col>
        </template>
      </template>
    </v-row>
  </v-container>
</template>

<script>
  import BreadCrumb from '@/components/global/BreadCrumb';
  import UnitDetail from '@/components/units/show/UnitDetail';
  import ContentCard from '@/components/global/ContentCard';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Courses',
          disabled: false,
          exact: true,
          to: '/courses/',
        }
      ],
      loading: true,
      unit: null,
      course: null,
    }),
    components: {
      BreadCrumb,
      UnitDetail,
      ContentCard
    },
    mounted(){
      this.get();
    },
    methods:{
      async get() {
        try {
          await this.$axios.get('/api/unit/show', {
            params: {
              'course_id': this.$route.params.course,
              'unit_id': this.$route.params.unit,
            }
          })
          .then(response => {
            this.course = response.data.course;
            this.unit = response.data.unit;

            this.items.push({
              text: `${this.course.name}`,
              disabled: false,
              exact: true,
              to: `/courses/${this.course.id}/`,
            }, {
              text: `${this.unit.name}`,
              disabled: true,
              exact: true,
              to: `/courses/${this.course.id}/units/${this.unit.id}`,
            });
          })
          .catch(error => {
            this.$toast.error(error.response.data.message)
          })
          .finally(finish => {
            this.loading = false;
          });
        } catch (error) {
          this.$toast.error(error)
        }
      },
    }
  }
</script>
