<template>
  <v-menu
    bottom
    left
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="primary"
        text
        v-bind="attrs"
        v-on="on"
      >
        Add content
      </v-btn>
    </template>

    <v-list>
      <create-form-lesson
        :unit="unit"
      ></create-form-lesson>
      <create-forms
        :unit="unit"
      ></create-forms>
      <v-list-item
        disabled
      >
        <v-list-item-title>
          Activities
        </v-list-item-title>
      </v-list-item>
      <v-list-item
        disabled
      >
        <v-list-item-title>
          Exams
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
  import CreateFormLesson from '@/components/lessons/create/CreateFormLesson';
  import CreateForms from '@/components/forms/create/CreateForms';

  export default {
    props: {
      'unit': Object,
    },
    data: () => ({
      error: '',
    }),
    components: {
      CreateFormLesson,
      CreateForms
    }
  }
</script>
