<template>
  <v-menu
    bottom
    left
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        icon
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>{{mdiDotsVertical}}</v-icon>
      </v-btn>
    </template>

    <v-list>
      <edit-form-unit
        :unit="unit"
      >
      </edit-form-unit>
      <destroy-unit
        :unit="unit"
        :course="course"
      >
      </destroy-unit>
    </v-list>
  </v-menu>
</template>

<script>
  import { mdiDotsVertical } from '@mdi/js'

  import DestroyUnit from '@/components/units/destroy/DestroyUnit';
  import EditFormUnit from '@/components/units/edit/EditFormUnit';

  export default {
    props: {
      'unit': Object,
      'course': Object,
    },
    data(){
      return {
        'mdiDotsVertical': mdiDotsVertical
      }
    },
    components: {
      DestroyUnit,
      EditFormUnit,
    }
  }
</script>
