<template>
  <v-card
    class="mx-auto transition"
  >
    <v-card-title
      v-text="unit.name"
      class="headline"
    >
    </v-card-title>
    <v-card-subtitle
      v-if="group && group['pivot'] != undefined"
      v-text="`${group.pivot.role_user}`"
    >
    </v-card-subtitle>
    <v-card-subtitle
      v-if="course && course['pivot'] != undefined"
      v-text="`${course.pivot.role_user}`"
    >
    </v-card-subtitle>
    <v-card-text
      v-text="unit.description"
      height="100%"
      class="text-pre-wrap"
    >
    </v-card-text>
    <v-card-actions>
      <add-unit-content
        v-if="course != null && course['pivot'] != undefined"
        :unit="unit"
      ></add-unit-content>
      <v-spacer></v-spacer>
      <v-btn
        disabled
        icon
      >
        <v-icon>{{mdiHeart}}</v-icon>
      </v-btn>
      <social-sharing
        :url="url"
        :title="unit.name"
        :description="unit.description"
      ></social-sharing>

      <dots-options-unit
        v-if="course != null && course['pivot'] != undefined"
        :unit="unit"
        :course="course"
      >
      </dots-options-unit>
    </v-card-actions>
  </v-card>
</template>

<script>
  import { mdiHeart } from '@mdi/js'

  import AddUnitContent from '@/components/units/show/AddUnitContent';
  import DotsOptionsUnit from '@/components/units/show/DotsOptionsUnit';
  import SocialSharing from '~/components/global/SocialSharing.vue';

  export default {
    props: {
      'group': {
        type: Object,
        required: false
      }, 'course': {
        type: Object,
        required: true
      }, 'unit': {
        type: Object,
        required: true
      }
    },
    data(){
      return {
        'mdiHeart': mdiHeart
      }
    },
    computed: {
      url(){
        return window.location.href
      }
    },
    components: {
      AddUnitContent,
      DotsOptionsUnit,
      SocialSharing
    }
  }
</script>
