<template>
  <v-container>
    <v-row>
      <p v-if="$fetchState.pending"></p>
      <v-col
        v-else-if="$fetchState.error"
        class="d-flex justify-center align-center"
      >
        <h2>An error occurred 😭</h2>
      </v-col>
      <template
        v-else
      >
        <v-col
          cols="12"
        >
          <bread-crumb
            :items="formatedBreadcrumbs"
          ></bread-crumb>
        </v-col>
        <v-col
          cols="12"
        >
          <h2
            v-text="'User progress'"
          ></h2>
        </v-col>
        <v-col
          cols="12"
        >
          <v-card>
            <v-treeview
              v-model="tree"
              :open="initiallyOpen"
              :items="formatedUserProgress"
              item-key="id"
              open-on-click
            >
              <template v-slot:prepend="{ item, open }">
                <v-icon v-if="!item.icon">
                  {{ open ? mdiFolderOpen : mdiFolder }}
                </v-icon>
                <v-icon v-else>
                  {{ icons[item.icon] }}
                </v-icon>
              </template>
              <template v-slot:label="{ item }">
                <progress-item
                  :item="item"
                ></progress-item>
              </template>
            </v-treeview>
          </v-card>
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import {
    mdiAccountGroup, mdiTeach, mdiAccount, mdiFolderOpen, mdiFolder, mdiPencilRuler, mdiFormSelect, mdiBookOpenVariant, mdiCalendarMonthOutline
  } from '@mdi/js';
  import BreadCrumb from '@/components/global/BreadCrumb';
  import ProgressItem from "@/components/progress/item/ProgressItem"

  export default {
    middleware: 'auth',
    data: () => ({
      tab: 0,
      initiallyOpen: [],
      'mdiFolderOpen': mdiFolderOpen,
      'mdiFolder': mdiFolder,
      icons: {
        user: mdiAccount,
        group: mdiAccountGroup,
        course: mdiTeach,
        unit: mdiBookOpenVariant,
        lesson: mdiPencilRuler,
        form: mdiFormSelect,
        submit: mdiCalendarMonthOutline
      },
      tree: []
    }),
    computed: {
      ...mapState(
        'breadcrumbs', [
          'breadcrumbs',
          'role'
        ]
      ),
      ...mapGetters(
        'groups/user-progress', [
          'formatedUserProgress'
        ]
      ),
      formatedBreadcrumbs(){
        return [
          {
            text: `Groups`,
            disabled: false,
            exact: true,
            to: `/groups/`,
          }, {
            text: `${this.breadcrumbs.group_name}`,
            disabled: false,
            exact: true,
            to: `/groups/${this.breadcrumbs.group_id}/`,
          }, {
            text: `Progress`,
            disabled: true,
            exact: true,
            to: `/groups/${this.breadcrumbs.group_id}/progress/`,
          }
        ]
      }
    },
    async fetch() {
      await Promise.all([
        await this.get_user_progress(),
        await this.get_breadcrumb_group()
      ])
    },
    methods: {
      ...mapActions(
        'breadcrumbs', [
          'getBreadcrumbGroup'
        ]
      ),
      ...mapActions(
        'groups/user-progress', [
          'getUserProgress',
          'getUserFormSubmits'
        ]
      ),
      async get_user_progress(){
        await this.getUserProgress(this.$route.params.group)
      },
      async get_breadcrumb_group(){
        await this.getBreadcrumbGroup({
          'group_id': this.$route.params.group
        })
      }
    },
    components: {
      BreadCrumb,
      ProgressItem
    },
  }
</script>
