<template>
  <v-card
    class="mx-auto transition"
    :color="check_is_correct() ? 'amber lighten-5' : 'red lighten-4'"
  >
    <div
      class="text-h6 pa-4"
    >
      <template
        v-for="(item, index) in getContentElements"
      >
        <template
          v-if="item.type == 'text'"
        >
          {{item.text}}
        </template>
        <template
          v-else
        >
          <input
            v-model="item.answer"
            type="text"
            class="input-custom text-body-2"
            :key="index"
            readonly
          >
          <v-icon
            :key="`icon-${index}`"
          >
            {{item.is_correct ? mdiCheck : mdiClose}}
          </v-icon>
        </template>
      </template>
    </div>
  </v-card>
</template>

<script>
import { mdiCheck, mdiClose } from '@mdi/js';
import { mapState } from 'vuex';

export default {
  props: {
    form_content: {
      required: true,
      type: Object
    }
  },
  data(){
    return {
      'mdiCheck': mdiCheck,
      'mdiClose': mdiClose
    }
  },
  computed: {
    ...mapState(
      "forms", [
        "form",
        "formSubmit"
      ]
    ),
    answers(){
      let auxReturn = [];

      for (let i = 0; i < this.formSubmit.answers.length; i++) {
        const answer = this.formSubmit.answers[i];
        if (answer.question_id == this.form_content.form_contentable.question.id) {
          auxReturn.push(answer);
        }
      }

      return auxReturn;
    },
    getContentElements(){
      let auxReturn = [];
      const rawDataContent = this.form_content.form_contentable.question.content;

      const items = rawDataContent.split(/(\[\-[1-9]\-\])/)

      for (let i = 0; i < items.length; i++) {
        const item = items[i];
        const type = item.match(/\[\-[1-9]\-\]/) ? 'input' : 'text';
        let auxItem = {
          'id': this.form_content.form_contentable.question.id,
          'text': item.trim(),
          'answer': '',
          'type': type,
          'is_correct': false
        }
        if (type == 'input') {
          for (let x = 0; x < this.answers.length; x++) {
            const answer = this.answers[x];
            if (answer.content.includes(item)) {
              let answerContent = answer.content.replace(item,'');
              auxItem.answer = answerContent
              auxItem.is_correct = answer.correct.is_correct == 1 ? true : false
              break;
            }
          }
        }
        auxReturn.push(auxItem);
      }

      return auxReturn;
    }
  },
  methods: {
    check_is_correct(){
      let auxReturn = false;
      if (this.answers.length == this.form_content.form_contentable.question.options.length) {
        for (let i = 0; i < this.getContentElements.length; i++) {
          const item = this.getContentElements[i];
          if (item.type == 'input') {
            if (item.is_correct) {
              auxReturn = true
              continue
            }else {
              auxReturn = false
              break
            }
          }
        }
      }

      return auxReturn;
    }
  }
}
</script>

<style scoped>
.input-custom{
  border-bottom: 1px solid;
  margin: 2px 0;
  padding: 4px;
}
</style>