<template>
  <v-card
    class="mx-auto transition"
    :color="check_is_correct() ? 'amber lighten-5' : 'red lighten-4'"
  >
    <div
      class="text-h6 pa-4"
    >
      <template
        v-for="(item, index) in getContentElements"
      >
        <template
          v-if="item.type == 'text'"
        >
          {{item.text}}
        </template>
        <template
          v-else
        >
          <v-btn
            :class="[
              index > 0 ? 'mx-1': '',
            ]"
            outlined
            small
            :key="index"
          >
            {{item.answer ? item.answer : 'empty'}}
            <v-icon>
              {{item.is_correct ? mdiCheck : mdiClose}}
            </v-icon>
          </v-btn>
        </template>
      </template>
    </div>
  </v-card>
</template>

<script>
import { mdiCheck, mdiClose } from '@mdi/js';
import { mapState } from 'vuex';

export default {
  props: {
    form_content: {
      required: true,
      type: Object
    }
  },
  data(){
    return {
      'mdiCheck': mdiCheck,
      'mdiClose': mdiClose
    }
  },
  computed: {
    ...mapState(
      "forms", [
        "form",
        "formSubmit"
      ]
    ),
    answers(){
      let auxReturn = [];

      for (let i = 0; i < this.formSubmit.answers.length; i++) {
        const answer = this.formSubmit.answers[i];
        if (answer.question_id == this.form_content.form_contentable.question.id) {
          auxReturn.push(answer);
        }
      }

      return auxReturn;
    },
    getContentElements(){
      let auxReturn = [];
      let selectCount = 0;
      let options = [];
      const rawDataContent = this.form_content.form_contentable.question.content;
      const rawOptions = this.form_content.form_contentable.question.options;
      const items = rawDataContent.split(/(\[\-[1-9]\-\])/)

      for (let i = 0; i < items.length; i++) {
        options = [];
        const item = items[i];
        const type = item.match(/\[\-[1-9]\-\]/) ? 'select' : 'text';
        if (type == 'select' && rawOptions[selectCount]) {
          options = rawOptions[selectCount].content.split(/\;/)
        }

        let auxItem = {
          'text': item.trim(),
          'answer': '',
          'type': type,
          'options': options,
          'is_correct': false
        }
        if (type == 'select') {
          for (let x = 0; x < this.answers.length; x++) {
            const answer = this.answers[x];
            if (answer.content.includes(item)) {
              let answerContent = answer.content.replace(item,'');
              auxItem.answer = answerContent
              auxItem.is_correct = answer.correct.is_correct == 1 ? true : false
              break;
            }
          }
          selectCount++;
        }
        auxReturn.push(auxItem);
      }

      return auxReturn;
    }
  },
  methods: {
    check_is_correct(){
      let auxReturn = false;
      if (this.answers.length == this.form_content.form_contentable.question.options.length) {
        for (let i = 0; i < this.getContentElements.length; i++) {
          const item = this.getContentElements[i];
          if (item.type == 'select') {
            if (item.is_correct) {
              auxReturn = true
              continue
            }else {
              auxReturn = false
              break
            }
          }
        }
      }

      return auxReturn;
    }
  }
}
</script>
