<template>
  <v-card
    v-if="answers.length > 0"
    class="mx-auto transition"
    :color="check_is_correct() ? 'amber lighten-5' : 'red lighten-4'"
  >
    <v-card-title
      v-text="form_content.form_contentable.question.content"
      class="text-h6 pb-0"
    >
    </v-card-title>
    <v-card-text
      class="py-0"
    >
      <template
        v-for="(option, index) in form_content.form_contentable.question.options"
      >
        <v-text-field
          :key="index"
          readonly
          :prepend-icon="check_answer(option) ? mdiRadioboxMarked : mdiRadioboxBlank"
          :label="form_content.form_contentable.question.options[index].content"
          :append-outer-icon="form_content.form_contentable.question.options[index].correct.is_correct == '1' ? mdiCheckboxMarkedOutline : mdiCheckboxBlankOutline"
        ></v-text-field>
      </template>
    </v-card-text>
  </v-card>
</template>

<script>
  import { mdiRadioboxMarked, mdiRadioboxBlank, mdiCheckboxMarkedOutline, mdiCheckboxBlankOutline } from '@mdi/js';
  import { mapState } from 'vuex';

  export default {
    props: {
      form_content: {
        required: true,
        type: Object
      }
    },
    data(){
      return {
        'mdiRadioboxMarked': mdiRadioboxMarked,
        'mdiRadioboxBlank': mdiRadioboxBlank,
        'mdiCheckboxMarkedOutline': mdiCheckboxMarkedOutline,
        'mdiCheckboxBlankOutline': mdiCheckboxBlankOutline,
      }
    },
    computed: {
      ...mapState(
        "forms", [
          "form",
          "formSubmit"
        ]
      ),
      answers(){
        let auxReturn = [];

        for (let i = 0; i < this.formSubmit.answers.length; i++) {
          const answer = this.formSubmit.answers[i];
          if (answer.question_id == this.form_content.form_contentable.question.id) {
            auxReturn.push(answer);
          }
        }

        return auxReturn;
      },
      correctOptions(){
        let auxReturn = [];
        let options = this.form_content.form_contentable.question.options;
        for (let i = 0; i < options.length; i++) {
          const option = options[i];
          if (option.correct.is_correct == "1") {
            auxReturn.push(option)
          }
        }
        return auxReturn;
      },
      correctAnswers(){
        let auxReturn = [];
        for (let i = 0; i < this.answers.length; i++) {
          const answer = this.answers[i];
          for (let x = 0; x < this.correctOptions.length; x++) {
            const correctOption = this.correctOptions[x];
            if (correctOption.content == answer.content) {
              auxReturn.push(answer)
            }
          }
        }
        return auxReturn;
      },
    },
    methods: {
      check_is_correct(){
        let auxReturn = false;
        if (this.answers.length == this.correctOptions.length) {
          for (let i = 0; i < this.correctOptions.length; i++) {
            const option = this.correctOptions[i];
            let flag = false;
            for (let x = 0; x < this.correctAnswers.length; x++) {
              const answer = this.correctAnswers[x];
              if (option.content == answer.content) {
                flag = true;
                break;
              }
            }
            if (!flag) {
              return auxReturn;
            }
          }
          auxReturn = true;
        }

        return auxReturn;
      },
      check_answer(option){
        let auxReturn = false;
        for (let i = 0; i < this.answers.length; i++) {
          const answer = this.answers[i];
          if (option.content == answer.content) {
            auxReturn = true;
            break;
          }
        }

        return auxReturn;
      }
    }
  }
</script>
