<template>
  <v-list
    subheader
    two-line
  >
    <v-subheader
      inset
      class="ml-0"
    >
      {{group.comments.length}}
      {{group.comments.length > 1 ? 'comments' : 'comment'}}
    </v-subheader>
    <template v-for="(comment, index) in group.comments">
      <v-list-item
        :key="comment.created_at"
      >
        <v-list-item-avatar
          class="align-self-start"
          size="48"
        >
          <v-avatar
            color="brown"
            size="48"
          >
            <span class="white--text headline">{{ comment.user.name | short_hand }}</span>
          </v-avatar>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title v-html="comment.user.name"></v-list-item-title>
          <v-list-item-subtitle
            v-html="comment.content"
            class="max-words"
          ></v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action
          v-if="canEdit"
          class="align-self-start"
        >
          <edit-comment
            :comment="comment"
            :comments="group.comments"
          >
          </edit-comment>
          <destroy-comment
            :comment="comment"
            :comments="group.comments"
          >
          </destroy-comment>
        </v-list-item-action>
      </v-list-item>
      <v-divider
        v-if="index < group.comments.length - 1"
        :key="index"
      ></v-divider>
    </template>
  </v-list>
</template>

<script>
  import DestroyComment from '@/components/comments/destroy/DestroyComment';
  import EditComment from '@/components/comments/edit/EditComment';

  export default {
    props: {
      'group': Object,
    },
    components: {
      DestroyComment,
      EditComment
    },
    filters: {
      short_hand (name) {
        let words = name.split(" ")
        let short_hand = '';

        if(words.length <= 1){
            short_hand = words[0][0];
        }else{
            short_hand = words[0][0] + words[words.length-1][0];
        }
        return short_hand.toUpperCase();
      }
    },
    computed: {
      canEdit(){
        return this.comment?.user.id == this.$auth.user.id ||
        ['Owner', 'Admin'].includes(this.group?.role?.role_user) ||
        ['Owner', 'Admin'].includes(this.group?.pivot?.role_user)
      }
    },
    methods:{
      reset(){
        this.$refs.form.reset();
      },
      async send_comment() {
        if(this.$refs.form.validate()){
          try {
            await this.$axios.post('/api/comments/add_comment_group', {
              'group_id': this.group.id,
              'content': this.content,
            })
            .then(response => {
              this.group.comments.push(response.data.comment);
              this.$toast.success(response.data.message)
              this.reset();
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
    },
  }
</script>

<style scoped>
  .max-words{
    text-overflow: unset;
    -webkit-line-clamp: unset;
    white-space: pre-wrap;
  }
</style>
