<template>
  <v-container>
    <v-row>
      <p v-if="$fetchState.pending"></p>
      <v-col
        v-else-if="$fetchState.error"
        class="d-flex justify-center align-center"
      >
        <h2>An error occurred 😭</h2>
      </v-col>
      <template
        v-else
      >
        <v-col
          cols="12"
        >
          <bread-crumb
            :items="items"
          ></bread-crumb>
        </v-col>
        <template
          v-if="!loading"
        >
          <v-col
            cols="12"
          >
            <header-submits-show
              :group="group"
              :course="course"
              :unit="unit"
            >
            </header-submits-show>
          </v-col>
          <v-col
            cols="12"
          >
            <form-submit-show
              :group="group"
              :course="course"
              :unit="unit"
            >
            </form-submit-show>
          </v-col>
        </template>
        <float-button-form>
        </float-button-form>
      </template>
    </v-row>
  </v-container>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  import BreadCrumb from '@/components/global/BreadCrumb';
  import HeaderSubmitsShow from '@/components/forms/answers/submits/show/HeaderSubmitsShow';
  import FormSubmitShow from '@/components/forms/answers/submits/show/FormSubmitShow';
  import FloatButtonForm from '@/components/forms/show/FloatButtonForm';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Groups',
          disabled: false,
          exact: true,
          to: '/groups/',
        }
      ],
      group: null,
      course: null,
      unit: null,
      loading: true,
    }),
    computed: {
      ...mapState(
        "forms", [
          "form",
          "groups"
        ]
      )
    },
    async fetch() {
      await this.getFormSubmitGroup({
        params: {
          'group_id': this.$route.params.group,
          'course_id': this.$route.params.course,
          'unit_id': this.$route.params.unit,
          'form_id': this.$route.params.form,
          'submit_id': this.$route.params.submit,
        }
      })
      .then(response => {
        this.group = response.data.group;
        this.course = response.data.course;
        this.unit = response.data.unit;

        this.items.push({
          text: this.group.name,
          disabled: false,
          exact: true,
          to: `/groups/${this.group.id}/`
        }, {
          text: `${this.course.name}`,
          disabled: false,
          exact: true,
          to: `/groups/${this.group.id}/courses/${this.course.id}/`,
        }, {
          text: `${this.unit.name}`,
          disabled: false,
          exact: true,
          to: `/groups/${this.group.id}/courses/${this.course.id}/units/${this.unit.id}/`,
        }, {
          text: `${this.form.name}`,
          disabled: false,
          exact: true,
          to: `/groups/${this.group.id}/courses/${this.course.id}/units/${this.unit.id}/forms/${this.form.id}/`,
        }, {
          text: `Submits`,
          disabled: false,
          exact: true,
          to: `/groups/${this.group.id}/courses/${this.course.id}/units/${this.unit.id}/forms/${this.form.id}/submits/`,
        }, {
          text: `${this.$route.params.submit}`,
          disabled: true,
          exact: true,
          to: `/groups/${this.group.id}/courses/${this.course.id}/units/${this.unit.id}/forms/${this.form.id}/submits/${this.$route.params.submit}/`,
        });

        this.loading = false;
      })
    },
    methods: {
      ...mapActions({
        getFormSubmitGroup: 'forms/getFormSubmitGroup'
      }),
    },
    components: {
      BreadCrumb,
      HeaderSubmitsShow,
      FormSubmitShow,
      FloatButtonForm
    },
  }
</script>
