<template>
  <v-row>
    <v-col
      cols="12"
    >
      <h2
        v-html="title"
      ></h2>
    </v-col>
    <template
      v-for="(group, index) in groups"
    >
      <v-col
        cols="12"
        :key="index"
      >
        <v-card outlined>
          <v-card-text>
            <v-row>
              <v-col
                cols="12"
              >
                <group-list-item
                  :group="group"
                >
                </group-list-item>
              </v-col>
              <template
                v-if="group.courses.length"
              >
                <template
                  v-for="(course, indexCourse) in group.courses"
                >
                  <v-col
                    :key="`group-${index}-course-${indexCourse}`"
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <group-list-course-card
                      :course="course"
                      :url="`/groups/${group.id}/courses/${course.id}/`"
                    >
                    </group-list-course-card>
                  </v-col>
                </template>
              </template>
              <v-col
                v-else
                :key="`${index}-not-found`"
                cols="12"
                class="text-center mb-4"
              >
                <h2>
                  No courses found 😩
                </h2>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </template>
  </v-row>
</template>

<script>
  import GroupListItem from '@/components/dashboard/group/list/item/GroupListItem';
  import GroupListCourseCard from '@/components/dashboard/group/list/course/card/GroupListCourseCard';

  export default {
    props: {
      'title': String,
      'groups': Array
    },
    components: {
      GroupListItem,
      GroupListCourseCard
    }
  }
</script>
