<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
        v-bind="attrs"
        v-on="on"
      >
        <v-list-item-title>
          <v-icon>{{mdiFormTextbox}}</v-icon> Fill in the blank
        </v-list-item-title>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title>
        <p
          class="headline mb-0"
        >New fill in the blank</p>
        <v-spacer></v-spacer>
        <v-menu
          bottom
          left
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              text
              v-bind="attrs"
              v-on="on"
            >
              <v-icon>
                {{mdiPlus}}
              </v-icon>
              Add new question
            </v-btn>
          </template>

          <v-list>
            <v-list-item
              @click="add_select_the_correct_option()"
            >
              <v-list-item-title>
                Select the correct option
              </v-list-item-title>
            </v-list-item>
            <v-list-item
              @click="add_write_the_correct_answer()"
            >
              <v-list-item-title>
                Write the correct answer
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-card-title>
      <v-card-text
        class="pb-0"
      >
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            @submit.prevent
            onSubmit="return false;"
          >
            <v-row
              no-gutters
            >
              <v-col
                v-for="(component, index) in createFillInTheBlankComponents"
                :key="index"
                cols="12"
                class="px-0"
              >
                <v-card
                  :outlined="index != 0"
                  class="pa-4 elevation-0"
                  :class="index != 0 ? 'mb-2' : ''"
                >
                  <component
                    :is="component"
                    :form_content_fillintheblanks="form_content_fillintheblanks"
                    :form_content_fillintheblank="form_content_fillintheblanks[index]"
                    :index="index"
                  ></component>
                </v-card>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="reset()"
        >
          Close
        </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="create()"
          :disabled="!valid"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiFormTextbox, mdiPlus } from '@mdi/js';
  import { mapActions, mapState } from 'vuex';

  export default {
    data(){
      return {
        'mdiFormTextbox': mdiFormTextbox,
        'mdiPlus': mdiPlus,
        dialog: false,
        valid: false,
        form_content_fillintheblanks: [
          {
            order: 0,
            fillintheblank_contentable: {
              content: "",
            },
            fillintheblank_contentable_type: "FillintheblankText"
          }
        ],
        rules: {
          required: [
            v => !!v || 'Content is required'
          ],
          option: [
            v => !!v || 'This field is required'
          ]
        }
      }
    },
    methods: {
      ...mapActions({
        addFormContentFillintheblank: 'forms/addFormContentFillintheblank'
      }),
      reset () {
				this.$refs.form.reset();
        this.dialog = false;
      },
      remove_fillintheblank(index){
        this.$delete(this.form_content_fillintheblanks, index)
      },
      add_select_the_correct_option(){
        this.form_content_fillintheblanks.push({
          order: 0,
          fillintheblank_contentable: {
            question: {
              content: ""
            },
            options: [{
              content: "",
              correct: {
                is_correct: 1
              }
            }]
          },
          fillintheblank_contentable_type: "FillintheblankSelect"
        });
      },
      add_write_the_correct_answer(){
        this.form_content_fillintheblanks.push({
          order: 0,
          fillintheblank_contentable: {
            question: {
              content: ""
            },
            options: [{
              content: "",
              correct: {
                is_correct: 1
              }
            }]
          },
          fillintheblank_contentable_type: "FillintheblankInput"
        });
      },
      async create(){
        if(this.$refs.form.validate()){
          await this.addFormContentFillintheblank(this.form_content_fillintheblanks)
          .then(response => {
            this.$toast.success(response.data.message)
            this.reset();
          })
          .catch(e => {
            this.$toast.error(e)
          })
        }
      },
      getCreateComponent(type){
        const contentTypes = {
          'FillintheblankText': () => {
            return () => import(`./misc/CreateFillInTheBlankText`);
          },
          'FillintheblankSelect': () => {
            return () => import(`./misc/CreateFillInTheBlankSelect`);
          },
          'FillintheblankInput': () => {
            return () => import(`./misc/CreateFillInTheBlankInput`);
          },
          'default': () => {
            return () => import(`./misc/CreateFillInTheBlankText`);
          }
        }

        return (contentTypes[type] || contentTypes['default'])()
      }
    },
    computed: {
      ...mapState(
        "forms", [
          "form",
        ]
      ),
      createFillInTheBlankComponents(){
        let auxComponents = [];
        for (let i = 0; i < this.form_content_fillintheblanks.length; i++) {
          const item = this.form_content_fillintheblanks[i];
          auxComponents.push(
            this.getCreateComponent(item.fillintheblank_contentable_type)
          );
        }
        return auxComponents;
      },
    }
  }
</script>
