<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
      >
        <bread-crumb
          :items="items"
        ></bread-crumb>
      </v-col>
      <template
        v-if="!loading"
      >
        <template
          v-if="getTotal > 0"
        >
          <v-col
            cols="12"
          >
            <header-submits-answers
              :course="course"
              :unit="unit"
            >
            </header-submits-answers>
          </v-col>
          <v-col
            cols="12"
          >
            <form-submit-list
              :course="course"
              :unit="unit"
            >
            </form-submit-list>
          </v-col>
        </template>
        <template
          v-else
        >
          <v-col
            cols="12"
          >
            <v-row
              class="no-gutters"
              justify="center"
            >
              <v-col
                cols="12"
                sm="8"
                class="text-center mb-4 my-12"
              >
                <h2>
                  Upps you don't have any submits on this form yet.
                </h2>
              </v-col>
            </v-row>
          </v-col>
        </template>
      </template>
      <float-button-form>
      </float-button-form>
    </v-row>
  </v-container>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  import BreadCrumb from '@/components/global/BreadCrumb';
  import HeaderSubmitsAnswers from '@/components/forms/answers/submits/HeaderSubmitsAnswers';
  import FormSubmitList from '@/components/forms/answers/submits/FormSubmitList';
  import FloatButtonForm from '@/components/forms/show/FloatButtonForm';

  export default {
    middleware: 'auth',
    data: () => ({
      items: [
        {
          text: 'Courses',
          disabled: false,
          exact: true,
          to: '/courses/',
        }
      ],
      course: [],
      unit: [],
      loading: true,
    }),
    computed: {
      ...mapState({
        form: state => state.forms.form,
        groups: state => state.forms.groups,
      }),
      getTotal(){
        let auxReturn = 0

        if (this.group == null) {
          for (let i = 0; i < this.groups.length; i++) {
            const group = this.groups[i];
            for (let y = 0; y < group.users.length; y++) {
              const user = group.users[y];
              auxReturn += user.submits.length;
            }
          }
        }else{
          for (let i = 0; i < this.groups.length; i++) {
            const group = this.groups[i];
            if (group.id == this.group.id) {
              for (let y = 0; y < group.users.length; y++) {
                const user = group.users[y];
                auxReturn += user.submits.length;
              }
              break;
            }
          }
        }

        return auxReturn;
      }
    },
    async mounted() {
      await this.getFormSubmits({
        params: {
          'course_id': this.$route.params.course,
          'unit_id': this.$route.params.unit,
          'form_id': this.$route.params.form,
        }
      })
      .then(response => {
        this.course = response.data.course;
        this.unit = response.data.unit;

        this.items.push({
          text: `${this.course.name}`,
          disabled: false,
          exact: true,
          to: `/courses/${this.course.id}/`,
        }, {
          text: `${this.unit.name}`,
          disabled: false,
          exact: true,
          to: `/courses/${this.course.id}/units/${this.unit.id}/`,
        }, {
          text: `${this.form.name}`,
          disabled: false,
          exact: true,
          to: `/courses/${this.course.id}/units/${this.unit.id}/forms/${this.form.id}/`,
        }, {
          text: `Submits`,
          disabled: true,
          exact: true,
          to: `/courses/${this.course.id}/units/${this.unit.id}/forms/${this.form.id}/answers/submits/`,
        });

        this.loading = false;
      })
      .catch(e => {
        this.$toast.error(e)
      })
    },
    methods: {
      ...mapActions({
        getFormSubmits: 'forms/getFormSubmits'
      }),
    },
    components: {
      BreadCrumb,
      HeaderSubmitsAnswers,
      FormSubmitList,
      FloatButtonForm
    },
  }
</script>
