<template>
  <v-avatar
    :color="item.children.length > 0 ? 'green darken-1' : 'red'"
    size="36"
  >
    <span class="white--text">{{ item.children.length }}</span>
  </v-avatar>
</template>

<script>
  export default {
    props: {
      item: {
        type: Object,
        required: true
      }
    }
  }
</script>
