<template>
  <v-btn
    icon
    @click="destroy()"
  >
    <v-icon>{{mdiDelete}}</v-icon>
  </v-btn>
</template>

<script>
  import { mdiDelete } from '@mdi/js';
  import { mapActions } from 'vuex';

  export default {
    props: {
      'form_content_id': {
        required: true,
        type: Number
      }
    },
    data(){
      return {
        'mdiDelete': mdiDelete
      }
    },
    methods: {
      ...mapActions({
        destroyFormContent: 'forms/destroyFormContent'
      }),
      async destroy(){
        await this.destroyFormContent(this.form_content_id)
        .then(response => {
          this.$toast.success(response.data.message)
        })
        .catch(e => {
          this.$toast.error(e)
        })
      }
    },
  }
</script>
