<template>
  <v-dialog
    v-model="dialog"
    persistent
    scrollable
    max-width="800px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        v-on="on"
        icon
      >
        <v-icon>{{mdiPencil}}</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        @submit.prevent
        onSubmit="return false;"
      >
        <v-card-title>
          <span class="headline">Update image</span>
        </v-card-title>
        <v-card-text
          class="pb-0"
        >
          <v-container>
            <v-row>
              <v-col>
                <v-file-input
                  ref='file'
                  v-model="file"
                  accept="image/png, image/jpeg, image/bmp"
                  color="deep-purple accent-4"
                  label="Select image"
                  :prepend-icon="mdiImage"
                  outlined
                  :rules="rules.files"
                  :show-size="1000"
                >
                </v-file-input>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="reset()"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="update_image()"
            :disabled="!valid"
          >
            Update image
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mdiPencil, mdiImage } from '@mdi/js'

  export default {
    props: {
      'contents': Array,
      'image': Object,
    },
    data: () => ({
      'mdiPencil': mdiPencil,
      'mdiImage': mdiImage,
      dialog: false,
      valid: false,
      file: [],
      rules: {
        files: []
      },
    }),
    mounted(){
      this.rules.files = [
        v => !!v || 'File is required',
        v => !v.size < 20000000 || 'Files size should be less than 20 MB!',
      ]
    },
    methods:{
      reset () {
        this.dialog = false;
			},
      async update_image() {
        if(this.$refs.form.validate()){
          let formData = new FormData();

          formData.append('files-0', this.file);
          formData.append('image_id', this.image.id);

          try {
            await this.$axios.post('/api/lesson_content/update/image', formData)
            .then(response => {
              this.file = [];
              this.$toast.success(response.data.message)

              let index = this.contents.findIndex(x => x.id === this.image.id)
              this.contents[index].title = response.data.image.title;
              this.contents[index].original_name = response.data.image.original_name;
              this.contents[index].src = response.data.image.src;

              this.reset();
            })
            .catch(error => {
              this.$toast.error(error.response.data.message)
            });
          } catch (error) {
            this.$toast.error(error)
          }
				}
      },
    },
  }
</script>
